<template>
  <div class="pt-6">
    <Header class="px-6 mb-7" route="/cart">
      <div slot="right-content" class="flex items-center">
        <div style="min-width: 45px;">
          <SvgIcon icon="add-red" :size="22" @click.native="$router.push({path: '/profile/address/add'})" />
        </div>
        <div class="flex justify-center w-full">
          <span class="page-title">محل تحویل سفارش</span>
        </div>
      </div>
    </Header>

    <div class="categories-section mt-3 px-6">
      <div class="header">
        <span class="label">
          آدرس محل دریافت سفارش
        </span>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <v-radio-group v-model="radioGroup">
          <div v-for="item in address_list" :key="item.address_id" class="flex my-3">
            <v-radio :value="item.address_id" color="#D81726" />
            <AddressItem :address="item" @click.native="radioGroup = item.address_id">
              <SvgIcon icon="edit" @click.native="$router.push({path: '/profile/address/' + item.address_id})" />
            </AddressItem>
          </div>
        </v-radio-group>
      </div>
      <div v-if="isEmpty" style="text-align: center;text-align: -webkit-center;">
        <b>شما تا کنون آدرسی برای خود ثبت نکرده اید</b>
        <br>
        <br>
        <a @click="$router.push({path: '/profile/address/add' })"><b>ثبت اولین آدرس</b></a>
      </div>
    </div>

    <div class="flex justify-center navigation-bottom-mobile-box">
      <FormButton name="ادامه سفارش" :on-click="()=>{submit()}" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'CartProductsPage',
  layout: 'full',
  middleware: 'auth',
  async asyncData ({ $content, $axios, store, route }) {
    const response = await $axios.get('address')
    if (!response.data.error) {
      store.commit('user/updateAddressList', response.data.data)
    }
    return { }
  },
  computed: {
    productsLength () {
      return this.$store.state.cart.products.length
    },
    addressSelected () {
      return this.$store.state.cart.addressSelected
    },
    address_list () {
      return this.$store.state.user.address_list
    },
    isEmpty () {
      return this.$store.state.user.address_list.length === 0
    },
    radioGroup: {
      get () {
        return this.$store.state.cart.addressSelected
      },
      set (val) {
        this.$store.commit('cart/setAddressSelected', val)
      }
    }
  },
  mounted () {
    if (this.productsLength === 0) {
      this.$router.push({ path: '/cart' })
    } else {
      // this.fetchAddress()
    }
  },
  methods: {
    fetchAddress () {
      this.isLoading = true
      this.$axios
        .get('address?address_id={"type":"sort","value":"DESC"}')
        .then((response) => {
          if (!response.data.error) {
            this.$store.commit('user/updateAddressList', response.data.data)
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.isLoading = false
        })
    },
    submit () {
      if (this.addressSelected) {
        this.$router.push({ path: '/cart/delivery' })
      } else {
        this.$toast.warning('لطفا آدرسی برای خود انتخاب کنید')
      }
    },
    edit (item) {
      this.$router.push({ path: 'profile/address/' + item.address_id })
    },
    remove () {
      console.log('hello')
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.navigation-bottom-mobile-box {
  position: fixed;
  bottom: 17px;
  width: 100%;
  padding: 0 20px 0 20px;
}
.categories-section {
  .header {
    .label {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #000000;
    }
  }
  .body {
    .category-title {
      margin-top: 8px;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 17px;
      text-align: center;
      color: #474747;
    }
  }
}
</style>
