<template>
  <div class="pt-6">
    <Header class="px-6 mb-7" route="/cart/address">
      <div slot="right-content" class="flex items-center">
        <div style="min-width: 45px;" />
        <div class="flex justify-center w-full">
          <span class="page-title">زمان تحویل سفارش</span>
        </div>
      </div>
    </Header>

    <div class="categories-section mt-3 px-6">
      <div class="header">
        <span class="label">
          زمان ارسال سفارش
        </span>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <v-radio-group v-model="radioGroup">
          <div v-for="item in items" :key="item.shipping_id" class="flex my-3">
            <v-radio :value="item.shipping_id" color="#D81726" />
            <div class="delivery-mini-box w-full mr-4 p-4 shadow-drop" @click="radioGroup = item.shipping_id">
              <div class="mb-2">
                <span>
                  {{ item.title }}
                </span>
                -
                <span>
                  {{ item.description }}
                </span>
              </div>
              <div class="mb-2">
                <span>
                  هزینه ارسال: <Price :value="item.price" />
                </span>
              </div>
              <div class="mb-2">
                <span>
                  حداقل مبلغ سفارش: <Price :value="item.minOrderAmount" />
                </span>
              </div>
            </div>
          </div>
        </v-radio-group>
      </div>
    </div>

    <div class="flex justify-center navigation-bottom-mobile-box">
      <FormButton name="ادامه سفارش" :run-loading="formLoading" :on-click="()=>{submit()}" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'CartDeliveriesPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      formLoading: false
    }
  },
  computed: {
    productsLength () {
      return this.$store.state.cart.products.length
    },
    products () {
      return this.$store.state.cart.products
    },
    items () {
      return this.$store.state.cart.deliveryTypes
    },
    isEmpty () {
      return this.$store.state.cart.deliveryTypes.length === 0
    },
    radioGroup: {
      get () {
        return this.$store.state.cart.deliverySelected
      },
      set (val) {
        this.$store.commit('cart/setDeliverySelected', val)
      }
    },
    deliverySelected () {
      return this.$store.state.cart.deliverySelected
    },
    productsTotalPrice () {
      let result = 0
      this.products.forEach((item) => {
        if (item.discount === 0) {
          result += item.price * item.quantity
        } else {
          result += (item.price - item.price_discount) * item.quantity
        }
      })
      return result
    }
  },
  mounted () {
    if (this.productsLength === 0) {
      this.$router.push({ path: '/cart' })
    } else {
      this.fetchDeliveries()
    }
  },
  methods: {
    fetchDeliveries () {
      this.isLoading = true
      this.$axios
        .get('shipping?shipping_id={"type":"sort","value":"DESC"}')
        .then((response) => {
          if (!response.data.error) {
            this.$store.commit('cart/updateDeliveries', response.data.data)
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.isLoading = false
        })
    },
    submit2 () {
      if (this.deliverySelected) {
        this.createInvoice()
      } else {
        this.$toast.warning('لطفا روش ارسال سفارش را انتخاب کنید')
      }
    },
    submit () {
      if (this.deliverySelected) {
        let res = null
        this.items.forEach((item) => {
          if (item.shipping_id === this.deliverySelected) {
            res = item
          }
        })
        if (this.productsTotalPrice >= res.minOrderAmount) {
          this.createInvoice()
        } else {
          this.$toast.warning('حداقل مبلغ سفارش شما کمتر از مبلغ مشخص شده است')
        }
      } else {
        this.$toast.warning('لطفا روش ارسال سفارش را انتخاب کنید')
      }
    },
    createInvoice () {
      const data = new FormData()
      this.products.forEach((item, index) => {
        data.append('items[product][' + index + '][product_id]', item.product_id)
        data.append('items[product][' + index + '][description]', 'description')
        data.append('items[product][' + index + '][count]', item.quantity)
      })
      data.append('items[shipping_id]', this.deliverySelected)
      this.formLoading = true
      this.$axios
        .post('invoice', data)
        .then((response) => {
          if (response.data.error) {
            this.$toast.warning(response.data.error.message)
          } else if (response.data.data.error) {
            this.$toast.warning(response.data.data.error)
          } else {
            this.$toast.success('فاکتور شما ایجاد شد')
            this.$store.commit('cart/setInvoiceInfo', response.data.data)
            this.$router.push({ path: '/cart/invoice' })
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.formLoading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.navigation-bottom-mobile-box {
  position: fixed;
  bottom: 17px;
  width: 100%;
  padding: 0 20px 0 20px;
}
.categories-section {
  .header {
    .label {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #000000;
    }
  }
  .body {
    .category-title {
      margin-top: 8px;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 17px;
      text-align: center;
      color: #474747;
    }
  }
}
.delivery-mini-box {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  text-align: right;
  span {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #474747;
  }
}
</style>
