<template>
  <div class="pt-6">
    <Header class="px-6 mb-7" route="/">
      <div slot="right-content" class="flex items-center">
        <div style="min-width: 55px;">
          <span v-if="!isEmpty" class="remove-all" @click="confirmClear()">حذف کالاها</span>
        </div>
        <div class="flex justify-center w-full">
          <span class="page-title">سبد خرید</span>
        </div>
      </div>
    </Header>

    <div v-if="!isEmpty" class="flex justify-between items-center mt-3 mb-4 amount-box">
      <div>
        <span>
          تعداد اقلام: {{ productsLength }}
        </span>
      </div>
      <div class="total-amount">
        <span>مبلغ قابل پرداخت: </span>
        <Price :value="productsTotalPrice" />
      </div>
    </div>

    <div class="px-6 mb-32">
      <ProductOrder
        v-for="item in products"
        :key="item.product_id"
        :product="item"
        has-actions
        class="mb-3"
        @change="updateProducts"
      />
    </div>

    <div v-if="isEmpty" class="px-6 my-16">
      <TemplateCartEmpty />
    </div>

    <div class="flex justify-center navigation-bottom-mobile-box">
      <FormButton name="ادامه سفارش" :disabled="isEmpty" :on-click="()=>{$router.push({path: '/cart/address'})}" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'CartProductsPage',
  layout: 'full',
  data () {
    return {
      productsTotalPrice: 0
    }
  },
  computed: {
    products () {
      return this.$store.state.cart.products
    },
    productsLength () {
      return this.$store.state.cart.products.length
    },
    isEmpty () {
      return this.productsLength === 0
    }
  },
  mounted () {
    this.updateProducts()
  },
  methods: {
    async confirmClear () {
      try {
        await this.$confirmModal(
          {
            title: 'حذف کالا ها',
            // eslint-disable-next-line quotes
            message: `آیا از حذف تمام کالاها از سبد خرید مطمعن هستید؟`,
            button: {
              no: 'لغو',
              yes: 'حذف'
            },
            callback: (confirm) => {
              if (confirm) {
                this.clear()
              }
            }
          }
        )
      } catch (e) {
        this.$toasted.show(e)
        return false
      }
    },
    clear () {
      this.$store.commit('cart/clear')
    },
    remove () {
      this.$store.commit('cart/remove', this.product)
    },
    minus () {
      if (this.product.quantity === 1) { this.$store.commit('cart/remove', this.product) } else { this.$store.commit('cart/minus', this.product) }
    },
    plus () {
      if (this.product.quantity === this.product.count) {
        this.$toast.warning(`موجودی این کالا در انبار ${this.product.count} عدد میباشد`)
      } else {
        this.$store.commit('cart/plus', this.product)
      }
    },
    updateProducts () {
      let result = 0
      this.products.forEach((item) => {
        if (item.discount === 0) {
          result += item.price * item.quantity
        } else {
          result += (item.price - item.price_discount) * item.quantity
        }
      })
      this.productsTotalPrice = result
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.remove-all {
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  color: #C3C3C3;
}
.amount-box {
  height: 57px;
  background: #FCFCFC;
  padding: 20px;
  .total-amount {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #D81726;
  }
}
.navigation-bottom-mobile-box {
  position: fixed;
  bottom: 17px;
  width: 100%;
  padding: 0 20px 0 20px;
}
</style>
