<template>
  <div class="pt-6">
    <Header class="px-6 mb-7" route="/cart/delivery">
      <div slot="right-content" class="flex items-center">
        <div style="min-width: 45px;" />
        <div class="flex justify-center w-full">
          <span class="page-title">فاکتور خرید</span>
        </div>
      </div>
    </Header>

    <div v-if="invoice" class="mt-3">
      <InvoiceDetails :info="invoiceDetail" />
    </div>

    <div class="px-6 my-6">
      <FormTextArea :v-model.sync="description" height="120px" label="توضیحات سفارش" />
    </div>

    <div v-if="invoice" class="px-6 mb-32">
      <ProductOrder
        v-for="item in products"
        :key="item.product_id"
        :product="item"
        class="mb-3"
        invoice
      />
    </div>

    <div class="flex justify-center navigation-bottom-mobile-box">
      <FormButton name="ادامه سفارش" :on-click="()=>{$router.push({path: '/cart/payments'})}" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'CartInvoicePage',
  layout: 'full',
  middleware: 'auth',
  computed: {
    invoice () {
      return this.$store.state.cart.invoice
    },
    products () {
      const list = []
      if (this.invoice) {
        this.invoice.items.forEach((item, index) => {
          if (item.products) {
            // eslint-disable-next-line prefer-const
            let xxx = item.products[0]
            xxx.length = item.count
            list.push(xxx)
          }
        })
      }
      return list
    },
    totalProductsPrice () {
      let price = 0
      price = this.invoice.amount - this.shipping
      return price
    },
    shipping () {
      let obj = []
      if (this.invoice) {
        this.invoice.items.forEach((item, index) => {
          if (item.shipping) {
            obj = item.price
          }
        })
      }
      return obj
    },
    productsLength () {
      return this.products.length
    },
    invoiceDetail () {
      return {
        productsCount: this.productsLength,
        beforPayment: this.invoice.amount,
        profit: 0,
        afterPayment: this.invoice.total_amount,
        totalProductsPrice: this.totalProductsPrice,
        totalPrice: this.invoice.total_amount,
        shipingPrice: this.shipping ? this.shipping : null
      }
    },
    description: {
      get () {
        return this.$store.state.cart.description
      },
      set (val) {
        this.$store.commit('cart/updateDescription', val)
      }
    }
  },
  mounted () {
    if (this.productsLength === 0) {
      this.$router.push({ path: '/cart' })
    } else {
      // this.fetchInvoice()
    }
    // this.fetchInvoice()
  },
  methods: {
    fetchInvoice () {
      this.isLoading = true
      this.$axios
        .get('invoice/20')
        .then((response) => {
          if (!response.data.error) {
            this.$store.commit('cart/setInvoiceInfo', response.data.data)
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.isLoading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.navigation-bottom-mobile-box {
  position: fixed;
  bottom: 17px;
  width: 100%;
  padding: 0 20px 0 20px;
}
.categories-section {
  .header {
    .label {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #000000;
    }
  }
  .body {
    .category-title {
      margin-top: 8px;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 17px;
      text-align: center;
      color: #474747;
    }
  }
}
.delivery-mini-box {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  text-align: right;
  span {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #474747;
  }
}
</style>
