<template>
  <div class="pt-6">
    <Header class="px-6 mb-7" route="/cart/invoice">
      <div slot="right-content" class="flex items-center">
        <div style="min-width: 45px;" />
        <div class="flex justify-center w-full">
          <span class="page-title">پرداخت سفارش</span>
        </div>
      </div>
    </Header>

    <div class="categories-section mt-3 px-6">
      <div class="header">
        <span class="label">
          روش پرداخت
        </span>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <v-radio-group v-model="peymentSelected">
          <div v-for="item in items" :key="item.payment_id" class="flex my-3">
            <v-radio :value="item.value" color="#D81726" />
            <div class="delivery-mini-box w-full mr-4 p-4 shadow-drop" @click="peymentSelected = item.value">
              <span>
                {{ item.title }}
              </span>
            </div>
          </div>
        </v-radio-group>
      </div>
    </div>

    <div class="flex justify-center navigation-bottom-mobile-box">
      <FormButton name="ادامه سفارش" :run-loading="paymentFormLoading" :on-click="()=>{payment()}" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'CartPaymentsPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      peymentSelected: 'offline',
      paymentFormLoading: false
    }
  },
  computed: {
    invoice () {
      return this.$store.state.cart.invoice
    },
    description () {
      return this.$store.state.cart.description
    },
    addressSelected () {
      return this.$store.state.cart.addressSelected
    },
    deliverySelected () {
      return this.$store.state.cart.deliverySelected
    },
    credit () {
      return this.$auth.user.credit.amount
    },
    items () {
      const list = []
      list.push(
        {
          payment_id: 1,
          value: 'offline',
          title: 'پرداخت در محل'
        }
      )
      list.push(
        {
          payment_id: 2,
          value: 'online',
          title: 'پرداخت آنلاین'
        }
      )
      list.push(
        {
          payment_id: 3,
          value: 'credit',
          title: 'استفاده از اعتبار حساب کاربری' + ' ( ' + this.credit + ' ) '
        }
      )
      return list
    }
  },
  mounted () {
    if (this.productsLength === 0) {
      this.$router.push({ path: '/cart' })
    } else {
      // this.fetchInvoice()
    }
  },
  methods: {

    payment () {
      const bodyFormData = new FormData()
      bodyFormData.append('invoice_id', this.invoice.invoice_id)
      bodyFormData.append('type', this.peymentSelected)
      bodyFormData.append('action', 'product')
      bodyFormData.append('address_id', this.addressSelected)
      bodyFormData.append('shipping_id', this.deliverySelected)
      bodyFormData.append('note', this.description)
      this.paymentFormLoading = true
      this.$axios
        .post('payment', bodyFormData)
        .then((response) => {
          if (response.data.error) {
            this.$toast.warning(response.data.error.message)
          } else if (response.data.data.error) {
            this.$toast.warning(response.data.data.error.message)
          } else {
            if (response.data.data.url) {
              window.history.pushState(null, null, window.location.href)
              location.replace(response.data.data.url)
            } else if (response.data.data.type === 'offline') {
              this.$router.push({ path: '/paymentResult?status=0&orderId=' + response.data.data.order.order_id + '&tranId=' + response.data.data.order.trans_id })
            } else if (response.data.data.type === 'credit') {
              this.$router.push({ path: '/paymentResult?status=0&orderId=' + response.data.data.order.order_id + '&tranId=' + response.data.data.order.trans_id })
            }
            this.$store.commit('cart/clear')
          }

          // if (response.data.error) {
          //   this.$toast.warning(response.data.error.message)
          // }
          // if (response.data.data.message === 'از کیف پول کاربر کسر شد') {
          //   this.$store.commit('cart/clear')
          //   this.$router.push({ path: '/payment/success?invoiceId=' })
          // }
          // if (response.data.error) {
          //   this.$toast.warning(response.data.error.message)
          // } else if (response.data.data.error) {
          //   this.$toast.warning(response.data.error.message)
          // } else {
          //   if (response.data.data.url) {
          //     window.history.pushState(null, null, window.location.href)
          //     location.replace(response.data.data.url)
          //   }
          //   this.$store.commit('cart/clear')
          //   if (response.data.data.status === 'success') {
          //     this.$router.push({ path: '/payment/success?invoiceId=' + response.data.data.invoice_id })
          //   }
          // }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.paymentFormLoading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.navigation-bottom-mobile-box {
  position: fixed;
  bottom: 17px;
  width: 100%;
  padding: 0 20px 0 20px;
}
.categories-section {
  .header {
    .label {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #000000;
    }
  }
  .body {
    .category-title {
      margin-top: 8px;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 17px;
      text-align: center;
      color: #474747;
    }
  }
}
.delivery-mini-box {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  text-align: right;
  span {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #474747;
  }
}
</style>
