<template>
  <div class="pt-6 pb-12">
    <ValidationObserver ref="shippingForm" v-slot="{ invalid }">
      <Header class="px-6 mb-7" route="/panel/shippings">
        <div slot="right-content" class="flex items-center">
          <div style="min-width: 45px;" />
          <div class="flex justify-center w-full">
            <span class="page-title">{{ isNew ? 'افزودن کالا جدید' : 'ویرایش کالا' }}</span>
          </div>
        </div>
      </Header>

      <div class="px-6">
        <div class="mt-8">
          <FormInput label="عنوان" :v-model.sync="shipping.title" :validate="{required: true}" height="110px" />
        </div>
        <div>
          <FormInput vType="number" label="قیمت" :v-model.sync="shipping.price" :validate="{required: true, numeric: true}" height="110px" />
        </div>
        <div>
          <FormInput vType="number" label="حداقل مبلغ سفارش" :v-model.sync="shipping.minOrderAmount" :validate="{required: true, numeric: true}" height="110px" />
        </div>
        <div class="pb-8">
          <FormTextArea :v-model.sync="shipping.description" :validate="{required: true}" height="120px" label="توضیحات" />
        </div>
      </div>

      <div class="flex justify-center navigation-bottom-mobile-box">
        <FormButton :name="isNew ? 'افزودن ' : 'ویرایش '" :disabled="invalid" :run-loading="formLoading" :on-click="()=>{submit()}" />
      </div>
    </ValidationObserver>
  </div>
</template>

<script>
export default {
  name: 'PanelProductsAddPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      shipping: {
        title: '',
        price: '0',
        minOrderAmount: '0',
        description: '',
        status: '1'
      },
      formLoading: false
    }
  },
  computed: {
    isNew () {
      return this.$route.params.id === 'add'
    }
  },
  mounted () {
    if (!this.isNew) {
      this.fetchShipping()
    }
  },
  methods: {
    fetchShipping () {
      this.formLoading = true
      this.$axios
        .get('/shipping/' + this.$route.params.id)
        .then((response) => {
          this.shipping = response.data.data
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.formLoading = false
        })
    },
    async submit () {
      try {
        const isValid = await this.$refs.shippingForm.validate()
        if (!isValid) {
          this.$toast.warning('اطلاعات وارد شده صحیح نمی باشد')
          return
        }
        this.formLoading = true
        if (this.isNew) {
          await this.$axios.post('shipping/', this.fixData())
          this.$toast.success('روش اضافه شد')
          this.$router.push({ path: '/panel/shippings' })
        } else {
          await this.$axios.post('shipping/' + this.$route.params.id, this.fixData())
          this.$toast.success('روش ویرایش شد')
        }
        this.formLoading = false
      } catch (e) {
        // this.$toast.warning(e)
        this.formLoading = false
      }
    },
    fixData () {
      const bodyFormData = new FormData()
      bodyFormData.append('title', this.shipping.title)
      bodyFormData.append('minOrderAmount', this.shipping.minOrderAmount)
      bodyFormData.append('price', this.shipping.price)
      bodyFormData.append('status', this.shipping.status)
      bodyFormData.append('description', this.shipping.description)
      if (!this.isNew) {
        bodyFormData.append('_method', 'PUT')
      }
      return bodyFormData
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.remove-all {
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  color: #C3C3C3;
}
.amount-box {
  height: 57px;
  background: #FCFCFC;
  padding: 20px;
  .total-amount {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #D81726;
  }
}
.navigation-bottom-mobile-box {
  position: fixed;
  bottom: 17px;
  width: 100%;
  padding: 0 20px 0 20px;
}
</style>
