<template>
  <div class="pt-6 pb-12">
    <ValidationObserver ref="categoryForm" v-slot="{ invalid }">
      <Header class="px-6 mb-7" route="/panel/categories">
        <div slot="right-content" class="flex items-center">
          <div style="min-width: 45px;" />
          <div class="flex justify-center w-full">
            <span class="page-title">{{ isNew ? 'افزودن دسته بندی جدید' : 'ویرایش دسته بندی' }}</span>
          </div>
        </div>
      </Header>

      <div class="px-6">
        <div>
          <FormFilePreview label="تصویر دسته بندی" :image="icon" @input="selectImage" />
        </div>
        <div class="mt-8">
          <FormInput :v-model.sync="category.title" :validate="{required: true}" label="نام دسته بندی" height="110px" />
        </div>
        <div class="">
          <FormInput :v-model.sync="category.description" :validate="{required: true}" label="توضیحات" height="110px" />
        </div>
      </div>

      <div class="flex justify-center navigation-bottom-mobile-box">
        <FormButton :name="isNew ? 'افزودن دسته بندی' : 'ویرایش دسته بندی'" :disabled="invalid" :run-loading="formLoading" :on-click="()=>{submit()}" />
      </div>
    </ValidationObserver>
  </div>
</template>

<script>
export default {
  name: 'PanelCategoriesAddPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      category: {
        title: '',
        description: ''
      },
      image: null,
      icon: null,
      formLoading: false
    }
  },
  computed: {
    isNew () {
      return this.$route.params.id === 'add'
    }
  },
  mounted () {
    if (!this.isNew) {
      this.fetchCategory()
    }
  },
  methods: {
    fetchCategory () {
      this.isLoadingCategories = true
      this.$axios
        .get('/category/' + this.$route.params.id)
        .then((response) => {
          this.category = response.data.data
          if (this.category.icon) {
            this.icon = this.category.icon.file
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.isLoadingCategories = false
        })
    },
    async submit () {
      try {
        const isValid = await this.$refs.categoryForm.validate()
        if (!isValid) {
          throw new Error('لطفا اطلاعات را به درستی وارد کنید')
        }
        this.formLoading = true
        if (this.isNew) {
          if (!this.image) {
            this.$toast.warning('لطفا تصویر دسته بندی را انتخاب کنید')
            this.formLoading = false
            return
          }
          const result = await this.$axios.post('category/', this.fixData())
          this.$toast.success('دسته ایجاد شد')
          this.$router.push({ path: '/panel/categories/' + result.data.data.category_id })
        } else {
          await this.$axios.post('category/' + this.$route.params.id, this.fixData())
          this.$toast.success('دسته ویرایش شد')
        }
        this.formLoading = false
      } catch (e) {
        this.$toast.warning(e)
        console.log(e)
        this.formLoading = false
      }
    },
    fixData () {
      const bodyFormData = new FormData()
      bodyFormData.append('title', this.category.title)
      bodyFormData.append('description', this.category.description)
      if (this.image) {
        bodyFormData.append('file', this.image)
      }
      if (!this.isNew) {
        bodyFormData.append('_method', 'PUT')
      }
      return bodyFormData
    },
    selectImage (file) {
      this.image = file
      this.icon = file
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.remove-all {
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  color: #C3C3C3;
}
.amount-box {
  height: 57px;
  background: #FCFCFC;
  padding: 20px;
  .total-amount {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #D81726;
  }
}
.navigation-bottom-mobile-box {
  position: fixed;
  bottom: 17px;
  width: 100%;
  padding: 0 20px 0 20px;
}
</style>
