<template>
  <div class="pt-6">
    <Header class="px-6 mb-7" route="/panel">
      <div slot="right-content" class="flex items-center">
        <div style="min-width: 45px;">
          <!-- <SvgIcon icon="add-red" @click.native="()=>{$router.push({path: '/panel/userRoles/add'})}" /> -->
        </div>
        <div class="flex justify-center w-full">
          <span class="page-title">لیست کاربران</span>
        </div>
      </div>
    </Header>

    <div class="flex justify-center items-center mt-3 mb-4 amount-box">
      <div class="total-amount">
        تعداد کل کاربران: {{ totalMemberCount }}
      </div>
    </div>

    <div class="mb-6 px-6">
      <UserMini v-for="(item, index) in members" :key="index" :user="item" :showRole="false" class="mb-3">
        <!-- <SvgIcon icon="edit" /> -->
        <!-- <SvgIcon icon="close-red" class="mr-2" @click.native="confirmRemove(item)" /> -->
      </UserMini>
      <scroll-loader :loader-method="fetchData" :loader-disable="disable" loader-color="#D81726" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'PanelProductsListPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      disable: false,
      page: 1,
      pageSize: 10,
      totalMemberCount: '',
      members: []
    }
  },
  methods: {
    fetchData () {
      this.$axios
        .get('/user?user_id={"type":"sort","value":"DESC"}', {
          params: {
            page: this.page++,
            limit: this.pageSize
          }
        })
        .then((response) => {
          this.members = [...this.members, ...response.data.data]
          this.disable = response.data.data.length < this.pageSize
          this.totalMemberCount = response.data.meta.total
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
        })
    },
    async confirmRemove (item) {
      // eslint-disable-next-line no-unreachable
      try {
        await this.$confirmModal(
          {
            title: 'حذف نقش',
            message: 'آیا از حذف نقش ' + item.role + ' برای ' + item.name + ' هستید؟',
            button: {
              no: 'لغو',
              yes: 'حذف'
            },
            callback: (confirm) => {
              if (confirm) {
                this.remove(item)
              }
            }
          }
        )
      // eslint-disable-next-line no-unreachable
      } catch (e) {
        this.$toasted.show(e)
        return false
      }
    },
    remove (item) {
      const bodyFormData = new URLSearchParams()
      bodyFormData.append('mobile', item.mobile)
      bodyFormData.append('role', item.role_key)

      const config = {
        method: 'delete',
        url: 'role/assign/user',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        data: bodyFormData
      }

      this.$axios(config)
        .then((response) => {
          console.log(response)
          if (response.data.data.status !== 200) {
            this.$toast.warning('انجام نشد')
          } else {
            this.$toast.success('انجام شد')
            if (this.$auth.user.user_id === item.user_id) {
              this.fetchUser()
            }
            // this.removeUserFromList(item)
            this.fetchRoles()
            this.fetchUsers()
          }
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    removeUserFromList (user) {
      this.items.forEach((item, index) => {
        if (item.user_id === user.user_id) {
          if (item.role_key === user.role_key) {
            this.items.splice(index, 1)
          }
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.filter-btn {
  min-width: 49px;
  height: 46px;
  background: #D81726;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-header span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.section-filters {
  .filters-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #023047;
  }
}
.amount-box {
  height: 57px;
  background: #FCFCFC;
  padding: 20px;
}
</style>

<style>
.total-amount {
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #D81726;
}
</style>
