<template>
  <div class="pt-6">
    <Header class="px-6 mb-7" route="/panel">
      <div slot="right-content" class="flex items-center">
        <div style="min-width: 45px;">
          <SvgIcon icon="add-red" @click.native="()=>{$router.push({path: '/panel/products/add'})}" />
        </div>
        <div class="flex justify-center w-full">
          <span class="page-title">مشاهده کالاها</span>
        </div>
      </div>
    </Header>

    <FilterModal ref="filterComponent" class="px-6" @filter="filterRequest" />

    <div class="mb-6 px-6">
      <ProductManage v-for="item in products" :key="item.product_id" :product="item" class="mb-3">
        <SvgIcon icon="edit" @click.native="$router.push({ path: '/panel/products/' + item.product_id })" />
        <SvgIcon icon="close-red" class="mr-2" @click.native="confirmRemove(item)" />
      </ProductManage>
      <scroll-loader ref="scrollLoader" :loader-method="fetchData" :loader-disable="disable" loader-color="#D81726" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'PanelProductsListPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      disable: false,
      page: 1,
      pageSize: 10,
      filterModel: null,
      products: []
    }
  },
  mounted () {
    this.filterModel = this.$refs.filterComponent.stateSearch()
  },
  methods: {
    fetchData () {
      this.$axios
        .get('/product?product_id={"type":"sort","value":"DESC"}' + this.filterModel, {
          params: {
            page: this.page++,
            limit: this.pageSize
          }
        })
        .then((response) => {
          if (!response.data.error) {
            this.products = [...this.products, ...response.data.data]
            this.disable = response.data.data.length < this.pageSize
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
        })
    },
    filterRequest (filters) {
      this.filterModel = filters
      this.page = 1
      this.products = []
      this.$refs.scrollLoader.loaderMethod()
    },
    async confirmRemove (item) {
      try {
        await this.$confirmModal(
          {
            title: 'حذف محصول',
            // eslint-disable-next-line quotes
            message: `آیا از حذف محصول ${item.title} مطمعن هستید؟`,
            button: {
              no: 'لغو',
              yes: 'حذف'
            },
            callback: (confirm) => {
              if (confirm) {
                this.remove(item)
              }
            }
          }
        )
      } catch (e) {
        this.$toasted.show(e)
        return false
      }
    },
    remove (item) {
      this.$axios
        .delete('product/' + item.product_id)
        .then((response) => {
          if (!response.data.error) {
            this.products = this.products.filter(category => category.product_id !== item.product_id)
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
</style>
