<template>
  <div class="flex justify-center items-center" style="height: 93vw;">
    <div>
      <div class="flex justify-center items-center">
        <v-icon size="120">
          mdi-cart-outline
        </v-icon>
      </div>
      <div class="mt-8">
        سبد خرید شما خالی است
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CartEmptyComponent'
}
</script>
