<template>
  <div class="chart-box">
    <div class="flex justify-between items-center mb-8">
      <div>
        <SvgIcon icon="chart-histogram" :size="20" />
        <span class="mr-3 label">میزان فروش</span>
      </div>
      <div>
        <FormSelect
          :options.sync="filters"
          :v-model.sync="selectedFilter"
          option-key-value="key"
          option-value="title"
          height="48px"
          width="120px"
          @change="fetchTotalOrdersPrice()"
        />
      </div>
    </div>
    <div class="flex justify-center amount mb-3">
      <ElementsLoading v-if="isLoadingTotalOrdersPrice" />
      <Price v-else class-name="amount" :value="totalOrdersPrice" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'OrdersChartBoxComponent',
  data () {
    return {
      selectedFilter: 'day',
      filters: [
        {
          key: 'day',
          title: 'روزانه'
        },
        {
          key: 'weekend',
          title: 'هفتگی'
        },
        {
          key: 'month',
          title: 'ماهانه'
        },
        {
          key: 'threeMonth',
          title: 'سه ماهه'
        }
      ],
      isLoadingTotalOrdersPrice: false,
      totalOrdersPrice: '',
      isLoading: false
    }
  },
  mounted () {
    this.fetchTotalOrdersPrice()
  },
  methods: {
    fetchTotalOrdersPrice () {
      this.isLoadingTotalOrdersPrice = true
      this.$axios
        .get('invoiceAmount?' + this.filter())
        .then((response) => {
          if (!response.data.error) {
            this.totalOrdersPrice = response.data.data.total_amount
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.isLoadingTotalOrdersPrice = false
        })
    },
    filter () {
      let from = ''
      let to = ''
      if (this.selectedFilter === 'day') {
        from = this.$moment().format('YYYY-MM-DD')
        to = this.$moment().format('YYYY-MM-DD')
      }
      if (this.selectedFilter === 'weekend') {
        from = this.$moment().subtract(7, 'day').format('YYYY-MM-DD')
        to = this.$moment().format('YYYY-MM-DD')
      }
      if (this.selectedFilter === 'month') {
        from = this.$moment().subtract(1, 'jMonth').format('YYYY-MM-DD')
        to = this.$moment().format('YYYY-MM-DD')
      }
      if (this.selectedFilter === 'threeMonth') {
        from = this.$moment().subtract(3, 'jMonth').format('YYYY-MM-DD')
        to = this.$moment().format('YYYY-MM-DD')
      }
      return 'from=' + from + '&to=' + to
    }
  }
}
</script>

<style lang="scss" scoped>
.chart-box {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding: 14px;
  .label {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #474747;
    font-family: "IranSans-Medium";
  }
}
</style>
