<template>
  <div class="pt-6 pb-32">
    <ValidationObserver ref="addressForm" v-slot="{ invalid }">
      <Header class="px-6 mb-7">
        <div slot="right-content" class="flex items-center">
          <div style="min-width: 45px;" />
          <div class="flex justify-center w-full">
            <span class="page-title">افزودن آدرس جدید</span>
          </div>
        </div>
      </Header>

      <div class="categories-section mt-3 px-6">
        <div class="header">
          <span class="label">
            آدرس دقیق شما بر روی نقشه
          </span>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-3">
          <client-only>
            <SelectMap
              ref="returnPathMap"
              :marker-coordinates="markerCoordinates"
              :map-center="markerCoordinates"
              :marker-radius-error="1"
              map-height="283px"
              map-only-show
              :v-model.sync="markerCoordinates"
              map-width="100%"
              @change="checkCity()"
            />
          </client-only>

          <div class="my-6">
            <FormInput :v-model.sync="address.recipient" :validate="{required: true}" label="نام تحویل گیرند" />
          </div>

          <div class="my-6">
            <FormInput :v-model.sync="address.phone" :validate="{required: true}" label="شماره موبایل گیرنده" />
          </div>

          <div class="my-6">
            <FormInput :v-model.sync="address.mainStreet" :validate="{required: true}" label="آدرس کامل گیرنده" />
          </div>
        </div>
      </div>

      <div class="flex justify-center navigation-bottom-mobile-box">
        <FormButton :name="isNew ? 'افزودن آدرس' : 'ویرایش آدرس'" :disabled="invalid" :run-loading="formLoading" :on-click="()=>{submit()}" />
      </div>

      <v-dialog v-model="address_popup">
        <div v-if="tempAddress" class="bg-white p-4 rounded-card-popup migmig-popup">
          <div class="flex justify-center" style="font-size: 15px;color: #535353;">
            آدرس شما
          </div>
          <div class="mt-3">
            <FormTextArea :v-model.sync="tempAddress" label="ادرس پیشنهادی" height="105px" />
          </div>
          <div class="flex justify-between mt-6">
            <FormButton
              :run-loading="formLoading"
              name="آدرس سیستم"
              width="145px"
              height="46px"
              :on-click="()=>{address_popup = false; address.mainStreet = tempAddress;}"
            />
            <FormButton
              name="آدرس خودم"
              width="115px"
              height="46px"
              bg-color="#474747"
              :run-loading="formLoading"
              :on-click="()=>{address_popup = false; tempAddress = ''}"
            />
          </div>
        </div>
      </v-dialog>
    </ValidationObserver>
  </div>
</template>

<script>
export default {
  name: 'AddNewAddressPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      markerCoordinates: [53.542056, 36.695078],
      address: {
        recipient: '',
        phone: '',
        mainStreet: ''
      },
      formLoading: false,
      tempAddress: '',
      address_popup: false,
      validCity: false
    }
  },
  computed: {
    isNew () {
      return this.$route.params.id === 'add'
    }
  },
  mounted () {
    if (!this.isNew) {
      this.fetchAddress()
    }
  },
  methods: {
    fetchAddress () {
      this.formLoading = true
      this.$axios
        .get('/address/' + this.$route.params.id)
        .then((response) => {
          this.address = response.data.data
          // this.markerCoordinates = [this.address.longitude, this.address.latitude]
          // this.markerCoordinates = [53.619056, 36.723078]
          setTimeout(() => {
            this.markerCoordinates = [parseFloat(this.address.longitude), parseFloat(this.address.latitude)]
          }, 1000)
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.formLoading = false
        })
    },
    checkCity () {
      fetch('https://api.neshan.org/v4/reverse?lat=' + this.markerCoordinates[1] + '&lng=' + this.markerCoordinates[0],
        {
          headers: {
            'Api-Key': 'service.IZMLlEnGF6hzHoOqO8DnLSG2KXU5bUZIUMPEmg9q'
          }
        }
      )
        .then(response => response.json())
        .then((data) => {
          if (data.city === 'بهشهر') {
            this.tempAddress = data.formatted_address
            this.address_popup = true
            this.validCity = true
          } else {
            this.$toast.warning('فقط بهشهر داداش')
            this.validCity = false
          }
        })
    },
    async submit () {
      if (!this.validCity) {
        this.$toast.warning('شهر بهشر را در نقشه انتخاب کنید')
        // return
      }
      try {
        const isValid = await this.$refs.addressForm.validate()
        if (!isValid) {
          throw new Error('لطفا اطلاعات را به درستی وارد کنید')
        }
        this.formLoading = true
        if (this.isNew) {
          // eslint-disable-next-line no-unused-vars
          const result = await this.$axios.post('address/', this.fixData())
          this.$toast.success('آدرس جدید ایجاد شد')
          this.$router.go(-1)
          // this.$router.push({ path: '/panel/categories/' + result.data.data.address_id })
        } else {
          await this.$axios.put('address/' + this.$route.params.id, this.fixData())
          this.$toast.success('آدرس شما ویرایش شد')
        }
        this.formLoading = false
      } catch (e) {
        this.$toast.warning(e)
        console.log(e)
        this.formLoading = false
      }
    },
    fixData () {
      return {
        recipient: this.address.recipient,
        phone: this.address.phone,
        mainStreet: this.address.mainStreet,
        longitude: this.markerCoordinates[0].toString(),
        latitude: this.markerCoordinates[1].toString(),
        alley: 'alley',
        houseNumber: 'houseNumber',
        title: 'title',
        zipCode: 'zipCode'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.remove-all {
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  color: #C3C3C3;
}
.amount-box {
  height: 57px;
  background: #FCFCFC;
  padding: 20px;
  .total-amount {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #D81726;
  }
}
.navigation-bottom-mobile-box {
  position: fixed;
  bottom: 17px;
  width: 100%;
  padding: 0 20px 0 20px;
}
.map-box {
  width: 100%;
  height: 283px;
  border-radius: 20px;
  background-color: #efefef;
}
</style>
