<template>
  <div class="pt-6">
    <Header class="px-6 mb-7" route="/profile">
      <div slot="right-content" class="flex items-center">
        <div style="min-width: 45px;">
          <SvgIcon icon="add-red" :size="22" @click.native="$router.push({path: '/profile/address/add'})" />
        </div>
        <div class="flex justify-center w-full">
          <span class="page-title">ادرس ها</span>
        </div>
      </div>
    </Header>

    <div class="categories-section mt-3 px-6">
      <div class="header">
        <span class="label">
          آدرس های ثبت شده
        </span>
      </div>
      <ElementsLoading v-if="isLoading" />
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div v-for="item in address_list" :key="item.address_id" class="flex my-3">
          <AddressItem :address="item">
            <SvgIcon icon="edit" @click.native="$router.push({path: '/profile/address/' + item.address_id})" />
            <SvgIcon icon="close-red" class="mr-2" @click.native="confirmRemove(item)" />
          </AddressItem>
        </div>
      </div>
      <div v-if="isEmpty" style="text-align: center;text-align: -webkit-center;">
        <b>شما تا کنون آدرسی برای خود ثبت نکرده اید</b>
        <br>
        <br>
        <a @click="$router.push({path: 'profile/address/add' })"><b>ثبت اولین آدرس</b></a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CartProductsPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      isLoading: false
    }
  },
  computed: {
    address_list () {
      return this.$store.state.user.address_list
    },
    isEmpty () {
      return this.$store.state.user.address_list.length === 0
    },
    radioGroup: {
      get () {
        return this.$store.state.cart.addressSelected
      },
      set (val) {
        this.$store.commit('cart/setAddressSelected', val)
      }
    }
  },
  mounted () {
    this.fetchAddress()
  },
  methods: {
    fetchAddress () {
      this.isLoading = true
      this.$axios
        .get('address?address_id={"type":"sort","value":"DESC"}')
        .then((response) => {
          if (!response.data.error) {
            this.$store.commit('user/updateAddressList', response.data.data)
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.isLoading = false
        })
    },
    async confirmRemove (item) {
      try {
        await this.$confirmModal(
          {
            title: 'حذف آدرس',
            message: 'آیا از حذف آدرس مورد نظر مطمعن هستید؟',
            button: {
              no: 'لغو',
              yes: 'حذف'
            },
            callback: (confirm) => {
              if (confirm) {
                this.remove(item)
              }
            }
          }
        )
      } catch (e) {
        this.$toasted.show(e)
        return false
      }
    },
    remove (item) {
      this.isLoading = true
      this.$axios
        .delete('address/' + item.address_id)
        .then((response) => {
          if (!response.data.error) {
            this.fetchAddress()
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.isLoading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.categories-section {
  .header {
    .label {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #000000;
    }
  }
  .body {
    .category-title {
      margin-top: 8px;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 17px;
      text-align: center;
      color: #474747;
    }
  }
}
</style>
