<template>
  <div>
    <!-- DESKTOP -->
    <!-- <div v-if="!$device.isMobile"> -->
    <div v-if="false">
      desktop
    </div>
    <!-- MOBILE -->
    <div v-else class="pt-6">
      <Header class="px-6 mb-7" route="/profile">
        <UserHeader slot="right-content" />
      </Header>

      <div class="mt-6 px-6">
        <TemplateOrdersChart v-if="showOrderChart" />
      </div>
      <div class="mt-6 px-6">
        <div v-for="(menu, index) in menuItems" :key="index" class="flex items-center mb-3 panel-menu-item" @click="$router.push({path: menu.href})">
          <div class="item-icon ml-4">
            <SvgIcon :icon="menu.icon" :size="20" />
          </div>
          <div class="item-title">
            {{ menu.title }}
          </div>
          <div v-if="menu.notify" class="flex justify-end">
            <div class="flex justify-center items-center item-notify">
              {{ menu.notify }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PanelManagePage',
  layout: 'full',
  // layout: ctx => ctx.$device.isMobile ? 'full' : 'panelDesktop',
  middleware: 'auth',
  data () {
    return {
      menuItems: [],
      showOrderChart: false
    }
  },
  mounted () {
    this.$store.commit('filter/reset')
    this.initMenu()
  },
  methods: {
    initMenu () {
      if (this.hasRole('super-operator') || this.hasRole('operator') || this.hasRole('packaging') || this.hasRole('delivering')) {
        this.menuItems.push(
          {
            icon: 'store-menu',
            title: 'مشاهده سفارشات',
            notify: null,
            href: '/panel/orders',
            active: true
          }
        )
        this.showOrderChart = true
        this.fetchPendingOrders()
      }

      if (this.hasRole('super-operator') || this.hasRole('operator')) {
        this.menuItems.push(
          {
            icon: 'box',
            title: 'مشاهده کالاها',
            notify: null,
            href: '/panel/products',
            active: true
          }
        )
      }

      if (this.hasRole('super-operator')) {
        this.menuItems.push(
          {
            icon: 'cats-add',
            title: 'مدیریت دسته بندی ها',
            notify: null,
            href: '/panel/categories',
            active: true
          }
        )
      }

      if (this.hasRole('super-operator')) {
        this.menuItems.push(
          {
            icon: 'ac-users',
            title: 'نقش کاربران',
            notify: null,
            href: '/panel/userRoles',
            active: true
          }
        )
      }

      if (this.hasRole('super-operator')) {
        this.menuItems.push(
          {
            icon: 'ac-users',
            title: 'لیست کاربران',
            notify: null,
            href: '/panel/members',
            active: true
          }
        )
      }

      if (this.hasRole('super-operator')) {
        this.menuItems.push(
          {
            icon: 'service-menu',
            title: 'روش های ارسال',
            notify: null,
            href: '/panel/shippings',
            active: true
          }
        )
      }

      if (this.hasRole('super-operator')) {
        this.menuItems.push(
          {
            icon: 'edit',
            title: 'تنظیمات فروشگاه',
            notify: null,
            href: '/panel/settings',
            active: true
          }
        )
      }
    },
    hasRole (roleName) {
      let access = false
      this.$auth.user.role.forEach((item) => {
        if (item.name === roleName) {
          access = true
        }
      })
      return access
    },
    async fetchPendingOrders () {
      const result = await this.$axios.get('order?state={"type":"exec","condition":"=","value":"operator"}&status={"type":"exec","condition":"=","value":"pending"}&admin=true')
      if (result.data) {
        const notifyCount = result.data.meta.total
        this.menuItems.forEach((item) => {
          if (item.icon === 'store-menu') {
            item.notify = notifyCount
          }
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.filter-btn {
  min-width: 49px;
  height: 46px;
  background: #D81726;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #474747;
  font-family: "IranSans-Medium";
}
.role-mobile {
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #C3C3C3;
  font-family: "IranSans-Medium";
}
.profile-image {
  width: 52px;
  height: 52px;
  background: #FCFCFC;
  border-radius: 20px;
}
.panel-menu-item {
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding: 13px;
  .item-title {
    font-family: "IranSans-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #474747;
  }
  .item-notify {
    height: 18px;
    max-width: 22px;
    background: #D81726;
    border-radius: 5px;
    color: #fff;
  }
}
</style>

<style>
.amount {
  font-family: "IranSans-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #D81726;
}
</style>
