<template>
  <div class="pt-16 px-6">
    <ValidationObserver ref="loginForm" v-slot="{ invalid }">
      <div class="login-title">
        ورود / ثبت نام
      </div>
      <div class="login-description mt-6">
        لطفا شماره موبایل خود را وارد کنید
      </div>
      <div class="mt-6">
        <FormInput vType="number" name="mobile" :v-model.sync="mobile" :validate="{required: true}" placeholder="********09" />
      </div>
      <div class="mt-6">
        <FormButton name="تایید و ادامه" :run-loading="formLoading" :disabled="invalid || !checkbox" :on-click="()=>{login()}" />
      </div>
      <div class="flex items-center mt-6 login-terms">
        <v-checkbox
          v-model="checkbox"
          color="#D81726"
        />
        <span class="mr-2" @click="checkbox=!checkbox">
          <a href="#">شرایط و قوانین</a> را مطالعه نموده و می پذیرم
        </span>
      </div>
    </ValidationObserver>
  </div>
</template>

<script>
export default {
  name: 'LoginPage',
  layout: 'login',
  data () {
    return {
      mobile: '',
      checkbox: true,
      formLoading: false
    }
  },
  created () {
    if (this.$auth.$state.loggedIn) {
      this.$router.replace({ name: 'index' })
    }
    // this.$nextTick(() => this.setFocusOnInput('mobile'))
  },
  methods: {
    login () {
      // eslint-disable-next-line prefer-regex-literals
      const regex = new RegExp('^(\\+98|0)?9\\d{9}$')
      const result = regex.test(this.mobile)
      if (!result) {
        this.$toast.warning('شماره همراهی که وارد کردی مشکل داره عزیزم!')
        this.$nextTick(() => this.setFocusOnInput('mobile'))
        return
      }
      this.formLoading = true
      this.$axios
        .$post('/login', { mobile: this.mobile })
        .then((response) => {
          if (!response.data.error) {
            this.$store.commit('login/setNumber', this.mobile)
            this.$router.push({ path: '/login/verify' })
          }
        })
        .catch((error) => {
          if (error.response) {
            if (error.response.status === 401) {
              this.$store.commit('login/setNumber', this.mobile)
              this.$router.push({ path: '/login/verify' })
            }
          } else if (error.request) {
            console.log(error.request)
          } else {
            console.log('Error', error.message)
          }
        })
        .then(() => {
          this.formLoading = false
        })
    },
    setFocusOnInput (inputName) {
      const inputEl = document.querySelector('input')
      inputEl.focus()
    }
  }
}
</script>

<style lang="scss" scoped>
.login-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  color: #000000;
}
.login-description {

font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 23px;
text-align: right;

color: #535353;
}
.login-terms span {

font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 20px;
text-align: right;

color: #727272;
  a {
    color: #D81726;
  }
}
</style>
