<template>
  <div class="pt-16 px-6">
    <ValidationObserver ref="loginForm" v-slot="{ invalid }">
      <div class="login-title">
        کد تایید 5 رقمی را وارد کنید
      </div>
      <div class="login-description mt-6">
        کد تایید برای شماره موبایل {{ mobile }} ارسال شد
      </div>
      <div class="mt-6">
        <FormInput v-type="number" name="code" :v-model.sync="code" placeholder="کد تایید" />
      </div>
      <div class="mt-6">
        <FormButton name="ورود" :run-loading="formLoading" :disabled="invalid" :on-click="()=>{login()}" />
      </div>
      <div class="flex items-center mt-6 verify-times">
        <SvgIcon icon="time-past" />
        <a v-if="resend" href="#" class="text-base" style="color:red;" @click="$router.push({ path: '/login' })">دوباره کد رو بفرست</a>
        <countdown v-else ref="counter" :time="2 * 60 * 1000" @end="endTimer()">
          <template slot-scope="props">
            <span class="count mr-4">{{ props.minutes }}:{{ props.seconds }}</span>
          </template>
        </countdown>
      </div>
      <div class="flex items-center mt-6 verify-times" @click="$router.push({ path: '/login' })">
        <SvgIcon icon="edit" />
        <span class="count mr-4">تصحیح شماره</span>
      </div>
    </ValidationObserver>
  </div>
</template>

<script>
export default {
  name: 'LoginPage',
  layout: 'login',
  data () {
    return {
      resend: false,
      code: '',
      checkbox: false,
      formLoading: false
    }
  },
  computed: {
    mobile () {
      return this.$store.state.login.mobile
    }
  },
  created () {
    if (this.$auth.$state.loggedIn) {
      this.$router.replace({ name: 'index' })
    }
  },
  mounted () {
    if (!this.mobile) {
      this.$router.push({ path: '/login' })
    }
    this.$nextTick(() => {
      this.setFocusOnInput('code')
      setTimeout(() => {
        this.$refs.counter.start()
      }, 870)
    })
  },
  methods: {
    endTimer () {
      this.resend = true
    },
    async login () {
      if (this.code.length !== 4) {
        this.$toast.warning('عزیزم کد 4 رقمه')
        return
      }
      try {
        this.formLoading = true
        const result = await this.$auth.loginWith('local', {
          data: {
            mobile: this.mobile,
            code: this.code
          }
        })
        console.log(result)
        this.formLoading = false
      } catch (e) {
        this.formLoading = false
        // this.$toasted.show(e)
        if (e.response) {
          if (e.response.status === 404) {
            this.$toast.warning(e.response.data.error.message)
          }
        }
      }
    },
    setFocusOnInput (inputName) {
      const inputEl = document.querySelector('input')
      inputEl.focus()
    }
  }
}
</script>

<style lang="scss" scoped>
.login-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  color: #000000;
}
.login-description {

font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 23px;
text-align: right;

color: #535353;
}
.verify-times .count {

font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 20px;
text-align: right;

color: #727272;
}
</style>
