<template>
  <div class="pt-6">
    <Header class="px-6 mb-7" route="/panel/userRoles">
      <div slot="right-content" class="flex items-center">
        <div style="min-width: 45px;" />
        <div class="flex justify-center w-full">
          <span class="page-title">{{ isNew ? 'افزودن نقش جدید' : 'ویرایش نقش' }}</span>
        </div>
      </div>
    </Header>

    <client-only>
      <ValidationObserver ref="memberrole" v-slot="{ invalid }">
        <div class="px-6">
          <div class="">
            <FormInput
              :v-type="'number'"
              label="شماره موبایل"
              :v-model.sync="user.mobile"
              :validate="{required: true, regex: '^09\\d{9}$'}"
              height="110px"
              @change="checkMobile()"
            />
          </div>
          <div v-if="user.user_id" class="">
            <FormInput label="نام" :v-model.sync="user.first_name" disabled height="110px" />
          </div>
          <div v-if="user.user_id" class="">
            <FormInput label="نام خانوادگی" :v-model.sync="user.last_name" disabled height="110px" />
          </div>
          <div>
            <FormSelect
              label="نقش کاربران"
              :options.sync="roles"
              :v-model.sync="selectedRole"
              option-key-value="role_id"
              option-value="name_fa"
              height="110px"
              :validate="{ required: true }"
            />
          </div>
        </div>

        <div class="flex justify-center navigation-bottom-mobile-box">
          <FormButton :name="isNew ? 'افزودن نقش' : 'ویرایش نقش'" :disabled="invalid" :run-loading="formLoading" :on-click="()=>{submit()}" />
        </div>
      </ValidationObserver>
    </client-only>
  </div>
</template>

<script>
export default {
  name: 'PanelProductsAddPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      formLoading: false,
      user: {
        first_name: '',
        last_name: '',
        mobile: ''
      },
      selectedRole: null,
      roles: []
    }
  },
  computed: {
    isNew () {
      return this.$route.params.id === 'add'
    },
    roleName () {
      let res
      this.roles.forEach((role) => {
        if (role.role_id === this.selectedRole) {
          res = role.name
        }
      })
      return res
    }
  },
  mounted () {
    this.fetchRoles()
  },
  methods: {
    submit () {
      console.log(this.isNew)
      this.assign()
    },
    fetchRoles () {
      this.isLoadingRoles = true
      this.$axios
        .get('/role')
        .then((response) => {
          this.roles = response.data.data
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.isLoadingRoles = false
        })
    },
    checkMobile () {
      if (this.isValidMobile(this.user.mobile)) {
        this.$axios
          .get(`user?mobile={"type":"exec","condition":"=","value":"${this.user.mobile}"}`)
          .then((response) => {
            if (response.data.error) {
              this.$toast.warning(response.data.error.message)
            } else if (response.data.data[0]) {
              this.user = response.data.data[0]
            } else {
              this.user = {
                first_name: '',
                last_name: '',
                mobile: this.user.mobile
              }
              this.$toast.warning('با این موبایل کاربری یافت نشد')
              this.$refs.memberrole.reset()
            }
          })
          .catch((error) => {
            console.log(error)
          })
          .then(() => {
          })
      } else { this.$toast.warning('شماره تلفن را صحیح بنویسید') }
    },
    assign () {
      if (!this.user.user_id) {
        this.$toast.warning('لطفا ابتدا شماره ای را انتخاب کنید')
        return
      }
      const bodyFormData = new FormData()
      bodyFormData.append('mobile', this.user.mobile)
      bodyFormData.append('role', this.roleName)

      this.$axios
        .post('role/assign/user', bodyFormData)
        .then((response) => {
          if (response.data.error) {
            this.$toast.warning(response.data.error.message)
          } else {
            this.$toast.success(response.data.data.message)
            if (this.$auth.user.user_id === this.user.user_id) {
              this.fetchUser()
            }
            this.$router.push({ path: '/panel/userRoles' })
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {})
    },
    async fetchUser () {
      await this.$auth.fetchUser()
    },
    isValidMobile (mobile) {
      // eslint-disable-next-line prefer-regex-literals
      const regex = new RegExp('^(\\+98|0)?9\\d{9}$')
      const result = regex.test(mobile)
      return result
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.remove-all {
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  color: #C3C3C3;
}
.amount-box {
  height: 57px;
  background: #FCFCFC;
  padding: 20px;
  .total-amount {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #D81726;
  }
}
.navigation-bottom-mobile-box {
  position: fixed;
  bottom: 17px;
  width: 100%;
  padding: 0 20px 0 20px;
}
</style>
