<template>
  <div class="grid grid-cols-12 gap-2 relative category-order-item">
    <div class="col-span-4 flex justify-center items-center image">
      <div v-if="category.icon" class="box" :style="{ 'background-image': `url(${category.icon.file})` }" :alt="category.title" />
      <div v-else class="box" style="background-image: url(@/assets/images/others/no_image.jpg)" :alt="category.title" />
    </div>
    <div class="col-span-8">
      <div class="flex justify-start">
        <span class="label">
          {{ category.title }}
        </span>
      </div>
      <div class="flex justify-start">
        <span class="value">
          {{ category.description }}
        </span>
      </div>
    </div>
    <div class="actions">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'CategoryManageComponent',
  props: {
    category: {
      type: Object,
      default: null
    }
  }
}
</script>

<style lang="scss" scoped>
.category-order-item {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding: 9px;
  .actions {
    position: absolute;
    top: 12px;
    left: 12px;
  }
  .image {
    img {
      width: 85px;
      height: 85px;
    }
    .box {
      height: 70px;
      width: 70px;
      background: #FCFCFC;
      border-radius: 20px;
      background-size: cover;
    }
  }
  .label {
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    color: #474747;
  }
  .value {
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    color: #727272;
  }
}
</style>
