<template>
  <div class="pt-6">
    <Header class="px-6 mb-7" route="/panel">
      <div slot="right-content" class="flex items-center">
        <div style="min-width: 45px;">
          <SvgIcon icon="add-red" @click.native="()=>{$router.push({path: '/panel/userRoles/add'})}" />
        </div>
        <div class="flex justify-center w-full">
          <span class="page-title">نقش کاربران</span>
        </div>
      </div>
    </Header>

    <div class="px-6 mb-3">
      <FormSelect
        :options.sync="roles"
        :v-model.sync="selectedFilter"
        option-key-value="role_id"
        option-value="name_fa"
        height="60px"
      />
    </div>

    <div class="mb-6 px-6">
      <UserMini v-for="(item, index) in usersByRole" :key="index" :user="item" class="mb-3">
        <!-- <SvgIcon icon="edit" /> -->
        <SvgIcon icon="close-red" class="mr-2" @click.native="confirmRemove(item)" />
      </UserMini>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PanelProductsListPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      selectedFilter: '',
      items: [],
      roles: [],
      isLoadingRoles: false
    }
  },
  computed: {
    users () {
      // eslint-disable-next-line prefer-const
      let list = []
      this.items.forEach((item) => {
        item.role.forEach((role) => {
          list.push(
            {
              name: item.first_name ? item.first_name + ' ' + item.last_name : 'ناشناس',
              user_id: item.user_id,
              logo: item.logo,
              role: role.name_fa,
              role_id: role.role_id,
              role_key: role.name,
              mobile: item.mobile
            }
          )
        })
      })
      return list
    },
    usersByRole () {
      // eslint-disable-next-line prefer-const
      let list = []
      this.users.forEach((user) => {
        if (this.selectedFilter === '') {
          list.push(user)
        }
        if (user.role_id === this.selectedFilter) {
          list.push(user)
        }
      })
      return list
    }
  },
  mounted () {
    this.fetchRoles()
    this.fetchUsers()
  },
  methods: {
    fetchRoles () {
      this.isLoadingRoles = true
      this.$axios
        .get('/role')
        .then((response) => {
          this.roles = response.data.data
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.isLoadingRoles = false
        })
    },
    fetchUsers () {
      this.isLoadingRoles = true
      this.$axios
        .get('/user/assign/role')
        .then((response) => {
          this.items = response.data.data
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.isLoadingRoles = false
        })
    },
    async confirmRemove (item) {
      // eslint-disable-next-line no-unreachable
      try {
        await this.$confirmModal(
          {
            title: 'حذف نقش',
            message: 'آیا از حذف نقش ' + item.role + ' برای ' + item.name + ' هستید؟',
            button: {
              no: 'لغو',
              yes: 'حذف'
            },
            callback: (confirm) => {
              if (confirm) {
                this.remove(item)
              }
            }
          }
        )
      // eslint-disable-next-line no-unreachable
      } catch (e) {
        this.$toasted.show(e)
        return false
      }
    },
    remove (item) {
      const bodyFormData = new URLSearchParams()
      bodyFormData.append('mobile', item.mobile)
      bodyFormData.append('role', item.role_key)

      const config = {
        method: 'delete',
        url: 'role/assign/user',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        data: bodyFormData
      }

      this.$axios(config)
        .then((response) => {
          console.log(response)
          if (response.data.data.status !== 200) {
            this.$toast.warning('انجام نشد')
          } else {
            this.$toast.success('انجام شد')
            if (this.$auth.user.user_id === item.user_id) {
              this.fetchUser()
            }
            // this.removeUserFromList(item)
            this.fetchRoles()
            this.fetchUsers()
          }
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    async fetchUser () {
      await this.$auth.fetchUser()
    },
    removeUserFromList (user) {
      this.items.forEach((item, index) => {
        if (item.user_id === user.user_id) {
          if (item.role_key === user.role_key) {
            this.items.splice(index, 1)
          }
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.filter-btn {
  min-width: 49px;
  height: 46px;
  background: #D81726;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-header span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.section-filters {
  .filters-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #023047;
  }
}
</style>
