<template>
  <div class="flex">
    <div class="ml-4">
      <img v-if="image" class="profile-image" :src="image.file" alt="">
      <img v-else class="profile-image" src="@/assets/images/others/no_image.jpg" alt="">
    </div>
    <div>
      <div class="profile-name">
        {{ name }}
      </div>
      <div class="role-mobile">
        <span v-for="(role, index) in roles" :key="index">{{ role }} / </span>{{ mobile }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UserHeaderComponent',
  computed: {
    name () {
      return this.$auth.user.first_name ? this.$auth.user.first_name + ' ' + this.$auth.user.last_name : 'ناشناس'
    },
    mobile () {
      return this.$auth.user.mobile
    },
    image () {
      return this.$auth.user.logo
    },
    roles () {
      let list = []
      if (this.$auth.user.role.length === 0) {
        list = ['شهروند']
      }
      this.$auth.user.role.forEach((role) => {
        list.push(role.name_fa)
      })
      return list
    }
  }
}
</script>

<style lang="scss" scoped>
.profile-name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #474747;
}
.role-mobile {
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #C3C3C3;
}
.profile-image {
  width: 52px;
  height: 52px;
  min-width: 52px;
  background: #FCFCFC;
  border-radius: 20px;
  border: 1px solid #F1F1F1;
  padding: 2px;
}
</style>
