<template>
  <div class="grid grid-cols-12 gap-2 relative user-order-item">
    <div class="col-span-4 flex justify-center items-center image">
      <div v-if="user.logo" class="box" :style="{ 'background-image': `url(${user.logo.file})` }" :alt="user.name" />
      <div v-else class="box" style="background-image: url(@/assets/images/others/no_image.jpg)" :alt="user.name" />
      <!-- <div class="box" /> -->
    </div>
    <div class="col-span-8">
      <div class="flex justify-start">
        <span class="label">
          {{ showRole ? user.name : name }}
        </span>
      </div>
      <div class="flex justify-start">
        <span class="value">
          {{ showRole ? user.role : '' }}
          /
          {{ user.mobile }}
        </span>
      </div>
    </div>
    <div class="actions">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'UserManageComponent',
  props: {
    user: {
      type: Object,
      default: null
    },
    showRole: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    name () {
      let x = 'ناشناس'
      if (this.user.first_name !== null) {
        x = this.user.first_name + ' ' + this.user.last_name
      }
      return x
    }
  }
}
</script>

<style lang="scss" scoped>
.user-order-item {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding: 9px;
  .actions {
    position: absolute;
    top: 12px;
    left: 12px;
  }
  .image {
    img {
      width: 85px;
      height: 85px;
    }
    .box {
      height: 70px;
      width: 70px;
      background: #FCFCFC;
      border-radius: 20px;
      background-size: cover;
    }
  }
  .label {
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    color: #474747;
  }
  .value {
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    color: #727272;
  }
}
</style>
