<template>
  <div class="pt-6 pb-12">
    <ValidationObserver ref="categoryForm" v-slot="{ invalid }">
      <Header class="px-6 mb-7" route="/panel/products">
        <div slot="right-content" class="flex items-center">
          <div style="min-width: 45px;" />
          <div class="flex justify-center w-full">
            <span class="page-title">{{ isNew ? 'افزودن کالا جدید' : 'ویرایش کالا' }}</span>
          </div>
        </div>
      </Header>

      <div class="px-6">
        <div>
          <FormFilePreview label="تصویر کالا" :image="icon" @input="selectImage" />
        </div>
        <div class="mt-8">
          <FormInput label="نام کالا" :v-model.sync="product.title" :validate="{required: true}" height="110px" />
        </div>
        <div>
          <FormSelect
            label="دسته بندی"
            :options.sync="categories"
            :v-model.sync="selectedCategory"
            option-value="title"
            option-key-value="category_id"
            :validate="{required: true}"
            height="110px"
          />
        </div>
        <div>
          <FormInput vType="number" label="موجودی در انبار" :v-model.sync="product.count" :validate="{required: true, numeric: true, min: 1, max: 3}" height="110px" />
        </div>
        <div>
          <FormInput vType="number" label="قیمت کالا" :v-model.sync="product.price" :validate="{required: true, numeric: true, min: 1, max: 9}" height="110px" />
        </div>
        <div>
          <FormInput vType="number" label="درصد تخفیف" :v-model.sync="product.discount" :validate="{numeric: true, min: 1, max: 2}" height="110px" />
        </div>
        <div>
          <FormSelect
            label="واحد محصول"
            :options.sync="units"
            :v-model.sync="product.unit"
            option-key-value="key"
            option-value="value"
            height="110px"
          />
        </div>
        <div class="pb-8">
          <FormTextArea :v-model.sync="product.description" height="120px" label="توضیحات" />
        </div>
      </div>

      <div class="flex justify-center navigation-bottom-mobile-box">
        <FormButton :name="isNew ? 'افزودن کالا' : 'ویرایش کالا'" :disabled="invalid" :run-loading="formLoading" :on-click="()=>{submit()}" />
      </div>
    </ValidationObserver>
  </div>
</template>

<script>
export default {
  name: 'PanelProductsAddPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      selectedCategory: '',
      product: {
        title: '',
        count: '',
        price: '',
        discount: '0',
        description: '',
        unit: '1'
      },
      units: [
        {
          key: '1',
          value: 'کیلوگرم'
        },
        {
          key: '2',
          value: 'لیتر'
        },
        {
          key: '3',
          value: 'گرم'
        },
        {
          key: '4',
          value: 'عدد'
        },
        {
          key: '5',
          value: '۱۰۰ گرمی'
        },
        {
          key: '6',
          value: '۵۰۰ گرمی'
        },
        {
          key: '7',
          value: 'کیسه'
        }
      ],
      image: null,
      icon: null,
      formLoading: false,
      isLoadingCategories: false,
      isLoadingProduct: false,
      categories: []
    }
  },
  computed: {
    isNew () {
      return this.$route.params.id === 'add'
    }
  },
  mounted () {
    this.fetchCategories()
    if (!this.isNew) {
      this.fetchProduct()
    }
  },
  methods: {
    fetchProduct () {
      this.isLoadingProduct = true
      this.$axios
        .get('/product/' + this.$route.params.id)
        .then((response) => {
          this.product = response.data.data
          console.log(this.product)
          this.product.unit = this.product.unit.unit_id
          if (this.product.category) {
            this.selectedCategory = this.product.category.category_id
          }
          if (this.product.images) {
            this.icon = this.product.images[0].file
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.isLoadingProduct = false
        })
    },
    fetchCategories () {
      this.isLoadingCategories = true
      this.$axios
        .get('/category?limit=50')
        .then((response) => {
          this.categories = response.data.data
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.isLoadingCategories = false
        })
    },
    async submit () {
      try {
        const isValid = await this.$refs.categoryForm.validate()
        if (!isValid) {
          this.$toast.warning('اطلاعات وارد شده صحیح نمی باشد')
          return
        }
        this.formLoading = true
        if (this.isNew) {
          if (!this.image) {
            this.$toast.warning('لطفا تصویر محصول را انتخاب کنید')
            this.formLoading = false
            return
          }
          const result = await this.$axios.post('product/', this.fixData())
          this.$toast.success('محصول اضافه شد')
          this.$router.push({ path: '/panel/products/' + result.data.data.product_id })
        } else {
          await this.$axios.post('product/' + this.$route.params.id, this.fixData())
          this.$toast.success('محصول ویرایش شد')
        }
        this.formLoading = false
      } catch (e) {
        // this.$toast.warning(e)
        this.formLoading = false
      }
    },
    fixData () {
      const bodyFormData = new FormData()
      bodyFormData.append('title', this.product.title)
      bodyFormData.append('count', this.product.count)
      bodyFormData.append('price', this.product.price)
      bodyFormData.append('category_id', this.selectedCategory)
      bodyFormData.append('discount', this.product.discount)
      bodyFormData.append('priority', 1)
      bodyFormData.append('unit_id', this.product.unit)
      bodyFormData.append('description', this.product.description)
      if (this.image) {
        bodyFormData.append('file[]', this.image)
      }
      if (!this.isNew) {
        bodyFormData.append('_method', 'PUT')
      }
      return bodyFormData
    },
    selectImage (file) {
      this.image = file
      this.icon = file
    }
    // fixData () {
    //   return {
    //     title: this.product.title,
    //     count: this.product.count,
    //     price: this.product.price,
    //     category_id: this.selectedCategory,
    //     description: 'description',
    //     discount: 0,
    //     priority: 1,
    //     unit_id: 1
    //   }
    // }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.remove-all {
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  color: #C3C3C3;
}
.amount-box {
  height: 57px;
  background: #FCFCFC;
  padding: 20px;
  .total-amount {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #D81726;
  }
}
.navigation-bottom-mobile-box {
  position: fixed;
  bottom: 17px;
  width: 100%;
  padding: 0 20px 0 20px;
}
</style>
