<template>
  <button
    :class="['primary-button',{'has-loading run-loading':runLoading}]"
    :disabled="disabled || runLoading"
    :type="type"
    :style="{ width: width,height:height,margin:margin,
              padding:padding,'--bgColor':bgColor,'--bgColorHover':bgColorHover,'--textColor':textColor }"
    @click="onClick"
  >
    <template v-if="hasIcon">
      <span class="button-content">
        <span class="iconx">
          <SvgIcon :icon="icon" />
        </span>
        <span class="name">
          {{ name }}
        </span>
      </span>
    </template>
    <template v-else>
      {{ name }}
    </template>
  </button>
</template>

<script>
export default {
  name: 'CustomButton',
  props: {
    onClick: {
      type: Function,
      default: () => {
      },
      required: false
    },
    name: {
      type: String,
      default: ''
    },
    icon: {
      type: String,
      default: 'submit'
    },
    type: {
      type: String,
      default: 'submit'
    },
    disabled: {
      type: Boolean,
      default: false
    },
    runLoading: {
      type: Boolean,
      default: false
    },
    hasIcon: {
      type: Boolean,
      default: false
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '49px'
    },
    margin: {
      type: String,
      default: '0'
    },
    padding: {
      type: String,
      default: '8px 16px'
    },
    bgColor: {
      type: String,
      default: '#D81726'
    },
    bgColorHover: {
      type: String,
      default: '#D81726'
    },
    textColor: {
      type: String,
      default: 'rgb(255, 255, 255)'
    }
  }
}
</script>

<style lang="scss" scoped>
@mixin button($backgroundColor,$hoverColor:darken($backgroundColor,10%),$disableColor:rgba($backgroundColor,0.3),$textColor:rgb(255,255,255)) {
  position: relative;
  outline: none;
  border: 0;
  height: 49px;
  width: 100%;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 500;
  transition: all .15s ease;
  color: $textColor;
  background-color: $backgroundColor;
  // box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, 0.08);
  &:disabled {
    background-color: $disableColor;

    &:hover {
      cursor: not-allowed;
    }
  }
  &:not([disabled]) {
    &:hover {
      background-color: $hoverColor;
      cursor: pointer;
      // box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, 0.08);
    }
  }
  .button-content {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      margin-right: 10px;
    }
  }
  &.has-loading {
    &::before {
      content: " ";
      width: 20px;
      height: 20px;
      position: absolute;
      right: 15px;
      top: 15px;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='23.132' height='24.268' viewBox='0 0 23.132 24.268'><g id='loading' transform='translate(-0.617)'><g id='Group_6604' data-name='Group 6604' transform='translate(0.617 0)'><circle id='Ellipse_59' data-name='Ellipse 59' cx='2.839' cy='2.839' r='2.839' transform='translate(9.296)' fill='white'/><circle id='Ellipse_60' data-name='Ellipse 60' cx='1.703' cy='1.703' r='1.703' transform='translate(10.431 20.862)' fill='white'/><circle id='Ellipse_61' data-name='Ellipse 61' cx='2.555' cy='2.555' r='2.555' transform='translate(2.605 3.172)' fill='white'/><circle id='Ellipse_62' data-name='Ellipse 62' cx='1.419' cy='1.419' r='1.419' transform='translate(17.69 18.256)' fill='white'/><circle id='Ellipse_63' data-name='Ellipse 63' cx='2.27' cy='2.27' r='2.27' transform='translate(0 10.432)' fill='white'/><circle id='Ellipse_64' data-name='Ellipse 64' cx='1.135' cy='1.135' r='1.135' transform='translate(20.862 11.567)' fill='white'/><path id='Path_5552' data-name='Path 5552' d='M4.644,19.79a1.986,1.986,0,1,0,2.809,0A1.985,1.985,0,0,0,4.644,19.79Z' transform='translate(-0.889 -1.517)' fill='white'/><circle id='Ellipse_65' data-name='Ellipse 65' cx='0.851' cy='0.851' r='0.851' transform='translate(18.257 4.876)' fill='white'/></g></g></svg> ");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 20px;
      opacity: 0;
      transition: 0.3s;
      animation: 800ms btn-loading infinite linear;
    }

    &.run-loading {
      &::before {
        opacity: 1;
        animation-name: btn-loading;
      }
    }

    @-webkit-keyframes btn-loading {
      100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
      }
    }
    @-moz-keyframes btn-loading {
      100% {
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
      }
    }
    @-ms-keyframes btn-loading {
      100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
      }
    }
  }
}

.primary-button {
  $bgColor: var(--bgColor);
  $bgColorHover: var(--bgColorHover);
  $textColor: var(--textColor);
  @include button($bgColor, $bgColorHover, rgba(224, 24, 6, 0.5), $textColor);
  .button-content{
    .icon{
      margin-bottom: 3px;
    }
  }
}
</style>
