<template>
  <div>
    <div class="upload-form">
      <div class="label mb-4">
        {{ label }}
      </div>
      <div class="flex justify-center items-center empty-image" @click="$refs.fileInput.click()">
        <div
          v-if="previewImage || image"
          class="imagePreviewWrapper"
          :style="{ 'background-image': `url(${previewImage ? previewImage : image})` }"
        />
        <SvgIcon v-else icon="picture" :size="24" />
      </div>
      <input
        ref="fileInput"
        type="file"
        hidden
        accept="image/*"
        @input="updateProfilePhoto"
      >
    </div>

    <v-dialog v-model="copper_popup">
      <div class="bg-white p-4 rounded-card-popup migmig-popup">
        <div class="flex justify-center" style="font-size: 15px;color: #535353;">
          برش تصویر
        </div>
        <div>
          <cropper
            class="cropper"
            :src="selected_image"
            :stencil-props="{
              aspectRatio: 12 / 12,
            }"
            @change="change"
          />
        </div>
        <div class="flex justify-between mt-6">
          <FormButton
            name="برش"
            width="145px"
            height="46px"
            :on-click="()=>{submmitImage()}"
          />
          <FormButton
            name="لغو"
            width="115px"
            height="46px"
            bg-color="#474747"
            :on-click="()=>{copper_popup = false}"
          />
        </div>
      </div>
    </v-dialog>
  </div>
  <!-- <div
    class="imagePreviewWrapper"
    :style="{ 'background-image': `url(${previewImage})` }"
    @click="selectImage"
  />
  <input
    ref="fileInput"
    type="file"
    hidden
    @input="pickFile"
  >
  </div> -->
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: ''
    },
    image: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      previewImage: null,
      copper_popup: false,
      selected_image: '',
      cropped_image: ''
    }
  },
  methods: {
    selectImage () {
      this.$refs.fileInput.click()
    },
    pickFile () {
      const input = this.$refs.fileInput
      const file = input.files
      if (file && file[0]) {
        const reader = new FileReader()
        reader.onload = (e) => {
          this.previewImage = e.target.result
        }
        reader.readAsDataURL(file[0])
        this.$emit('input', file[0])
      }
    },
    updateProfilePhoto (event) {
      this.selected_image = URL.createObjectURL(event.target.files[0])
      // const fileListArr = Array.from(event.target.files)
      // fileListArr.splice(1, 1) // here u remove the file
      this.copper_popup = true
    },
    change ({ coordinates, canvas }) {
      this.cropped_image = canvas.toDataURL()
    },
    submmitImage () {
      this.previewImage = this.cropped_image
      console.log(this.dataURLtoFile(this.cropped_image))
      this.$emit('input', this.dataURLtoFile(this.cropped_image))
      this.copper_popup = false
    },
    dataURLtoFile (dataurl) {
      const filename = 'pic.jpg'
      const arr = dataurl.split(',')
      const mime = arr[0].match(/:(.*?);/)[1]
      const bstr = atob(arr[1])
      let n = bstr.length
      const u8arr = new Uint8Array(n)
      while (n--) {
        u8arr[n] = bstr.charCodeAt(n)
      }
      return new File([u8arr], filename, { type: mime })
    }
  }
}
</script>

<style scoped lang="scss">
.imagePreviewWrapper {
    width: 82px;
    height: 82px;
    border-radius: 20px;
    // display: block;
    cursor: pointer;
    margin: 0 auto 30px;
    background-size: contain;
    background-position: center center;
}
</style>

<style lang="scss" scoped>
.upload-form {
  .label {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    color: #535353;
  }
  .empty-image {
    height: 82px;
    width: 82px;
    background: #FCFCFC;
    border-radius: 20px;
  }
}
</style>
