<template>
  <div class="form-group" :style="{width:width,height: height}">
    <ValidationProvider v-slot="{ errors, valid, classes, failed }" :rules="validate">
      <label v-show="label" :for="vId?vId:name" class="form-control-label">
        {{ label }}
        <span v-if="hasRequired">
          *
        </span>
      </label>
      <select
        :id="vId?vId:name"
        :ref="vRef?vRef:name"
        v-model="innerValue"
        :name="name"
        :readonly="readonly"
        :disabled="disabled"
        :data-vv-as="vvAs"
        :class="['form-control',vClass,{'is-invalid':classes.changed || failed ? !valid : false} ,
                 {'is-valid':valid && innerValue}]"
        :data-vv-scope="vvScope"
        @change="$emit('update:vModel', vType==='number'?Number(innerValue):innerValue);$emit('change')"
      >
        <option value="" disabled selected>
          {{ placeholder }}
        </option>
        <template v-for="(option, index) in options">
          <option
            v-if="option.disabled"
            :key="index"
            :value="optionKeyValue?option[optionKeyValue]:option.code"
            disabled
            v-html="optionValue?option[optionValue]:option.title"
          />
          <option
            v-else
            :key="index"
            :value="optionKeyValue?option[optionKeyValue]:option.code"
            v-html="optionValue?option[optionValue]:option.title"
          />
        </template>
      </select>
      <em
        v-show="classes.changed || failed ? !valid : false"
        class="invalid-feedback"
        v-html="errors[0]"
      />
    </ValidationProvider>
  </div>
</template>

<script>
export default {
  name: 'VSelect',
  props: {
    vType: String,
    options: {
      type: Array
    },
    optionKeyValue: {
      type: String,
      require: false
    },
    optionValue: {
      type: String,
      require: false
    },
    label: String,
    vId: String,
    name: String,
    disabled: Boolean,
    readonly: Boolean,
    placeholder: {
      type: String,
      default: 'Select'
    },
    vModel: {},
    vRef: String,
    vClass: {
      type: [String, Object, Array]
    },
    vvScope: String,
    vvAs: String,
    validate: {
      type: [Object, String],
      default: ''
    },
    vAutoFocus: {
      type: Boolean
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '100px'
    }
  },
  data: () => ({
    innerValue: ''
  }),
  computed: {
    hasRequired () {
      // if (typeof this.validate === 'string') { return this.validate.search('required') >= 0 } else { return this.validate.hasOwnProperty('required') ? this.validate.required : false }
      return false
    }
  },
  watch: {
    vModel (newVal) {
      this.innerValue = newVal
    }
  },
  created () {
    if (this.vModel) {
      this.innerValue = this.vModel
    }
  },
  mounted () {
    if (this.vAutoFocus) {
      this.$refs[this.name].focus()
    }
  }
}
</script>

<style lang="scss" scoped>
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg height='10' viewBox='0 0 17.244 10.036' width='15' xmlns='http://www.w3.org/2000/svg'> <g data-name='Group 6766' id='Group_6766' transform='translate(-385.362 -411.586)'> <line data-name='Line 1' fill='none' id='Line_1' stroke='rgba(17,17,17)' stroke-linecap='round' stroke-width='2' transform='translate(386.776 413)' x2='7.208' y2='7.208'/> <line data-name='Line 2' fill='none' id='Line_2' stroke='rgba(17,17,17)' stroke-linecap='round' stroke-width='2' transform='translate(393.984 413)' x1='7.208' y2='7.208'/> </g> </svg>") !important;
  background-position: left 15px top 50% !important;
  background-repeat: no-repeat !important;
}
</style>

<style lang="scss" scoped>
$input-height: 46px;
$input-font-size: 11px;
$input-padding: 14px;
$form-control-padding: 0;
$form-control-margin: 0;
$label-font-size: 11px;
$label-margin-bottom: 0.6rem;
$red: rgb(255, 71, 87);
$primary: rgba(0, 162, 232, 0.281);

* {
  outline: none;
}

em {
  display: block;
  font-style: normal;
}

.search-btn {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  // border: solid 1px $primary;
  padding: 8px;
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 2;
}

.form-group {
  width: 100%;
  padding: $form-control-padding 0;
  margin: $form-control-margin 0;
  text-align: right;

  .input-group {
    position: relative;
  }
  .form-control-label {
    width: 100%;
    display: block;
    margin-bottom: $label-margin-bottom;
    font-size: $label-font-size;
    font-weight: 500;
    text-align: right;
    color: #535353;
    font-size: 15px;

    &.invalid, .required,span {
      color: $red;
    }
  }

  .form-control {
    display: block;
    width: 100%;
    height: $input-height;
    font-size: $input-font-size;
    // border: solid 1px rgba(112, 112, 112, 0.5);
    border-radius: 20px;
    background: #FCFCFC;
    padding: $input-padding;
    transition: border-color 0.1s ease-out;

    &:focus {
      border: $primary 1px solid;
      outline: none;
      box-shadow: inset 0 0 0;
    }

    &::placeholder {
      font-size: $input-font-size;
      font-weight: 500;
      color: rgb(70, 70, 70);
    }

    &.is-invalid {
      border-color: $red;
    }
  }

  .invalid-feedback {
    font-size: 14px;
    color: $red;
  }
}
</style>
