<template>
  <div class="form-group" :style="{width:width,height: height}">
    <ValidationProvider v-slot="{ errors, valid, classes, failed }" :rules="validate">
      <label v-show="label" :for="vId?vId:name" class="form-control-label">
        {{ label }}
        <span v-if="hasRequired">
          *
        </span>
        <slot name="label-link" />
      </label>
      <div class="flexs">
        <div v-if="hasPrependSlot" class="prepend">
          <slot name="prepend" />
        </div>
        <div class="input-group" :class="[hasPrependSlot ? 'border-radius-right':'', hasAppendSlot ? 'border-radius-left':'']">
          <textarea
            :ref="vRef?vRef:name"
            v-model="innerValue"
            :name="name?name:label"
            :readonly="readonly"
            :disabled="disabled"
            :type="vType"
            :placeholder="placeholder"
            rows="3"
            :data-vv-as="vvAs"
            :class="['form-control',vClass,{'is-invalid':classes.changed || failed ? !valid : false} ,{'is-valid':valid && innerValue}]"
            :data-vv-scope="vvScope"
            :style="innerValue?'text-align:'+vAlign +'!important;':''"
            :min="vMin"
            :max="vMax"
            @input="$emit('update:vModel', vType==='number'?Number(innerValue):innerValue)"
          />
        </div>
        <div v-if="hasAppendSlot" class="append">
          <slot name="append" />
        </div>
      </div>
      <em
        v-show="classes.changed || failed ? !valid : false"
        class="invalid-feedback"
        v-html="errors[0]"
      />
      <span v-if="hint" class="px-3">{{ hint }}</span>
    </ValidationProvider>
  </div>
</template>

<script>
export default {
  name: 'FormTextArea',
  props: {
    vAlign: String,
    label: String,
    vId: String,
    name: String,
    disabled: Boolean,
    readonly: Boolean,
    placeholder: {
      type: String,
      default: 'چیزی وارد کنید ...'
    },
    vModel: {},
    vRef: String,
    vClass: {
      type: [String, Object, Array]
    },
    vvScope: String,
    vvAs: String,
    validate: {
      type: [Object, String],
      default: ''
    },
    vType: {
      type: String,
      default: 'text'
    },
    vAutoFocus: {
      type: Boolean
    },
    vMin: {
      type: Number,
      default: 0,
      require: false
    },
    vMax: {
      type: Number,
      require: false
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '80px'
    },
    hint: {
      type: String,
      default: null
    },
    searchIcon: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    innerValue: null
  }),
  computed: {
    hasRequired () {
    //   if (typeof this.validate === 'string') { return this.validate.search('required') >= 0 } else { return this.validate.hasOwnProperty('required') ? this.validate.required : false }
      return false
    },
    hasPrependSlot () {
      return !!this.$slots.prepend
    },
    hasAppendSlot () {
      return !!this.$slots.append
    }
  },
  watch: {
    vModel (newVal) {
      this.innerValue = newVal
    },
    value () {
      this.innerValue = this.value
    }
  },
  created () {
    if (this.vModel) {
      this.innerValue = this.vModel
    }
  },
  mounted () {
    if (this.vAutoFocus) {
      this.$refs[this.name].focus()
    }
  }
}
</script>

<style lang="scss" scoped>
$input-height: 80px;
$input-font-size: 11px;
$input-padding: 14px;
$form-control-padding: 0;
$form-control-margin: 0;
$label-font-size: 11px;
$label-margin-bottom: 0.6rem;
$red: rgb(255, 71, 87);
$primary: rgba(0, 162, 232, 0.281);

* {
  outline: none;
}

em {
  display: block;
  font-style: normal;
}

.search-btn {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  // border: solid 1px $primary;
  padding: 8px;
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 2;
}

.form-group {
  width: 100%;
  padding: $form-control-padding 0;
  margin: $form-control-margin 0;
  text-align: right;

  .input-group {
    position: relative;
  }
  .form-control-label {
    width: 100%;
    display: block;
    margin-bottom: $label-margin-bottom;
    font-size: $label-font-size;
    font-weight: 500;
    text-align: right;
    color: #535353;
    font-size: 15px;

    &.invalid, .required,span {
      color: $red;
    }
  }

  .form-control {
    display: block;
    width: 100%;
    height: $input-height;
    font-size: $input-font-size;
    // border: solid 1px rgba(112, 112, 112, 0.5);
    border-radius: 20px;
    background: #FCFCFC;
    padding: $input-padding;
    transition: border-color 0.1s ease-out;
    resize: none;
    &:focus {
      border: $primary 1px solid;
      outline: none;
      box-shadow: inset 0 0 0;
    }

    &::placeholder {
      font-size: $input-font-size;
      font-weight: 500;
      color: rgb(70, 70, 70);
    }

    &.is-invalid {
      border-color: $red;
    }
  }

  .invalid-feedback {
    font-size: 14px;
    color: $red;
  }
}
</style>
