<template>
  <div class="upload-form">
    <div class="label mb-4">
      {{ label }}
    </div>
    <div class="flex justify-center items-center empty-image">
      <SvgIcon icon="picture" :size="24" @click.native="$refs.updateProfilePhoto_input.click()" />
      <input
        ref="updateProfilePhoto_input"
        type="file"
        class="hidden"
        accept="image/*"
        @change="updateProfilePhoto"
      >
    </div>
    <v-dialog v-model="copper_popup">
      <div class="bg-white p-10 rounded-card-popup haminja-popup">
        <div class="flex justify-center font-bold text-xl">
          انتخاب تصویر
        </div>
        <div class="mt-8">
          <cropper
            class="cropper"
            :src="selected_image"
            :stencil-props="{
              aspectRatio: 12 / 12,
            }"
            @change="change"
          />
        </div>
        <div class="flex justify-between mt-5">
          <button class="haminja-button-text" @click="submmitImage">
            <span class="haminja-success"> تایید </span>
          </button>
          <button class="haminja-button-text" @click="copper_popup = false">
            <span class="haminja-danger"> انصراف </span>
          </button>
        </div>
      </div>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'UploadBox',
  props: {
    label: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      copper_popup: false,
      image: '',
      selected_image: '',
      cropped_image: ''
    }
  },
  methods: {

    updateProfilePhoto (event) {
      this.selected_image = URL.createObjectURL(event.target.files[0])
      this.copper_popup = true
    },
    change ({ coordinates, canvas }) {
      this.cropped_image = canvas.toDataURL()
    },
    submmitImage () {
      this.image = this.cropped_image
      this.copper_popup = false
    },
    dataURLtoFile (dataurl) {
      const filename = 'pic.jpg'
      const arr = dataurl.split(',')
      const mime = arr[0].match(/:(.*?);/)[1]
      const bstr = atob(arr[1])
      let n = bstr.length
      const u8arr = new Uint8Array(n)
      while (n--) {
        u8arr[n] = bstr.charCodeAt(n)
      }
      return new File([u8arr], filename, { type: mime })
    }
  }
}
</script>

<style lang="scss" scoped>
.upload-form {
  .label {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    color: #535353;
  }
  .empty-image {
    height: 82px;
    width: 82px;
    background: #FCFCFC;
    border-radius: 20px;
  }
}
</style>
