<template>
  <aside class="layout__sidebar">
    <div class="profile-info">
      <UserHeader />
    </div>
    <div class="menu-items">
      <a href="#" class="menu-item">
        <!-- <SvgIcon icon="" :size="27" /> -->
        <span>
          داشبورد
        </span>
      </a>
    </div>
  </aside>
</template>

<script>
export default {
  name: 'SidebarDesktopComponent'
}
</script>

<style lang="scss" scoped>
$sidebar-basis: 200px;

.layout__sidebar {
  flex: 3 1 $sidebar-basis;
  background-color: #FCFCFC;
  padding: 46px 26px;

  .profile-info {
    display: flex;
    padding: 46px 0px;
  }
  .menu-items {
    padding: 46px 0px;
  }
}
</style>
