<template>
  <div class="pt-6 pb-12">
    <ValidationObserver ref="settingsForm" v-slot="{ invalid }">
      <Header class="px-6 mb-7" route="/panel">
        <div slot="right-content" class="flex items-center">
          <div style="min-width: 45px;" />
          <div class="flex justify-center w-full">
            <span class="page-title">نتظیمات فروشگاه</span>
          </div>
        </div>
      </Header>

      <div class="px-6">
        <div class="mt-8">
          <FormInput
            v-type="'number'"
            label="سود سفارشات"
            placeholder="مقدار به عدد وارد شود"
            :v-model.sync="model.profit"
            :validate="{required: true, profit: true, min: 1, max_value: 100}"
            height="110px"
          />
        </div>
      </div>

      <div class="flex justify-center navigation-bottom-mobile-box">
        <FormButton name="بروز رسانی" :disabled="invalid" :run-loading="formLoading" :on-click="()=>{submit()}" />
      </div>
    </ValidationObserver>
  </div>
</template>

<script>
export default {
  name: 'PanelCategoriesAddPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      model: {
        profit: 0
      },
      formLoading: false
    }
  },
  mounted () {
    this.fetchCategory()
  },
  methods: {
    fetchCategory () {
      this.formLoading = true
      this.$axios
        .get('/setting')
        .then((response) => {
          console.log(response)
          this.initProfit(response.data.data)
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.formLoading = false
        })
    },
    initProfit (items) {
      items.forEach((item) => {
        if (item.key === 'profit') {
          this.model.profit = item.value
        }
      })
    },
    async submit () {
      try {
        const isValid = await this.$refs.settingsForm.validate()
        if (!isValid) {
          throw new Error('لطفا اطلاعات را به درستی وارد کنید')
        }
        this.formLoading = true
        await this.$axios.post('setting', this.fixData())
        this.$toast.success('تنظیمات بروز شد')
        this.formLoading = false
      } catch (e) {
        this.$toast.warning(e)
        console.log(e)
        this.formLoading = false
      }
    },
    fixData () {
      const bodyFormData = new FormData()
      bodyFormData.append('profit', this.model.profit)
      return bodyFormData
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.remove-all {
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  color: #C3C3C3;
}
.amount-box {
  height: 57px;
  background: #FCFCFC;
  padding: 20px;
  .total-amount {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #D81726;
  }
}
.navigation-bottom-mobile-box {
  position: fixed;
  bottom: 17px;
  width: 100%;
  padding: 0 20px 0 20px;
}
</style>
