<template>
  <div>
    <client-only>
      <mapir
        :api-key="apiKey"
        :center="mapCenter"
        :style="{ height: mapHeight, width: mapWidth }"
        :zoom="mapZoom"
        user-location
        @load="onMapLoaded"
      >
        <mapMarker
          v-if="
            markerCoordinates.length &&
              markerCoordinates[0] &&
              markerCoordinates[1]
          "
          :coordinates.sync="markerCoordinates"
          class="coordinates"
          anchor="bottom"
          color="blue"
        />
        <mapNavigationControl position="top-left" />
        <mapFullscreenControl position="top-right" />
        <mapGeolocateControl track-user-location position="top-right" />
      </mapir>
    </client-only>
  </div>
</template>

<script>
export default {
  name: 'CustomMap',
  props: {
    mapCenter: {
      type: Array,
      default () {
        return [53.542056, 36.695078]
      }
    },
    mapZoom: {
      type: Number,
      default: 13
    },
    mapHeight: {
      type: String,
      default: '100vh'
    },
    mapWidth: {
      type: String,
      default: '100vw'
    },
    markerCoordinates: {
      type: Array,
      default () {
        return [null, null]
      }
    },
    markerRadiusError: {
      type: Number,
      default: 5
    },
    popupInfo: {
      type: Array,
      default: null
    }
    // popupInfo: {
    //   type: Object,
    //   default: null
    // }
  },
  data () {
    return {
      dialog: false,
      selected: null,
      apiKey:
        'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImQ2NDA5M2I2NzM2NmExYmUxOTgwYjNlNTJiM2Y2YTZjODczOTQ0YTkzYWQ0YWM4Y2MzZmYyNTYxNDJjYzUwZTNlMmFiYjYxNDRiOGMxZDllIn0.eyJhdWQiOiIxNjA0MiIsImp0aSI6ImQ2NDA5M2I2NzM2NmExYmUxOTgwYjNlNTJiM2Y2YTZjODczOTQ0YTkzYWQ0YWM4Y2MzZmYyNTYxNDJjYzUwZTNlMmFiYjYxNDRiOGMxZDllIiwiaWF0IjoxNjM2NTYzMjM0LCJuYmYiOjE2MzY1NjMyMzQsImV4cCI6MTYzOTA2ODgzNCwic3ViIjoiIiwic2NvcGVzIjpbImJhc2ljIl19.mSDTmHMaWiGvn5wC_qa3hIhnM04hOWLnDHnlElrj00UG8w8KTKtieZ5szJNTwLh7Hphus8Z0iA5GNsAUwjRUfH_yszQH_o7qTbdKaOmb4iKohJFlossYhCe4quzDJpwd1t-dFwgO4WaXr17mUYE-Wf1HhHAmufintLfQpS7z6a9NxZVKlNe-do6e2NsU8mE0F8saFDERlZt3g2ZdHNhXFPn6i3ExpBuLSZV2QuOy2no90LKRmopDW3GhEA52cmeGwPmb20VeDLKPaefa-BiU3sZDoEtWcogLO9F74JCQ0paC5dNXTlXBfFIIJRKKHLaF1w8Eyz4jw9Tis13xGC2sGA',
      geoJsonSource: {
        type: 'geojson',
        data: {
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: this.markerCoordinates
          },
          properties: {}
        }
      },
      geoJsonlayer: {
        id: 'myLayer',
        source: 'mySource',
        type: 'circle',
        paint: {
          'circle-radius': {
            stops: [
              [0, 0],
              [10, this.metersToPixelsAtMaxZoom()]
            ],
            base: 2
          },
          'circle-color': 'rgba(0,109,243,0.2)',
          'circle-opacity': 0.6,
          'circle-stroke-width': 1,
          'circle-stroke-color': 'rgba(0,109,243,0.5)',
          'circle-stroke-opacity': 1
        }
      }
    }
  },
  computed: {
    bodyEl () {
      const el = document.querySelector('.map-org-create')
      return el
    },
    features () {
      const array = []
      this.popupInfo.forEach((item, index) => {
        array.push(
          {
            type: 'Feature',
            properties: {
              order: item.organization_id,
              id: item.organization_id,
              title: item.title,
              logo: item.logo ? item.logo : null,
              description: item.description ? item.description : null
            },
            geometry: {
              type: 'Point',
              coordinates: item.markerCoordinates
            }
          }
        )
      })

      return array
    }
  },
  watch: {
    async markerCoordinates (val) {
      await this.removeLayer()
      await this.addNewLayer()
      this.geoJsonSource.data.geometry.coordinates = val
    }
  },
  methods: {
    markerClicked (item) {
      const el = document.querySelector('.holder-logo')
      if (el) {
        el.style.display = 'none'
      }
      this.selected = item
      this.dialog = true
    },
    metersToPixelsAtMaxZoom (meters, latitude) {
      return (
        this.markerRadiusError /
        0.075 /
        Math.cos((this.markerCoordinates[1] * Math.PI) / 180)
      )
    },
    onMapLoaded (event) {
      // in component
      this.map = event.map
      setTimeout(() => {
        const el = document.querySelector('.holder-logo')
        if (el) {
          el.style.display = 'none'
        }
      }, 200)
    },
    removeLayer () {
      this.map.removeLayer('myLayer')
    },
    addNewLayer () {
      this.map.addLayer({
        id: 'myLayer',
        source: 'mySource',
        type: 'circle',
        paint: {
          'circle-radius': {
            stops: [
              [0, 0],
              [20, this.metersToPixelsAtMaxZoom()]
            ],
            base: 2
          },
          'circle-color': 'rgba(0,109,243,0.2)',
          'circle-opacity': 0.6,
          'circle-stroke-width': 1,
          'circle-stroke-color': 'rgba(0,109,243,0.5)',
          'circle-stroke-opacity': 1
        }
      })
    }
  }
}
</script>
<style>
/*.mapboxgl-map {*/
/*  border-radius: 4px;*/
/*}*/

.map-marker.blue {
  /* background-image: url('assets/images/marker.svg'); */
}
.mapboxgl-popup-content {
  background-color: #4e84ff !important;
  color: white !important;
  padding: 3px 3px 3px !important;
  font-size: 11px !important;
}
.mapboxgl-popup-content a {
  color: white !important;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #4e84ff !important;
}
.org-image {
    width: 85px;
    height: 85px;
    border-radius: 15px;
}
.org-title {
    font-weight: bold;
}
</style>
