<template>
  <div>
    <div class="mb-3 flex">
      <div class="filter-btn ml-3" @click="dialog=true">
        <SvgIcon icon="filter" :size="25" />
      </div>
      <FormInput :v-model.sync="search" placeholder="جستجو کنید..." search-icon @enter="enterSearch()" />
    </div>
    <div class="flex mb-2">
      <span v-if="categorySelect !== 'all'">
        <v-chip
          class="ma-2"
          close
          small
          @click:close="removeCategory"
        >
          {{ selectedCategoryTitle }}
        </v-chip>
      </span>
      <span v-if="filteredText">
        <v-chip
          class="ma-2"
          close
          small
          @click:close="removeTextSearch"
        >
          {{ filteredText }}
        </v-chip>
      </span>
    </div>
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <div class="flex justify-between items-center p-6">
          <div />
          <div class="dialog-header">
            <span>فیلترهای جستجو</span>
          </div>
          <div>
            <SvgIcon icon="close" :size="23" @click.native="closeDialog()" />
          </div>
        </div>

        <div class="section-filters px-6">
          <div class="filters-title">
            دسته بندی
          </div>
          <div class="block">
            <v-radio-group v-model="categorySelect">
              <v-radio
                v-for="n in categories"
                :key="n.category_id"
                :label="n.title"
                :value="n.category_id"
                color="#D81726"
              />
            </v-radio-group>
          </div>
        </div>

        <div v-if="false" class="section-filters px-6">
          <div class="filters-title">
            نمایش
          </div>
          <div class="grid gap-2 grid-cols-2">
            <v-radio-group v-model="filterSelect">
              <v-radio
                v-for="n in filtersFirstPart"
                :key="n.id"
                :label="n.title"
                :value="n.id"
                color="#D81726"
              />
            </v-radio-group>
            <v-radio-group v-model="filterSelect">
              <v-radio
                v-for="n in filtersSecondPart"
                :key="n.id"
                :label="n.title"
                :value="n.id"
                color="#D81726"
              />
            </v-radio-group>
          </div>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'FilterModalComponent',
  props: {
    index: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      dialog: false,
      isLoadingCategories: false
    }
  },
  computed: {
    selectedCategoryTitle () {
      let title
      const result = this.categories.find(item => item.category_id === this.categorySelect)
      if (result) {
        title = result.title
      }
      return title
    },
    filtersFirstPart () {
      const list = this.filters
      const middleIndex = Math.ceil(list.length / 2)

      const firstHalf = list.slice().splice(0, middleIndex)

      return firstHalf
    },
    filtersSecondPart () {
      const list = this.filters
      const middleIndex = Math.ceil(list.length / 2)
      const secondHalf = list.slice().splice(-middleIndex)

      return secondHalf
    },
    filterSelect: {
      get () {
        return this.$store.state.filter.filterSelect
      },
      set (val) {
        this.$store.commit('filter/updateFilterSelect', val)
      }
    },
    categorySelect: {
      get () {
        return this.$store.state.filter.categorySelect
      },
      set (val) {
        this.$store.commit('filter/updateCategorySelect', val)
      }
    },
    search: {
      get () {
        return this.$store.state.filter.search
      },
      set (val) {
        this.$store.commit('filter/updateSearch', val)
      }
    },
    filteredText: {
      get () {
        return this.$store.state.filter.filteredText
      },
      set (val) {
        this.$store.commit('filter/updateFilteredText', val)
      }
    },
    categories: {
      get () {
        return this.$store.state.filter.categories
      },
      set (val) {
        this.$store.commit('filter/updateCategories', val)
      }
    },
    filters: {
      get () {
        return this.$store.state.filter.filters
      },
      set (val) {
        this.$store.commit('filter/updateFilters', val)
      }
    }
  },
  mounted () {
    this.fetchCategories()
    if (this.$route.name === 'index') {
      this.$store.commit('filter/reset')
    }
  },
  methods: {
    filterRequest () {
      this.dialog = false
      let filter = ''
      if (this.categorySelect !== 'all') {
        filter += `&category_id={"type":"exec","condition":"=","value":"${this.categorySelect}"}`
      }
      if (this.search.length > 2) {
        this.filteredText = this.search
        filter += `&search={"type":"contains","text":"${this.search.trim()}","columns":["title","description"]}`
      }
      this.$emit('filter', filter)
    },
    stateSearch () {
      this.dialog = false
      let filter = ''
      if (this.categorySelect !== 'all') {
        filter += `&category_id={"type":"exec","condition":"=","value":"${this.categorySelect}"}`
      }
      if (this.search.length > 2) {
        this.filteredText = this.search
        filter += `&search={"type":"contains","text":"${this.search.trim()}","columns":["title","description"]}`
      }
      return filter
    },
    enterSearch () {
      if (this.search.length > 2) {
        this.filterRequest()
      }
      if (this.search.length === 0) {
        this.removeTextSearch()
      }
    },
    closeDialog () {
      setTimeout(() => {
        this.filterRequest()
      }, 100)
    },
    fetchCategories () {
      this.isLoadingCategories = true
      this.$axios
        .get('/category?limit=50')
        .then((response) => {
          this.categories = response.data.data
          this.categories.unshift(
            {
              category_id: 'all',
              title: 'همه'
            }
          )
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.isLoadingCategories = false
        })
    },
    filter () {
      this.dialog = false
    },
    removeCategory () {
      this.categorySelect = 'all'
      this.filterRequest()
    },
    removeTextSearch () {
      this.search = ''
      let filter = ''
      if (this.categorySelect !== 'all') {
        filter += `&category_id={"type":"exec","condition":"=","value":"${this.categorySelect}"}`
      }
      this.filteredText = ''
      this.$emit('filter', filter)
    },
    showModal () {
      this.dialog = true
    },
    hideModal () {
      this.dialog = false
    }
  }
}
</script>

<style lang="scss" scoped>
.filter-btn {
  min-width: 49px;
  height: 46px;
  background: #D81726;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-header span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.section-filters {
  .filters-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #023047;
  }
}
</style>
