<template>
  <div class="grid grid-cols-12 gap-2">
    <div class="col-span-10">
      <slot name="right-content" />
    </div>
    <div class="col-span-2 flex justify-end items-center">
      <SvgIcon icon="arrow-left" :size="25" @click.native="route ? $router.push({ path: route }) : $router.go(-1)" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeaderComponent',
  props: {
    route: {
      type: String,
      default: null
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
