<template>
  <span :class="className">{{ toJalaliDateAndTime }}</span>
</template>

<script>
export default {
  props: {
    date: {
      type: String,
      default: ''
    },
    className: {
      type: String,
      default: ''
    }
  },
  computed: {
    toJalaliDateAndTime () {
      if (!(new Date(this.date)).getTime() > 0) { return 'تاریخ نامشخص' }

      // this.$moment.loadPersian({usePersianDigits: true})
      return this.$moment(this.date).format('jDD jMMMM jYYYY ساعت HH:MM')
    }
  }
}
</script>
