<template>
  <div class="flex justify-center navigation-bottom-mobile-box">
    <div class="flex justify-between navigation-bottom-mobile">
      <div class="flex justify-center items-center" @click="openTab('cart')">
        <div class="block">
          <div class="flex justify-center">
            <SvgIcon v-if="itemState('cart')" class="block" icon="shopping-cart-active" :size="14" />
            <SvgIcon v-else class="block" icon="shopping-cart" :size="14" />
          </div>
          <span class="label block" :class="itemState('cart') ? 'active' : ''">سبد خرید</span>
        </div>
      </div>
      <div class="flex justify-center items-center" @click="openTab('index')">
        <div class="block">
          <div class="flex justify-center">
            <SvgIcon v-if="itemState('index')" class="block" icon="home-active" :size="14" />
            <SvgIcon v-else class="block" icon="home" :size="14" />
          </div>
          <span class="label block" :class="itemState('index') ? 'active' : ''">خانه</span>
        </div>
      </div>
      <div class="flex justify-center items-center" @click="openTab('search')">
        <div class="block">
          <div class="flex justify-center">
            <SvgIcon v-if="itemState('search')" class="block" icon="search-bottom-active" :size="14" />
            <SvgIcon v-else class="block" icon="search-bottom" :size="14" />
          </div>
          <span class="label block" :class="itemState('search') ? 'active' : ''">جستجو</span>
        </div>
      </div>
      <div class="flex justify-center items-center" @click="openTab('profile')">
        <div class="block">
          <div class="flex justify-center">
            <SvgIcon v-if="itemState('profile')" class="block" icon="user-active" :size="14" />
            <SvgIcon v-else class="block" icon="user" :size="14" />
          </div>
          <span class="label block" :class="itemState('profile') ? 'active' : ''">پروفایل</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      navigationBottom: ''
    }
  },
  computed: {
  },
  methods: {
    openTab (item) {
      this.navigationBottom = item
      this.$router.push(item === 'index' ? { path: '/' } : { path: '/' + item })
    },
    itemState (item) {
      return this.$route.name === item
    }
  }
}
</script>

<style lang="scss" scoped>

.navigation-bottom-mobile-box {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 10px 20px 10px 20px;
  background: #EDEEF2;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.navigation-bottom-mobile {
  width: 100%;
  height: 49px;
  // background: #FAF9F9;
  border-radius: 20px;
  cursor: pointer;
  .label {
    font-weight: normal;
    font-size: 7px;
    line-height: 11px;
    color: #000000;
    text-align: center;
    &.active {
      color: #D81726;
    }
  }
}
.navigation-bottom-mobile div {
  // flex: 1 1 auto !important;
}
</style>
