<template>
  <div>
    <div v-if="isShow" class="download-app-banner flex justify-between">
      <div class="flex items-center download-app-banner-title mr-6">
        <span @click="ignore_modal = true">نصب وب اپلیکیشن بینکو</span>
      </div>
      <div class="flex justify-end items-center">
        <v-icon color="white" @click.native="close">
          mdi-close-thick
        </v-icon>
      </div>
    </div>
    <div v-if="ignore_modal" class="download-app-modal flex px-6 flex-col justify-center items-center">
      <div class="icon-box mt-8">
        <img src="@/assets/images/logo/icon.png">
      </div>
      <div class="title-text">
        وب اپلیکیشن بینکو رو به صفحه اصلی خود اضافه کنید.
      </div>
      <div class="p-8 mt-6" style=" background-color: #efefef; border-radius: 20px;">
        <div class="guide-text ">
          <span style="margin-top: 0px">
            1- در نوار پایین دکمه <v-icon color="red">mdi-export-variant</v-icon><b>"Share"</b> را انتخاب کنید.
          </span>
          <span style="margin-top: 12px">
            2- در منوی باز شده، گزینه <v-icon>mdi-plus-box</v-icon><b>"Add to home screen"</b> را انتخاب کنید.
          </span>
          <span style="margin-top: 24px">
            3- در مرحله بعد در قسمت بالا روی <b>"Add"</b> کلیک کنید.
          </span>
        </div>
        <div class="flex flex-col items-center">
          <button
            class="ignore-pwa-button"
            @click="close"
          >
            <span>متوجه شدم</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      windowWidth: false,
      ignore_modal: false
    }
  },
  computed: {
    isShow () {
      if (this.isMobile) {
        return this.$store.state.app.pwa_popup_show
      }
      return false
    },
    isMobile () {
      return this.windowWidth < 600
    }
  },
  mounted () {
    this.checkIgnoreAddToHomeScreen(this.$cookies.get('ignoreAddToHomeScreen'))
    this.$nextTick(() => {
      this.windowWidth = window.innerWidth
    })
  },
  methods: {
    checkIgnoreAddToHomeScreen (state) {
      if (state === undefined) {
        this.show()
      } else if (state === false) {
        this.show()
      } else if (state === true) {
        this.close()
      }
    },
    show () {
      this.$store.commit('app/pwaPopupState', true)
      this.$cookies.set('ignoreAddToHomeScreen', false, {
        path: '/',
        maxAge: 60 * 60 * 24 * 30
      })
    },
    close () {
      this.$store.commit('app/pwaPopupState', false)
      this.$cookies.set('ignoreAddToHomeScreen', true, {
        path: '/',
        maxAge: 60 * 60 * 24 * 30
      })
      this.ignore_modal = false
    }
  }
}
</script>

<style>
.download-app-banner {
    width: 100%;
    height: 70px;
    bottom: 0;
    z-index: 1000;
    color: #fff;
    position: fixed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px 20px;
    border-radius: 30px 30px 0 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 16px;
    font-size: 1.143rem;
    line-height: 34px;
    background-color: #D81726;
}
.download-app-banner-title span {
    font-size: 17px;
    font-weight: bold;
    /* font-family: 'YekanBakh-Regular'; */
}
.download-app-modal {
    width: 100%;
    height: 100%;
    background: white;
    position: fixed;
    z-index: 100101;
}

.download-app-modal .icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 20px;
    box-shadow: 0px 12px 46px -24px rgb(48 48 48);
    padding: 2px;
    /* margin-top: 50px; */
   }
   .download-app-modal .title-text{
    margin-top: 30px;
    font-size: 20px;
    /* font-family: YekanBakh-Bold; */
    text-align: center;
    color: rgb(0 0 0 / 84%);
   }
   .download-app-modal .guide-text span{
    /* font-family: YekanBakh-Regular; */
    color: black;
    font-size: 18px;
    display: inline-block;
   }
       .download-app-modal .guide-text b{
    color: rgba(0, 0, 0, 0.89);
    font-size: 18px;
    margin-top: 10px;
       }
.ignore-pwa-button {
  width: 250px;
  height: 52px;
  padding: 14.2px 74.4px 10.8px 74.6px;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  box-shadow: 0 15px 20px 0 rgba(112, 122, 227, 0.2);
  background-color: #D81726;
  margin-top: 35px;
}
.ignore-pwa-button span {
  /* font-family: YekanBakh-Bold; */
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.56;
  letter-spacing: normal;
  color: white;
}
</style>
