<template>
  <div id="photo-modal" class="photo-modal" :style="show ? 'display: block;' : 'display: none;'">
    <span class="photo-modal-close" @click="updateShowStatus">&times;</span>
    <img class="photo-modal-content" :src="imageSrcPreview" alt="">
    <div class="photo-modal-caption" />
  </div>
</template>

<script>
export default {
  name: 'PreviewImage',
  props: {
    show: {
      type: Boolean,
      default: false
    },
    imageSrcPreview: {
      type: String,
      default: ''
    }
  },
  methods: {
    updateShowStatus () {
      this.$emit('update:show')
    }
  }
}
</script>

<style lang="scss" scoped>

/* The Modal (background) */
.photo-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  // background: rgba(0, 0, 0, 0.2) !important;
}

/* Modal Content (image) */
.photo-modal-content {
  margin: auto;
  display: block;
  width: 80%;
  opacity: 1 !important;
  max-width: 90vw;
  max-height: 90vh;
  -webkit-box-shadow: 0 13px 46px 0 rgb(155 155 155 / 81%) !important;
  -moz-box-shadow: 0 13px 46px 0 rgb(155 155 155 / 81%) !important;
  box-shadow: 0 13px 46px 0 rgb(155 155 155 / 81%) !important;
}

/* Caption of Modal Image */
.photo-modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1200px;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 1em;
  margin-top: 32px;
}

/* Add Animation */
.photo-modal-content, .photo-modal-caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-atransform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

/* The Close Button */
.photo-modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.photo-modal-close:hover,
.photo-modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

</style>
