<template>
  <span>
    <span v-if="value != 0" :class="overline ? 'line-through ' + className : className">{{ value | numberWithCommas }} تومان</span>
    <span v-else>{{ type == 'price' ? 'رایگان' : value }}</span>
  </span>
</template>

<script>
export default {
  name: 'PriceComponent',
  filters: {
    numberWithCommas (val) {
      return val != null
        ? val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '،')
        : 0
    }
  },
  props: {
    value: {
      type: [String, Number],
      default: 0
    },
    overline: {
      type: Boolean,
      default: false
    },
    className: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: ''
    }
  }
}
</script>
