<template>
  <div>
    <client-only>
      <mapir
        :api-key="apiKey"
        :center="mapCenter"
        :style="{ height: mapHeight, width: mapWidth }"
        :zoom="mapZoom"
        @click="mapOnClick"
        @load="onMapLoaded"
      >
        <!-- <MapPlugin /> -->
        <mapNavigationControl position="top-left" />
        <mapMarker
          v-if="
            markerCoordinates.length &&
              markerCoordinates[0] &&
              markerCoordinates[1]
          "
          :coordinates.sync="markerCoordinates"
          :draggable="true"
          class="coordinates"
          anchor="bottom"
          color="blue"
          @dragend="$emit('update:vModel', markerCoordinates)"
        />
        <mapGeojsonLayer
          replace
          replace-source
          :layer="geoJsonlayer"
          :source="geoJsonSource"
          layer-id="myLayer"
          source-id="mySource"
        />
        <mapFullscreenControl position="top-right" />
        <mapGeolocateControl position="top-right" />
      </mapir>
    </client-only>
  </div>
</template>

<script>
export default {
  name: 'SelectedMap',
  props: {
    mapCenter: {
      type: Array,
      default () {
        return [53.542056, 36.695078]
      }
    },
    mapZoom: {
      type: Number,
      default: 13
    },
    vModel: {},
    mapHeight: {
      type: String,
      default: '50vh'
    },
    mapWidth: {
      type: String,
      default: '40vw'
    },
    markerCoordinates: {
      type: Array,
      default () {
        return [null, null]
      }
    },
    markerRadiusError: {
      type: Number,
      default: 5
    }
  },
  data () {
    return {
      apiKey:
        'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImQ2NDA5M2I2NzM2NmExYmUxOTgwYjNlNTJiM2Y2YTZjODczOTQ0YTkzYWQ0YWM4Y2MzZmYyNTYxNDJjYzUwZTNlMmFiYjYxNDRiOGMxZDllIn0.eyJhdWQiOiIxNjA0MiIsImp0aSI6ImQ2NDA5M2I2NzM2NmExYmUxOTgwYjNlNTJiM2Y2YTZjODczOTQ0YTkzYWQ0YWM4Y2MzZmYyNTYxNDJjYzUwZTNlMmFiYjYxNDRiOGMxZDllIiwiaWF0IjoxNjM2NTYzMjM0LCJuYmYiOjE2MzY1NjMyMzQsImV4cCI6MTYzOTA2ODgzNCwic3ViIjoiIiwic2NvcGVzIjpbImJhc2ljIl19.mSDTmHMaWiGvn5wC_qa3hIhnM04hOWLnDHnlElrj00UG8w8KTKtieZ5szJNTwLh7Hphus8Z0iA5GNsAUwjRUfH_yszQH_o7qTbdKaOmb4iKohJFlossYhCe4quzDJpwd1t-dFwgO4WaXr17mUYE-Wf1HhHAmufintLfQpS7z6a9NxZVKlNe-do6e2NsU8mE0F8saFDERlZt3g2ZdHNhXFPn6i3ExpBuLSZV2QuOy2no90LKRmopDW3GhEA52cmeGwPmb20VeDLKPaefa-BiU3sZDoEtWcogLO9F74JCQ0paC5dNXTlXBfFIIJRKKHLaF1w8Eyz4jw9Tis13xGC2sGA',
      geoJsonSource: {
        type: 'geojson',
        data: {
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: this.markerCoordinates
          },
          properties: {}
        }
      },
      geoJsonlayer: {
        id: 'myLayer',
        source: 'mySource',
        type: 'circle',
        paint: {
          'circle-radius': {
            stops: [
              [0, 0],
              [20, this.metersToPixelsAtMaxZoom()]
            ],
            base: 2
          },
          'circle-color': 'rgba(0,109,243,0.2)',
          'circle-opacity': 0.6,
          'circle-stroke-width': 1,
          'circle-stroke-color': 'rgba(0,109,243,0.5)',
          'circle-stroke-opacity': 1
        }
      }
    }
  },
  watch: {
    markerCoordinates (val) {
      setTimeout(() => {
        this.removeLayer()
        this.addNewLayer()
      }, 8500)
      // await this.findAddress()
      this.geoJsonSource.data.geometry.coordinates = val
    }
  },
  created () {
    // if (this.vModel) {
    //   this.innerValue = this.vModel;
    // }
  },
  methods: {
    metersToPixelsAtMaxZoom (meters, latitude) {
      return (
        this.markerRadiusError /
        0.075 /
        Math.cos((this.markerCoordinates[1] * Math.PI) / 180)
      )
    },
    onMapLoaded (event) {
      // in component
      this.map = event.map
      const el = document.querySelector('.holder-logo')
      if (el) {
        el.style.display = 'none'
      }
    },
    removeLayer () {
      this.map.removeLayer('myLayer')
    },
    addNewLayer () {
      if (this.map) {
        this.map.addLayer({
          id: 'myLayer',
          source: 'mySource',
          type: 'circle',
          paint: {
            'circle-radius': {
              stops: [
                [0, 0],
                [20, this.metersToPixelsAtMaxZoom()]
              ],
              base: 2
            },
            'circle-color': 'rgba(0,109,243,0.2)',
            'circle-opacity': 0.6,
            'circle-stroke-width': 1,
            'circle-stroke-color': 'rgba(0,109,243,0.5)',
            'circle-stroke-opacity': 1
          }
        })
      }
    },
    mapOnClick (e) {
      // alert(`coordinate clicked: ${JSON.stringify(e.actualEvent.lngLat, 2)}`);
      const xx = [e.actualEvent.lngLat.lng, e.actualEvent.lngLat.lat]
      this.$emit('update:vModel', xx)
      this.$emit('change')
      // this.markerCoordinates = xx
      // console.log(e.actualEvent.lngLat);
      // console.log(this.markerCoordinates);
    },
    async findAddress () {
      // let request = await this.$axios.get(`https://map.ir/reverse?lat=${this.markerCoordinates[1]}&lon=${this.markerCoordinates[0]}7`, {headers: { 'x-api-key': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImQ2NDA5M2I2NzM2NmExYmUxOTgwYjNlNTJiM2Y2YTZjODczOTQ0YTkzYWQ0YWM4Y2MzZmYyNTYxNDJjYzUwZTNlMmFiYjYxNDRiOGMxZDllIn0.eyJhdWQiOiIxNjA0MiIsImp0aSI6ImQ2NDA5M2I2NzM2NmExYmUxOTgwYjNlNTJiM2Y2YTZjODczOTQ0YTkzYWQ0YWM4Y2MzZmYyNTYxNDJjYzUwZTNlMmFiYjYxNDRiOGMxZDllIiwiaWF0IjoxNjM2NTYzMjM0LCJuYmYiOjE2MzY1NjMyMzQsImV4cCI6MTYzOTA2ODgzNCwic3ViIjoiIiwic2NvcGVzIjpbImJhc2ljIl19.mSDTmHMaWiGvn5wC_qa3hIhnM04hOWLnDHnlElrj00UG8w8KTKtieZ5szJNTwLh7Hphus8Z0iA5GNsAUwjRUfH_yszQH_o7qTbdKaOmb4iKohJFlossYhCe4quzDJpwd1t-dFwgO4WaXr17mUYE-Wf1HhHAmufintLfQpS7z6a9NxZVKlNe-do6e2NsU8mE0F8saFDERlZt3g2ZdHNhXFPn6i3ExpBuLSZV2QuOy2no90LKRmopDW3GhEA52cmeGwPmb20VeDLKPaefa-BiU3sZDoEtWcogLO9F74JCQ0paC5dNXTlXBfFIIJRKKHLaF1w8Eyz4jw9Tis13xGC2sGA'}});
    }
  }
}
</script>

<style>
.map-marker.blue {
  /* background-image: url("assets/images/marker.svg") !important; */
  background-color: #ff000000 !important;
}
.mapboxgl-canvas {
  border-radius: 20px;
}
</style>
