<template>
  <span>
    <img :src="require(`~/assets/icons/${icon}.svg`)" :alt="icon + ' Icon'" :style="size ? `width:${size}px;height:${size}px;` : ''">
  </span>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      required: true
    },
    size: {
      type: Number,
      default: 17
    }
  }
}
</script>

<style scoped>
img {
  display: inline;
}
</style>
