<template>
  <div class="flex justify-center items-center mb-3">
    <div cols="12" style="text-align: center;text-align: -webkit-center;">
      <div class="" style="height: 32px; width: 32px;">
        <svg aria-label="Loading..." class="  By4nA" viewBox="0 0 100 100"><rect
          fill="#555555"
          height="6"
          opacity="0"
          rx="3"
          ry="3"
          transform="rotate(-90 50 50)"
          width="25"
          x="72"
          y="47"
        /><rect
          fill="#555555"
          height="6"
          opacity="0.08333333333333333"
          rx="3"
          ry="3"
          transform="rotate(-60 50 50)"
          width="25"
          x="72"
          y="47"
        /><rect
          fill="#555555"
          height="6"
          opacity="0.16666666666666666"
          rx="3"
          ry="3"
          transform="rotate(-30 50 50)"
          width="25"
          x="72"
          y="47"
        /><rect
          fill="#555555"
          height="6"
          opacity="0.25"
          rx="3"
          ry="3"
          transform="rotate(0 50 50)"
          width="25"
          x="72"
          y="47"
        /><rect
          fill="#555555"
          height="6"
          opacity="0.3333333333333333"
          rx="3"
          ry="3"
          transform="rotate(30 50 50)"
          width="25"
          x="72"
          y="47"
        /><rect
          fill="#555555"
          height="6"
          opacity="0.4166666666666667"
          rx="3"
          ry="3"
          transform="rotate(60 50 50)"
          width="25"
          x="72"
          y="47"
        /><rect
          fill="#555555"
          height="6"
          opacity="0.5"
          rx="3"
          ry="3"
          transform="rotate(90 50 50)"
          width="25"
          x="72"
          y="47"
        /><rect
          fill="#555555"
          height="6"
          opacity="0.5833333333333334"
          rx="3"
          ry="3"
          transform="rotate(120 50 50)"
          width="25"
          x="72"
          y="47"
        /><rect
          fill="#555555"
          height="6"
          opacity="0.6666666666666666"
          rx="3"
          ry="3"
          transform="rotate(150 50 50)"
          width="25"
          x="72"
          y="47"
        /><rect
          fill="#555555"
          height="6"
          opacity="0.75"
          rx="3"
          ry="3"
          transform="rotate(180 50 50)"
          width="25"
          x="72"
          y="47"
        /><rect
          fill="#555555"
          height="6"
          opacity="0.8333333333333334"
          rx="3"
          ry="3"
          transform="rotate(210 50 50)"
          width="25"
          x="72"
          y="47"
        /><rect
          fill="#555555"
          height="6"
          opacity="0.9166666666666666"
          rx="3"
          ry="3"
          transform="rotate(240 50 50)"
          width="25"
          x="72"
          y="47"
        /></svg>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ILoading',
  props: {
    data: {
      required: false,
      type: Object
    }
  },
  data: () => ({
  }),
  methods: {
  }
}
</script>

<style>
.By4nA {
  -webkit-animation: IGCoreSpinnerSpin12 1.2s steps(12) infinite;
  animation: IGCoreSpinnerSpin12 1.2s steps(12) infinite;
}

@-webkit-keyframes IGCoreSpinnerSpin12 {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }

  to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}

@keyframes IGCoreSpinnerSpin12 {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }

  to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
  }
}

.By4nA.ZyL7E,.FSiF6.ZyL7E {
  -webkit-animation: none;
  animation: none
}
</style>
