<template>
  <div class="flex pr-4 mt-2">
    <div class="address-mini-box p-4 shadow-drop relative" style="width: 100%;">
      <div class="mb-1 flex justify-start">
        <b>نام تحویل گیرنده:</b>
        <span>{{ address.recipient }}</span>
      </div>
      <div class="mb-1 flex justify-start">
        <b>شماره تماس:</b>
        <span>{{ address.phone }}</span>
      </div>
      <div class="mb-1 flex justify-start">
        <b>آدرس:</b>
        <span>{{ address.mainStreet }}</span>
      </div>
      <div class="actions">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ItemAddressComponent',
  props: {
    address: {
      type: Object,
      default: null
    }
  }
}
</script>

<style lang="scss" scoped>
.address-mini-box {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  .actions {
    position: absolute;
    top: 12px;
    left: 12px;
  }
  b {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 25px;
    color: #474747;
    margin-left: 6px;
  }
  span {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 25px;
    color: #727272;
  }
}
</style>
