<template>
  <div class="pt-6">
    <div class="px-6 mb-7 flex justify-between items-center">
      <div class="ml-3">
        <v-badge
          v-if="productsLength != 0"
          left
          :content="productsLength"
          overlap
          color="rgb(242, 161, 11)"
          @click.native="$router.push({ path: '/cart' })"
        >
          <SvgIcon icon="shopping-cart" :size="25" />
        </v-badge>
        <SvgIcon v-else icon="shopping-cart" :size="25" />
      </div>
      <div v-if="product" class="page-title">
        {{ product.category ? product.category.title : 'دسته بندی' }}
      </div>
      <div>
        <SvgIcon icon="arrow-left" :size="25" @click.native="backButton" />
      </div>
    </div>

    <div v-if="product" class="mt-4 px-6">
      <div class="flex justify-center items-center images">
        <img v-if="product.images.length != 0" :src="product.images[0].file" :alt="product.title">
        <img v-else src="@/assets/images/others/no_image.jpg">
      </div>
      <div class="product-title mt-4">
        <span>{{ product.title }}</span>
      </div>
    </div>

    <div v-if="product" class="flex justify-end px-6">
      <div>
        <div class="price-discount">
          <Price :value="product.price" :overline="product.discount != 0" />
        </div>
        <div v-if="product.discount" class="price">
          <Price :value="product.price - product.price_discount" />
        </div>
      </div>
    </div>

    <!-- <div>
      سم
    </div> -->

    <div v-if="product" class="flex justify-center navigation-bottom-mobile-box">
      <FormButton v-if="product.quantity === 0" name="افزودن به سبد خرید" :on-click="()=>{add()}" />
    </div>
    <div v-if="product" class="flex justify-center navigation-bottom-mobile-box">
      <div v-if="product.quantity !== 0" class="flex items-center justify-between action-plus-minus">
        <SvgIcon :size="27" icon="add-red" @click.native="plus()" />
        <span class="count">{{ quantity ? quantity : product.quantity }}</span>
        <SvgIcon :size="27" icon="minus" @click.native="minus()" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SearchPage',
  layout: 'full',
  data () {
    return {
      product: null,
      quantity: null
    }
  },
  computed: {
    productsLength () {
      return this.$store.state.cart.products.length
    }
  },
  mounted () {
    this.fetchProduct()
  },
  methods: {
    fetchProduct () {
      this.isLoadingProducts = true
      this.$axios
        .get('/product/' + this.$route.params.id)
        .then((response) => {
          if (!response.data.error) {
            this.product = response.data.data
            this.product.quantity = 0
            this.getProductQuantityInCart()
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.isLoadingProducts = false
        })
    },
    add () {
      this.product.quantity = 1
      this.$store.commit('cart/add', this.product)
      this.quantity = 1
    },
    minus () {
      console.log(this.product.quantity)
      if (this.product.quantity === 1) {
        this.$store.commit('cart/remove', this.product)
        this.product.quantity = 0
      } else { this.$store.commit('cart/minus', this.product) }
      this.getProductQuantityInCart()
    },
    plus () {
      if (this.product.quantity === this.product.count) {
        this.$toast.warning(`موجودی این کالا در انبار ${this.product.count} عدد میباشد`)
      } else {
        this.$store.commit('cart/plus', this.product)
        this.getProductQuantityInCart()
      }
    },
    getProductQuantityInCart () {
      const products = this.$store.state.cart.products
      products.forEach((item) => {
        if (item.product_id === this.product.product_id) {
          this.product.quantity = item.quantity
          this.quantity = item.quantity
        }
      })
    },
    backButton () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="scss" scoped>
.filter-btn {
  min-width: 49px;
  height: 46px;
  background: #D81726;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #C3C3C3;
}
.images {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  height: 305px;
  img {
    max-height: 305px;
    max-width: 220px;
    border-radius: 13px;
  }
}
.product-title span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.navigation-bottom-mobile-box {
  position: fixed;
  bottom: 17px;
  width: 100%;
  padding: 0 20px 0 20px;
}
.price span {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #000000;
}
.price-discount span {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #939393;
}
.action-plus-minus {
  width: 180px;
  max-width: 180px;
  max-height: 30px;
  border: 1px solid #F6F6F6;
  box-sizing: border-box;
  border-radius: 20px;
}
</style>
