.form-input input {
    height: 40px;
    padding: 16px;
    border: 1px solid #D0D5DD;
    border-radius: 4px;
    color: #101828;
    outline: none;
    font-size: 14px;
    line-height: 22px;
    transition: all 1s;
}
.form-input input:not(:placeholder-shown) {
    border: 1px solid #6A7178;
}
.form-input input:focus {
    border: 1px solid #1068EB;
}
.form-input input:focus:not(:placeholder-shown) {
    border: 1px solid #1068EB;
}
.form-input input:hover {
    border: 1px solid #6A7178;
}
.form-input input:disabled {
    background: #ECECEC;
    border: 1px solid #D0D5DD;
    color: #ADB5BD;
}
.form-input input:disabled::placeholder {
    background: #ECECEC;
    color: #ADB5BD;
}
.form-input input::placeholder {
    color: #6A7178;
}
.form-input input:focus::placeholder {
    color: rgba(128, 128, 128, 0.5);
}
.form-input input.has-error {
    border: 1px solid #DF1642;
}


.form-input.form-input-lg input {
    height: 48px;
}
.form-input.form-input-sm input {
    height: 32px;
    font-size: 12px;
    line-height: 19px;
}


.form-input.form-input-icon i {
    position: absolute;
    padding: 17px;
    color: #6A7178;
}
.form-input.form-input-icon input {
    padding: 16px 40px;
}
.form-input .right-icon {
    min-width: 50px;
    font-size: 14px;
}
.form-input .left-icon {
    min-width: 50px;
}







.form-button {
    height: 40px;
    padding: 6px 20px;
    background: #024F7E;
    border-radius: 6px;
    transition: all 0.4s;
}
.form-button span {
    color: white;
    font-size: 12px;
}
.form-button:hover {
    background: #033B70;
}
.form-button:focus {
    background: #033B70;
}
.form-button:active {
    background: #557796;
}
.form-button:disabled {
    background: #D0D5DD;
}
.form-button.form-button-lg {
    height: 48px;
}
.form-button.form-button-sm {
    height: 32px;
}

.form-button.button-red {
    height: 40px;
    padding: 6px 20px;
    background: #FE3571;
    border-radius: 6px;
    transition: all 0.4s;
}
.form-button.button-red:hover {
    background: #b30e3f;
}
.form-button.button-red:focus {
    background: #8f002a;
}
.form-button.button-red:active {
    background: #b74365;
}