.nuxt-progress {
    z-index: 95959595921 !important;
}
.v-menu__content {
    max-height: 180px !important;
}
.v-dialog__content--active {
    /* backdrop-filter: blur(2px); */
    background: transparent;
    background-image: linear-gradient(127deg,hsla(0,0%,47.5%,.11) 29%,rgba(0,0,0,.27) 89%);
}
.v-dialog__content {
    /* z-index: 9808989898 !important; */
}
.v-dialog__content .v-dialog--active {
    z-index: 9808989898 !important;
}
.migmig-popup {
    border-radius: 20px;
    /* z-index: 9808989898 !important; */
}
.vpd-wrapper {
    /* backdrop-filter: blur(2px); */
    background: transparent;
    background-image: linear-gradient(127deg,hsla(0,0%,47.5%,.11) 29%,rgba(0,0,0,.27) 89%);
}
.input-left-align input {
    text-align: left !important;
    direction: ltr !important;
}
.input-left-align input::placeholder {
    text-align: right !important;
    direction: rtl !important;
}
.hide-details .v-text-field__details {
    display: none !important;
}
.haminja-serch-input label {
    color: #807E7F !important;
    font-weight: bold;
    font-size: 13px;
}
.haminja-serch-input input::placeholder {
    color: #807E7F !important;
    font-weight: bold;
}
.haminja-centered-input input {
    text-align: center !important;
}

.dashboard-header {
    background-color: #f2a10a;
    position: fixed;
    width: 100%;
    z-index: 959595959;
    box-shadow: 0 0px 5px 2px rgb(0 0 0 / 20%) !important;
}

.admin-dashboard-header {
    background-color: #0479cc;
    position: fixed;
    width: 100%;
    z-index: 959595959;
    box-shadow: 0 0px 5px 2px rgb(0 0 0 / 20%) !important;
}
.m-header { 
    margin-top: 100px !important;
}

.haminja-login-phone-input label {
    color: #807E7F !important;
    font-weight: bold;
    font-size: 13px;
}
.haminja-login-phone-input input::placeholder {
    color: #807E7F !important;
    font-weight: bold;
}
.haminja-centered-login-phone-input input {
    text-align: center !important;
}
.input-left-align-login input {
    direction: ltr !important;
}

.Vue-Toastification__container {
    z-index: 99989898989 !important;
}

  
.cropper {
    max-height: 400px !important;
}

.cropper .vue-advanced-cropper__stretcher {
    max-height: 400px !important;
}

.cropper .vue-advanced-cropper__boundaries .vue-advanced-cropper__cropper-wrapper {
    max-height: 400px !important;
}

.cropper .vue-advanced-cropper__boundaries .vue-advanced-cropper__background{
    max-height: 400px !important;
}

.cropper .vue-advanced-cropper__boundaries .vue-advanced-cropper__image-wrapper{
    max-height: 400px !important;
}

.cropper .vue-advanced-cropper__boundaries .vue-advanced-cropper__foreground{
    max-height: 400px !important;
}