<template>
  <div>
    <div class="px-6 mb-7 flex justify-between items-center">
      <div class="filter-btn ml-3" @click="dialog=true">
        <SvgIcon icon="filter" :size="25" />
      </div>
      <div class="page-title">
        {{ selectedCategoryTitle }}
      </div>
      <div>
        <SvgIcon icon="arrow-left" :size="25" @click.native="$router.push({path: '/'})" />
      </div>
    </div>

    <div v-if="!isLoading" class="grid gap-2 grid-cols-2 mt-4 px-6">
      <ProductMini v-for="item in products" :key="item.product_id" :product="item" />
    </div>
    <div v-else class="grid gap-2 grid-cols-2 mt-4 px-6">
      <v-sheet
        v-for="sk in 8"
        :key="sk"
        style="min-width: 100%;"
      >
        <v-skeleton-loader
          class="mx-auto"
          type="image"
          style="border-radius: 20px;height: 196px;width: 100%;"
        />
      </v-sheet>
    </div>
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <div class="flex justify-between items-center p-6">
          <div />
          <div class="dialog-header">
            <span>فیلترهای جستجو</span>
          </div>
          <div>
            <SvgIcon icon="close" :size="23" @click.native="closeDialog()" />
          </div>
        </div>

        <div class="section-filters px-6">
          <div class="filters-title">
            دسته بندی
          </div>
          <div class="block">
            <v-radio-group v-model="categorySelect">
              <v-radio
                v-for="n in categoriesList"
                :key="n.category_id"
                :label="n.title"
                :value="n.category_id"
                color="#D81726"
              />
            </v-radio-group>
          </div>
        </div>

        <div v-if="false" class="section-filters px-6">
          <div class="filters-title">
            نمایش
          </div>
          <div class="grid gap-2 grid-cols-2">
            <v-radio-group v-model="filterSelect">
              <v-radio
                v-for="n in filtersFirstPart"
                :key="n.id"
                :label="n.title"
                :value="n.id"
                color="#D81726"
              />
            </v-radio-group>
            <v-radio-group v-model="filterSelect">
              <v-radio
                v-for="n in filtersSecondPart"
                :key="n.id"
                :label="n.title"
                :value="n.id"
                color="#D81726"
              />
            </v-radio-group>
          </div>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'SearchPage',
  layout: 'index',
  data () {
    return {
      products: [],
      isLoading: false,
      dialog: false,
      categorySelect: 'all',
      isLoadingCategories: false,
      filterSelect: null,
      filters: [
        {
          id: 1,
          title: 'ارزانترین ها'
        },
        {
          id: 2,
          title: 'گرانترین ها'
        },
        {
          id: 3,
          title: 'پرتخفیف ترین ها'
        },
        {
          id: 4,
          title: 'پرفروش ترین ها'
        },
        {
          id: 5,
          title: 'جدیدترین ها'
        },
        {
          id: 6,
          title: 'نتایج جستجو'
        }
      ],
      categories: []
    }
  },
  computed: {
    categoriesList () {
      return this.$store.state.content.categories
    },
    selectedCategoryTitle () {
      let title
      const result = this.categoriesList.find(item => item.category_id === this.categorySelect)
      if (result) {
        title = result.title
      }
      return title
    },
    filtersFirstPart () {
      const list = this.filters
      const middleIndex = Math.ceil(list.length / 2)

      const firstHalf = list.slice().splice(0, middleIndex)

      return firstHalf
    },
    filtersSecondPart () {
      const list = this.filters
      const middleIndex = Math.ceil(list.length / 2)
      const secondHalf = list.slice().splice(-middleIndex)

      return secondHalf
    }
  },
  mounted () {
    this.searchInProducts()
    this.fetchCategories()
  },
  methods: {
    searchInProducts () {
      let filter = ''
      if (this.$route.params.id) {
        filter += `&category_id={"type":"exec","condition":"=","value":"${this.$route.params.id}"}`
      }
      this.isLoading = true
      this.$axios
        .get(`product?product_id={"type":"sort","value":"DESC"}${filter}`)
        .then((response) => {
          if (!response.data.error) {
            this.products = response.data.data
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.isLoading = false
        })
    },
    fetchCategories () {
      if (this.categoriesList.length !== 0) {
        this.isLoadingCategories = false
        this.categorySelect = parseInt(this.$route.params.id)
        return
      }
      this.isLoadingCategories = true
      this.$axios
        .get('/category?limit=50&category_id={"type":"sort","value":"DESC"}')
        .then((response) => {
          if (!response.data.error) {
            this.categories = response.data.data
            this.$store.commit('content/updateCategories', this.categories)
            this.categorySelect = parseInt(this.$route.params.id)
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.isLoadingCategories = false
        })
    },
    closeDialog () {
      this.dialog = false
      this.$router.push({ path: '/category/' + this.categorySelect })
    }
  }
}
</script>

<style lang="scss" scoped>
.filter-btn {
  min-width: 49px;
  height: 46px;
  background: #D81726;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
</style>
