<template>
  <div class="invoice-details p-6">
    <h3>جزئیات فاکتور</h3>
    <div class="flex justify-between my-2 item">
      <span>تعداد اقلام</span>
      <span>{{ info.productsCount }} عدد</span>
    </div>
    <!-- <div class="flex justify-between my-2 item">
      <span>جمع کل قبل از پرداخت</span>
      <span><Price :value="info.beforPayment" /></span>
    </div> -->
    <!-- <div class="flex justify-between my-2 item greeen">
      <span>سود شما</span>
      <span><Price :value="info.profit" /></span>
    </div> -->
    <div class="flex justify-between my-2 item">
      <span>هزینه ارسال</span>
      <span><Price :value="info.shipingPrice" /></span>
    </div>
    <!-- <div class="flex justify-between my-2 item">
      <span>جمع کل بعد از پرداخت</span>
      <span><Price :value="info.afterPayment" /></span>
    </div> -->
    <div class="flex justify-between my-2 item">
      <span>جمع کل کالا ها</span>
      <span><Price :value="info.totalProductsPrice" /></span>
    </div>
    <div class="flex justify-between my-2 item bold">
      <span>مبلغ قابل پرداخت</span>
      <span><Price :value="info.totalPrice" /></span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'InvoiceDetails',
  props: {
    info: {
      type: Object,
      default: null
    }
  },
  data () {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>
.invoice-details {
  background: #FCFCFC;
  h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #474747;
    text-align: center;
  }
  .item {
    font-weight: normal;
    font-size: 11px;
    line-height: 17px;
    color: #727272;
    &.greeen {
      color: #37B000;
    }
    &.bold {
      font-weight: bold;
      font-size: 11px;
      line-height: 17px;
      color: #000000;
    }
  }
}
</style>
