<template>
  <div class="invoice-info p-6">
    <div class="mb-1 flex justify-start">
      <b>شماره پیگیری:</b>
      <span>{{ item.order_id }}</span>
    </div>
    <div class="mb-1 flex justify-start">
      <b>نام تحویل گیرنده:</b>
      <span>{{ item.address.recipient }}</span>
    </div>
    <div class="mb-1 flex justify-start">
      <b>تاریخ خرید:</b>
      <span><JalaliDate :date="item.created_at" /></span>
    </div>
    <div class="mb-1 flex justify-start">
      <b>نحوه پرداخت:</b>
      <span>{{ paymentType }}</span>
    </div>
    <div class="mb-1 flex justify-start">
      <b>آدرس:</b>
      <span>{{ item.address.mainStreet }}</span>
    </div>
    <div class="mb-1 flex justify-start">
      <b>شماره:</b>
      <a :href="'tel:' + item.address.phone"><span>{{ item.address.phone }}</span></a>
    </div>
    <div class="mb-1 flex justify-start">
      <b>وضعیت سفارش:</b>
      <span>{{ status }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'InvoiceOnformation',
  props: {
    item: {
      type: Object,
      default: null
    }
  },
  computed: {
    status () {
      switch (this.item.status) {
        case 'pending':
          return this.pendingState(this.item.state)
        case 'verify':
          return this.verifyState(this.item.state)
        case 'cancelled':
          return this.cancelledState(this.item.state)
        default:
          return 'نامعلوم'
      }
    },
    paymentType () {
      let type
      switch (this.item.transaction.type) {
        case 'online':
          type = 'پرداخت آنلاین'
          break
        case 'offline':
          type = 'پرداخت در محل'
          break
        case 'credit':
          type = 'پرداخت از کیف پول'
          break
        default:
          type = 'نا معلوم'
          break
      }
      return type
    }
  },
  methods: {
    pendingState (key) {
      switch (key) {
        case 'operator':
          return 'در انتظار تایید اپراتور'
        case 'packaging':
          return 'در انتظار بسته بندی'
        case 'delivery':
          return 'در انتظار تحویل'
        case 'delivered':
          return 'در انتظار تحویل'
        case 'admin':
          return 'admin'
        default:
          return 'نامعلوم'
      }
    },
    verifyState (key) {
      switch (key) {
        case 'operator':
          return 'تایید شده توسط اپراتور'
        case 'packaging':
          return 'تایید شده توسط بسته بندی'
        case 'delivery':
          return 'تایید شده توسط مامور تحویل'
        case 'delivered':
          return 'به دست مشتری رسیده'
        case 'admin':
          return 'admin'
        default:
          return 'نامعلوم'
      }
    },
    cancelledState (key) {
      switch (key) {
        case 'operator':
          return 'رد شده توسط اپراتور'
        case 'packaging':
          return 'رد شده توسط مامور بسته بندی'
        case 'delivery':
          return 'رد شده توسط تحویل دهنده'
        case 'delivered':
          return 'رد شده توسط کاربر'
        case 'admin':
          return 'admin'
        default:
          return 'نامعلوم'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.invoice-info {
  background: #FCFCFC;
  span {
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: #727272;
    margin-right: 7px;
  }
  b {
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: #474747;
  }
}
</style>
