<template>
  <div class="pt-6">
    <Header class="px-6 mb-7" route="/panel">
      <div slot="right-content" class="flex items-center">
        <div style="min-width: 45px;" />
        <div class="flex justify-center w-full">
          <span class="page-title">سفارشات</span>
        </div>
      </div>
    </Header>

    <div class="flex justify-center mt-4 px-6">
      <FormSelect
        :options.sync="filters"
        :v-model.sync="selectedFilter"
        option-key-value="key"
        option-value="value"
        height="60px"
        @change="filterRequest"
      />
    </div>
    <div class="mb-6 px-6">
      <OrderMini v-for="order in orders" :key="order.order_id" :item="order">
        <template v-if="showActions">
          <FormButton
            v-if="order.status === 'pending'"
            has-icon
            icon="refresh"
            height="31px"
            width="30px"
            style="padding: 4px 0px;"
            :on-click="()=>{selectedItem = order;change_state_popup = true}"
          />
        </template>
        <FormButton name="جزئیات" height="31px" width="62px" style="padding: 4px 5px;" :on-click="()=>{$router.push({path: '/order/' + order.order_id})}" />
      </OrderMini>
      <scroll-loader ref="scrollLoader" :loader-method="fetchData" :loader-disable="disable" loader-color="#D81726" />
    </div>

    <v-dialog v-model="change_state_popup">
      <div v-if="selectedItem" class="bg-white p-4 rounded-card-popup migmig-popup">
        <div class="flex justify-center" style="font-size: 15px;color: #535353;">
          شماره پیگیری: {{ selectedItem.order_id }}
        </div>
        <div class="mt-3">
          <FormTextArea :v-model.sync="report_text" label="توضیحات تغییر وضعیت" height="105px" />
        </div>
        <div v-if="hasRole('operator') || hasRole('packaging') || hasRole('delivery')" class="flex justify-between mt-6">
          <FormButton
            v-if="hasRole('operator') && selectedItem.state === 'operator'"
            :run-loading="formLoading"
            name="ارسال به بسته بندی"
            width="165px"
            height="46px"
            :on-click="()=>{changeStatus('verify')}"
          />
          <FormButton
            v-if="hasRole('packaging') && selectedItem.state === 'packaging'"
            :run-loading="formLoading"
            name="ارسال برای تحویل"
            width="145px"
            height="46px"
            :on-click="()=>{changeStatus('verify')}"
          />
          <FormButton
            v-if="hasRole('delivery') && selectedItem.state === 'delivery'"
            :run-loading="formLoading"
            name="تحویل به مشتری"
            width="145px"
            height="46px"
            :on-click="()=>{changeStatus('verify')}"
          />
          <FormButton
            name="عدم تایید"
            width="115px"
            height="46px"
            bg-color="#474747"
            :run-loading="formLoadingCancel"
            :on-click="()=>{changeStatus('cancelled')}"
          />
        </div>
      </div>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'PanelOrdersPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      disable: false,
      page: 1,
      pageSize: 10,
      filterModel: null,
      filters: [
        {
          key: 'all',
          value: 'همه'
        },
        {
          key: 'operatorPending',
          value: 'سفارشات جدید'
        },
        {
          key: 'packagingPending',
          value: 'آماده بسته بندی'
        },
        {
          key: 'deliveryPending',
          value: 'آماده تحویل'
        },
        // {
        //   key: 'deliveredPending',
        //   value: 'تحویل داده شده'
        // },
        {
          key: 'deliveredVerify',
          value: 'تایید نهایی شده'
        },
        {
          key: 'operatorCancelled',
          value: 'رد شده توسط اپراتور'
        },
        {
          key: 'packagingCancelled',
          value: 'رد شده توسط مسئول بسته بندی'
        },
        {
          key: 'deliveredCancelled',
          value: 'تحویل داده نشده'
        },
        {
          key: 'deliveryCancelled',
          value: 'رد شده توسط مامور تحویل'
        }
      ],
      // selectedFilter: 'all',
      orders: [],
      isLoading: false,
      change_state_popup: false,
      selectedItem: null,
      report_text: '',
      formLoading: false,
      formLoadingCancel: false,
      showActions: false
    }
  },
  computed: {
    selectedFilter: {
      get () {
        return this.$store.state.filter.selectedFilter
      },
      set (val) {
        this.$store.commit('filter/updateSelectedFilter', val)
      }
    }
  },
  mounted () {
    if (this.hasRole('super-operator')) {
      this.filters = [
        {
          key: 'all',
          value: 'همه'
        },
        {
          key: 'operatorPending',
          value: 'سفارشات جدید'
        },
        {
          key: 'packagingPending',
          value: 'آماده بسته بندی'
        },
        {
          key: 'deliveryPending',
          value: 'آماده تحویل'
        },
        // {
        //   key: 'deliveredPending',
        //   value: 'تحویل داده شده'
        // },
        {
          key: 'deliveredVerify',
          value: 'تایید نهایی شده'
        },
        {
          key: 'operatorCancelled',
          value: 'رد شده توسط اپراتور'
        },
        {
          key: 'packagingCancelled',
          value: 'رد شده توسط مسئول بسته بندی'
        },
        {
          key: 'deliveredCancelled',
          value: 'تحویل داده نشده'
        },
        {
          key: 'deliveryCancelled',
          value: 'رد شده توسط مامور تحویل'
        }
      ]
    } else {
      if (this.hasRole('operator')) {
        this.filters.push(
          {
            key: 'operatorPending',
            value: 'سفارشات جدید'
          },
          {
            key: 'operatorCancelled',
            value: 'رد شده توسط اپراتور'
          }
        )
      }
      if (this.hasRole('packaging')) {
        this.filters.push(
          {
            key: 'packagingPending',
            value: 'آماده بسته بندی'
          },
          {
            key: 'packagingCancelled',
            value: 'رد شده توسط مسئول بسته بندی'
          }
        )
      }
      if (this.hasRole('delivery')) {
        this.filters.push(
          {
            key: 'deliveryPending',
            value: 'آماده تحویل'
          },
          {
            key: 'deliveredCancelled',
            value: 'تحویل داده نشده'
          },
          {
            key: 'deliveryCancelled',
            value: 'رد شده توسط مامور تحویل'
          }
        )
      }
    }
    if (this.hasRole('operator') || this.hasRole('packaging') || this.hasRole('delivery')) {
      this.showActions = true
    }
  },
  methods: {
    fetchData () {
      this.filterModel = this.getFilter()
      this.$axios
        .get(`order?${this.filterModel}`, {
          params: {
            page: this.page++,
            limit: this.pageSize,
            order_id: { type: 'sort', value: 'DESC' },
            admin: true
          }
        })
        .then((response) => {
          if (!response.data.error) {
            this.orders = [...this.orders, ...response.data.data]
            this.disable = response.data.data.length < this.pageSize
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
        })
    },
    filterRequest () {
      this.filterModel = this.getFilter()
      this.page = 1
      this.orders = []
      this.$refs.scrollLoader.loaderMethod()
    },
    getFilter () {
      switch (this.selectedFilter) {
        case 'all':
          return ''
        case 'operatorPending':
          return '&state={"type":"exec","condition":"=","value":"operator"}&status={"type":"exec","condition":"=","value":"pending"}'
        case 'packagingPending':
          return '&state={"type":"exec","condition":"=","value":"packaging"}&status={"type":"exec","condition":"=","value":"pending"}'
        case 'deliveryPending':
          return '&state={"type":"exec","condition":"=","value":"delivery"}&status={"type":"exec","condition":"=","value":"pending"}'
        case 'deliveredPending':
          return '&state={"type":"exec","condition":"=","value":"delivered"}&status={"type":"exec","condition":"=","value":"pending"}'
        case 'deliveredVerify':
          return '&state={"type":"exec","condition":"=","value":"delivered"}&status={"type":"exec","condition":"=","value":"verify"}'
        case 'operatorCancelled':
          return '&state={"type":"exec","condition":"=","value":"operator"}&status={"type":"exec","condition":"=","value":"cancelled"}'
        case 'packagingCancelled':
          return '&state={"type":"exec","condition":"=","value":"packaging"}&status={"type":"exec","condition":"=","value":"cancelled"}'
        case 'deliveredCancelled':
          return '&state={"type":"exec","condition":"=","value":"delivered"}&status={"type":"exec","condition":"=","value":"cancelled"}'
        case 'deliveryCancelled':
          return '&state={"type":"exec","condition":"=","value":"delivery"}&status={"type":"exec","condition":"=","value":"cancelled"}'
        default:
          return ''
      }
    },
    changeStatus (state) {
      const bodyFormData = new FormData()
      bodyFormData.append('action', state)
      bodyFormData.append('order_id', this.selectedItem.order_id)
      bodyFormData.append('description', this.report_text)
      if (state === 'verify') {
        this.formLoading = true
      } else {
        this.formLoadingCancel = true
      }
      this.$axios
        .post('order/transitions', bodyFormData)
        .then((response) => {
          this.formLoading = false
          this.formLoadingCancel = false
          if (response.data.error) {
            this.$toast.warning(response.data.error.message)
          } else {
            if (state === 'verify') {
              this.selectedItem.status = 'verify'
              this.change_state_popup = false
            } else {
              this.selectedItem.status = 'cancelled'
              this.change_state_popup = false
            }
            this.report_text = ''
          }
        })
        .catch((error) => {
          console.log(error)
          this.formLoading = false
          this.formLoadingCancel = false
        })
        .then(() => {
          this.formLoading = false
          this.formLoadingCancel = false
        })
    },
    hasRole (roleName) {
      let access = false
      this.$auth.user.role.forEach((item) => {
        if (item.name === roleName) {
          access = true
        }
      })
      return access
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
</style>
