<template>
  <div class="pt-6">
    <Header class="px-6 mb-7" route="/panel">
      <div slot="right-content" class="flex items-center">
        <div style="min-width: 45px;">
          <SvgIcon icon="add-red" @click.native="()=>{$router.push({path: '/panel/categories/add'})}" />
        </div>
        <div class="flex justify-center w-full">
          <span class="page-title">مدیریت دسته بندی ها</span>
        </div>
      </div>
    </Header>

    <div class="mb-6 px-6">
      <CategoryMini v-for="item in categories" :key="item.category_id" :category="item" class="mb-3">
        <SvgIcon icon="edit" @click.native="$router.push({ path: '/panel/categories/' + item.category_id })" />
        <SvgIcon v-if="item.category_id !== 8" icon="close-red" class="mr-2" @click.native="confirmRemove(item)" />
      </CategoryMini>
      <scroll-loader :loader-method="fetchData" :loader-disable="disable" loader-color="#D81726" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'PanelProductsListPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      disable: false,
      page: 1,
      pageSize: 10,
      filters: [
        {
          title: 'اپراتور ارشد'
        },
        {
          title: 'اپراتور پیک'
        },
        {
          title: 'اپراتور بسته بندی'
        },
        {
          title: 'اپراتور هیچی'
        }
      ],
      selectedFilter: '',
      categories: []
    }
  },
  methods: {
    fetchData () {
      this.$axios
        .get('/category?category_id={"type":"sort","value":"DESC"}', {
          params: {
            page: this.page++,
            limit: this.pageSize
          }
        })
        .then((response) => {
          this.categories = [...this.categories, ...response.data.data]
          this.disable = response.data.data.length < this.pageSize
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
        })
    },
    async confirmRemove (item) {
      try {
        await this.$confirmModal(
          {
            title: 'حذف دسته بندی',
            // eslint-disable-next-line quotes
            message: `آیا از حذف دسته ${item.title} مطمعن هستید؟`,
            button: {
              no: 'لغو',
              yes: 'حذف'
            },
            callback: (confirm) => {
              if (confirm) {
                this.remove(item)
              }
            }
          }
        )
      } catch (e) {
        this.$toasted.show(e)
        return false
      }
    },
    remove (item) {
      this.isLoadingCategories = true
      this.$axios
        .delete('category/' + item.category_id)
        .then((response) => {
          if (!response.data.error) {
            this.categories = this.categories.filter(category => category.category_id !== item.category_id)
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.isLoadingCategories = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.filter-btn {
  min-width: 49px;
  height: 46px;
  background: #D81726;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-header span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.section-filters {
  .filters-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #023047;
  }
}
</style>
