<template>
  <div>
    <v-dialog v-model="confirmModalPopup">
      <div class="bg-white p-4 rounded-card-popup migmig-popup">
        <div class="flex justify-center" style="font-size: 15px;color: #535353;">
          {{ dialog.title }}
        </div>
        <div class="flex justify-center mt-8">
          {{ dialog.message }}
        </div>
        <div class="flex justify-between mt-8">
          <FormButton
            :name="dialog.button.yes"
            width="125px"
            height="46px"
            bg-color="#FF4757"
            bg-color-hover="#D13E4A"
            :on-click="e => handleClickButton(e, true)"
          />
          <FormButton
            :name="dialog.button.no"
            width="125px"
            height="46px"
            bg-color="#11111110"
            bg-color-hover="#CFCFCF"
            text-color="#374151"
            :on-click="e => handleClickButton(e, false)"
          />
        </div>
      </div>
    </v-dialog>
  </div>
</template>

<script>
import { events } from './events'

const Component = {
  name: 'VueConfirmDialog',
  data () {
    return {
      element: 'confirmModalElement',
      dialog: {
        title: '',
        message: '',
        button: {}
      },
      params: {},
      confirmModalPopup: false
    }
  },
  methods: {
    resetState () {
      this.dialog = {
        title: '',
        message: '',
        button: {},
        callback: () => {}
      }
    },
    handleClickButton ({ target }, confirm) {
      if (target.id === 'vueConfirm') { return }
      this.hideModal()
      if (this.params.callback) {
        this.params.callback(confirm)
      }
    },
    open (params) {
      this.resetState()
      this.params = params
      this.showModal()
      Object.entries(params).forEach((param) => {
        if (typeof param[1] === typeof this.dialog[param[0]]) {
          this.dialog[param[0]] = param[1]
        }
      })
    },
    showModal () {
      this.confirmModalPopup = true
    },
    hideModal () {
      this.confirmModalPopup = false
    }
  },
  mounted () {
    if (!document) { return }
    events.$on('open', this.open)
    events.$on('close', () => {
      this.hideModal()
    })
  }
}
export default Component
</script>
