<template>
  <div class="pt-6">
    <Header class="px-6 mb-7" route="/profile">
      <div slot="right-content" class="flex items-center">
        <div style="min-width: 45px;" />
        <div class="flex justify-center w-full">
          <span class="page-title">درباره ما</span>
        </div>
      </div>
    </Header>

    <div class="mt-32 px-6">
      <div class="migmig-1 mb-2">
        بینکو بزرگترین فروشگاه آنلاین در مازندران
      </div>
      <div class="migmig-2">
        همیشه و همه جا در دسترس شما
      </div>
    </div>

    <div class="mt-16 px-6">
      <div class="flex justify-between item-info">
        <SvgIcon icon="headset" :size="24" />
        <a href="tel:+989391397634"><span>تماس با ما</span></a>
      </div>
      <div class="flex justify-between item-info" @click="openLink('https://tel.com/')">
        <SvgIcon icon="telegram" :size="24" />
        <span style="direction: ltr;">{{ telegram }}</span>
      </div>
      <div class="flex justify-between item-info" @click="openLink('https://instagram.com/')">
        <SvgIcon icon="instagram" :size="24" />
        <span style="direction: ltr;">{{ instagram }}</span>
      </div>
      <div class="flex justify-between item-info" @click="openLink('https://domain.ir/')">
        <SvgIcon icon="site-link" :size="24" />
        <span>{{ site }}</span>
      </div>
    </div>

    <div class="flex justify-center navigation-bottom-mobile-box">
      <span class="app-version">
        نسخه {{ appVersion }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AboutPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      mobile: '09331467634',
      telegram: '@shop',
      instagram: '@shop',
      site: 'www.shop.ir'
    }
  },
  computed: {
    appVersion () {
      return this.$store.state.app.app_version
    }
  },
  methods: {
    openLink (url) {
      window.open(url, '_blank')
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.navigation-bottom-mobile-box {
  position: fixed;
  bottom: 17px;
  width: 100%;
  padding: 0 20px 0 20px;
}
.app-version {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #C3C3C3;
}
.migmig-1 {
  font-size: 16px;
  line-height: 22px;
  color: #D81726;
  text-align: center;
}
.migmig-2 {
  font-size: 14px;
  line-height: 22px;
  color: #727272;
  text-align: center;
}
.item-info {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding: 13px;
  margin-bottom: 13px;
  .label {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 17px;
    color: #474747;
  }
}
</style>
