<template>
  <div class="pt-6 mb-16">
    <ValidationObserver ref="userForm" v-slot="{ invalid }">
      <Header class="px-6 mb-7" route="/profile">
        <div slot="right-content" class="flex items-center">
          <div style="min-width: 45px;" />
          <div class="flex justify-center w-full">
            <span class="page-title">اطلاعات کاربری</span>
          </div>
        </div>
      </Header>

      <div class="px-6">
        <div>
          <FormFilePreview label="تصویر پروفایل" :image="icon" @input="selectImage" />
        </div>
        <div class="mt-8">
          <FormInput label="نام" :v-model.sync="model.first_name" :validate="{required: true}" height="100px" />
        </div>
        <div class="mt-8">
          <FormInput label="نام خانوادگی" :v-model.sync="model.last_name" :validate="{required: true}" height="100px" />
        </div>
        <div class="mt-8">
          <FormInput label="شماره موبایل" disabled :v-model.sync="model.mobile" :validate="{required: true}" height="100px" />
        </div>
        <div class="mt-8">
          <FormSelect
            label="جنسیت"
            :v-model.sync="model.gender"
            height="100px"
            :options.sync="genders"
            option-key-value="key"
            option-value="title"
          />
        </div>
        <!-- <div class="mt-8">
          <FormInput label="تاریخ تولد" height="100px" />
        </div> -->
      </div>

      <div class="flex justify-center navigation-bottom-mobile-box">
        <FormButton name="ثبت اطلاعات" :disabled="invalid" :run-loading="formLoading" :on-click="()=>{submit()}" />
      </div>
    </ValidationObserver>
  </div>
</template>

<script>
export default {
  name: 'ProfileFaqsPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      model: {
        first_name: '',
        last_name: '',
        mobile: '',
        gender: ''
      },
      selectedGender: '',
      genders: [
        {
          key: 'male',
          title: 'مرد'
        },
        {
          key: 'female',
          title: 'زن'
        }
      ],
      formLoading: false,
      image: null,
      icon: null
    }
  },
  mounted () {
    this.fetchInfo()
  },
  methods: {
    fetchInfo () {
      this.model = this.$auth.user
      if (this.model.logo) {
        this.icon = this.model.logo.file
      }
    },
    submit () {
      if (this.image) {
        if (!this.checkSize(this.image)) {
          this.$toast.warning('حجم تصویر باید کمتر از ۵۰۰ کیلوبایت باشد')
        } else {
          this.update()
        }
      } else {
        this.update()
      }
    },
    async update () {
      // if (!this.checkSize(this.image)) {
      //   this.$toast.warning('حجم تصویر باید کمتر از ۵۰۰ کیلوبایت باشد')
      //   // return
      // }
      try {
        const isValid = await this.$refs.userForm.validate()
        if (!isValid) {
          throw new Error('لطفا اطلاعات را به درستی وارد کنید')
        }
        this.formLoading = true
        await this.$axios.post('user/' + this.$auth.user.user_id, this.fixData())
        this.$toast.success('مشخصات شما ویرایش شد')
        this.fetchUser()
        this.formLoading = false
      } catch (e) {
        this.$toast.warning(e.response.data.error.message.file)
        console.log(e)
        this.formLoading = false
      }
    },
    fixData () {
      const bodyFormData = new FormData()
      bodyFormData.append('first_name', this.model.first_name)
      bodyFormData.append('last_name', this.model.last_name)
      bodyFormData.append('gender', this.model.gender)
      if (this.image) {
        bodyFormData.append('file', this.image)
      }
      bodyFormData.append('_method', 'PUT')
      return bodyFormData
    },
    checkSize (file) {
      let state = false
      if (file) {
        const size = parseFloat(file.size / 1024).toFixed(2)
        state = size < 500
      }
      return state
    },
    async fetchUser () {
      await this.$auth.fetchUser()
    },
    selectImage (file) {
      this.image = file
      this.icon = file
    }
  }
}
</script>

<style lang="scss">
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.navigation-bottom-mobile-box {
  position: fixed;
  bottom: 17px;
  width: 100%;
  padding: 0 20px 0 20px;
}
</style>
