<template>
  <div class="pt-6">
    <Header class="px-6 mb-7" route="/profile">
      <div slot="right-content" class="flex items-center">
        <div style="min-width: 45px;" />
        <div class="flex justify-center w-full">
          <span class="page-title">پرسش های متداول</span>
        </div>
      </div>
    </Header>

    <div class="px-6">
      <v-expansion-panels class="faqs-panels">
        <v-expansion-panel
          v-for="(item,i) in items"
          :key="i"
        >
          <v-expansion-panel-header>
            {{ item.title }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            {{ item.description }}
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProfileFaqsPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      items: [
        {
          title: 'آیا امکان دسترسی به سوابق خریدهای قبلی من وجود دارد؟',
          description: 'بله. باید به "حساب کاربری" خود وارد شوید، سپس روی گزینه "سفارشات" کلیک کنید تا سوابق خرید شما نشان داده ‏شود.'
        },
        {
          title: 'مبلغ سفارشم را چگونه می‏‌توانم پرداخت کنم؟',
          description: 'بله. باید به "حساب کاربری" خود وارد شوید، سپس روی گزینه "سفارشات" کلیک کنید تا سوابق خرید شما نشان داده ‏شود.'
        },
        {
          title: 'چگونه می توان کیف پول خود را شارژ کرد؟',
          description: 'بله. باید به "حساب کاربری" خود وارد شوید، سپس روی گزینه "سفارشات" کلیک کنید تا سوابق خرید شما نشان داده ‏شود.'
        },
        {
          title: 'آیا پرداخت در محل، شرایط و محدودیت هایی دارد؟',
          description: 'بله. باید به "حساب کاربری" خود وارد شوید، سپس روی گزینه "سفارشات" کلیک کنید تا سوابق خرید شما نشان داده ‏شود.'
        },
        {
          title: 'نحوه استفاده از کد تخفیف به چه صورت است؟',
          description: 'بله. باید به "حساب کاربری" خود وارد شوید، سپس روی گزینه "سفارشات" کلیک کنید تا سوابق خرید شما نشان داده ‏شود.'
        },
        {
          title: 'چرا کد تخفیف اعمال نمی‌شود؟',
          description: 'بله. باید به "حساب کاربری" خود وارد شوید، سپس روی گزینه "سفارشات" کلیک کنید تا سوابق خرید شما نشان داده ‏شود.'
        },
        {
          title: 'پیگیری سفارشات در فروشگاه مجازی بینکو به چه شکل است؟ ',
          description: 'بله. باید به "حساب کاربری" خود وارد شوید، سپس روی گزینه "سفارشات" کلیک کنید تا سوابق خرید شما نشان داده ‏شود.'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.faqs-panels {
  .v-expansion-panel {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    margin-bottom: 15px;
    &::before {
      box-shadow: none;
    }
    &::after {
      border: none;
    }
    .v-expansion-panel-header {
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 17px;
      color: #000000;
      display: flex;
      justify-content: space-between;
    }
    .v-expansion-panel-content__wrap {
      font-weight: 300;
      font-size: 10px;
      line-height: 16px;
      color: #727272;
    }
  }
}
</style>
