<template>
  <div class="pt-6">
    <Header class="px-6 mb-7" route="/">
      <UserHeader slot="right-content" />
    </Header>

    <div v-if="panelButtonShow" class="mt-6 px-6">
      <FormButton name="ورود به داشبورد مدیریت" :on-click="()=>{$router.push({path: '/panel'})}" />
    </div>

    <div class="mt-6 mb-32 px-5">
      <div v-for="(menu, index) in menuItems" :key="index" class="flex items-center profile-menu-item" @click="menuAction(menu)">
        <div class="item-icon ml-4">
          <SvgIcon :icon="menu.icon" :size="25" />
        </div>
        <div class="item-title">
          {{ menu.title }}
        </div>
        <div v-if="menu.notify" class="flex justify-end">
          <div class="flex justify-center items-center item-notify">
            {{ menu.notify }}
          </div>
        </div>
      </div>
    </div>
    <NavigationBottomMenu />
  </div>
</template>

<script>
export default {
  name: 'SearchPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      menuItems: [
        {
          icon: 'store-menu',
          title: 'سفارشات',
          notify: null,
          href: '/profile/orders',
          active: true
        },
        {
          icon: 'user-menu',
          title: 'اطلاعات کاربری',
          notify: null,
          href: '/profile/edit',
          active: true
        },
        {
          icon: 'location-menu',
          title: 'آدرس ها',
          notify: null,
          href: '/profile/address',
          active: true
        },
        {
          icon: 'wallet-menu',
          title: 'اعتبار حساب کاربری',
          notify: null,
          href: '/profile/wallet',
          active: true
        },
        {
          icon: 'notification-menu',
          title: 'اعلان های پیامکی',
          notify: null,
          href: '/profile/notifications',
          active: true
        },
        {
          icon: 'faq-menu',
          title: 'پرسش های متداول',
          notify: null,
          href: '/profile/faqs',
          active: true
        },
        {
          icon: 'aboute-menu',
          title: 'درباره ما',
          notify: null,
          href: '/profile/about',
          active: true
        },
        {
          icon: 'service-menu',
          title: 'خدمات',
          notify: null,
          href: '/profile/services',
          active: true
        },
        {
          icon: 'logout-menu',
          title: 'خروج',
          notify: null,
          href: 'logout',
          active: false
        }
      ]
    }
  },
  computed: {
    panelButtonShow () {
      let access = false
      this.$auth.user.role.forEach((role) => {
        if (role.name === 'super-operator' || role.name === 'operator' || role.name === 'packaging' || role.name === 'delivering') {
          access = true
        }
      })
      return access
    }
  },
  methods: {
    menuAction (item) {
      if (item.href === 'logout') {
        this.confirmLogout()
      } else {
        this.$router.push({ path: item.href })
      }
    },
    async confirmLogout () {
      try {
        await this.$confirmModal(
          {
            title: 'خروج از بینکو',
            // eslint-disable-next-line quotes
            message: `آیا از خروج مطمعن هستید؟`,
            button: {
              no: 'لغو',
              yes: 'خروج'
            },
            callback: (confirm) => {
              if (confirm) {
                this.logout()
              }
            }
          }
        )
      } catch (e) {
        this.$toasted.show(e)
        return false
      }
    },
    logout () {
      this.$store.dispatch('logout')
    }
  }
}
</script>

<style lang="scss" scoped>
.profile-name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #474747;
}
.role-mobile {
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #C3C3C3;
}
.profile-image {
  width: 52px;
  height: 52px;
  background: #FCFCFC;
  border-radius: 20px;
  border: 1px solid #F1F1F1;
  padding: 2px;
}

.profile-menu-item {
  height: 60px;
  .item-title {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #474747;
  }
  .item-notify {
    height: 18px;
    max-width: 22px;
    background: #D81726;
    border-radius: 5px;
    color: #fff;
  }
}
</style>
