<template>
  <div class="pt-6">
    <Header class="px-6 mb-7" route="/profile">
      <div slot="right-content" class="flex items-center">
        <div style="min-width: 45px;" />
        <div class="flex justify-center w-full">
          <span class="page-title">اعلان های پیامکی</span>
        </div>
      </div>
    </Header>

    <div class="mb-6 px-6">
      <NotificationMini v-for="item in notofications" :key="item.notice_id" :item="item" />
      <scroll-loader :loader-method="fetchData" :loader-disable="disable" loader-color="#D81726" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProfileNotificationsPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      disable: false,
      page: 1,
      pageSize: 10,
      notofications: []
    }
  },
  methods: {
    fetchData () {
      this.$axios
        .get('notice?notice_id={"type":"sort","value":"DESC"}', {
          params: {
            page: this.page++,
            limit: this.pageSize
          }
        })
        .then((response) => {
          if (!response.data.error) {
            this.notofications = [...this.notofications, ...response.data.data]
            this.disable = response.data.data.length < this.pageSize
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
</style>
