<template>
  <div class="pt-6">
    <Header class="px-6 mb-7" route="/profile">
      <div slot="right-content" class="flex items-center">
        <div style="min-width: 45px;" />
        <div class="flex justify-center w-full">
          <span class="page-title">سفارشات</span>
        </div>
      </div>
    </Header>

    <div v-if="false" class="flex justify-start items-center mt-3 mb-4 amount-box">
      <div>
        <SvgIcon icon="shopping-cart" />
        <span>
          مجموع خرید: <Price :value="totalOrdersPrice" />
        </span>
      </div>
      <div class="total-amount">
        <SvgIcon icon="diamond-red" />
        <span>سود شما: </span>
        <Price :value="myOrdersProfit" />
      </div>
    </div>

    <div class="mb-6 px-6">
      <OrderMini v-for="order in orders" :key="order.order_id" :item="order">
        <FormButton name="جزئیات" height="31px" width="62px" style="padding: 4px 5px;" :on-click="()=>{$router.push({path: '/order/' + order.order_id})}" />
      </OrderMini>
      <scroll-loader :loader-method="fetchData" :loader-disable="disable" loader-color="#D81726" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProfileOrdersPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      disable: false,
      page: 1,
      pageSize: 10,
      isLoading: false,
      orders: [],
      totalOrdersPrice: 0,
      myOrdersProfit: 0
    }
  },
  mounted () {
    this.fetchTotalOrdersPrice()
  },
  methods: {
    fetchData () {
      this.$axios
        .get('order', {
          params: {
            page: this.page++,
            limit: this.pageSize,
            order_id: { type: 'sort', value: 'DESC' }
          }
        })
        .then((response) => {
          if (!response.data.error) {
            this.orders = [...this.orders, ...response.data.data]
            this.disable = response.data.data.length < this.pageSize
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
        })
    },
    fetchTotalOrdersPrice () {
      this.isLoading = true
      this.$axios
        .get('invoiceAmount?from=2022-02-19&to=2024-03-04')
        .then((response) => {
          if (!response.data.error) {
            this.totalOrdersPrice = response.data.data.total_amount
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.isLoading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.amount-box {
  height: 57px;
  background: #FCFCFC;
  padding: 20px;
  font-size: 12px;
  span {
    font-size: 12px;
  }
  .total-amount {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #D81726;
  }
}
</style>
