<template>
  <div class="pt-6">
    <Header class="px-6 mb-7" route="/profile">
      <div slot="right-content" class="flex items-center">
        <div style="min-width: 45px;" />
        <div class="flex justify-center w-full">
          <span class="page-title">خدمات</span>
        </div>
      </div>
    </Header>

    <div class="mt-8 px-6">
      <div v-if="tempData" class="weather-section mb-3">
        <div class="flex justify-between">
          <div>
            {{ temp }}C
          </div>
          <div>
            Behshahr, Mazandaran
          </div>
        </div>
      </div>
      <div v-if="oghat" class="weather-section mb-3">
        <div class="flex justify-between">
          <div>
            نماز صبح:
          </div>
          <div>
            {{ oghat.azan_sobh }}
          </div>
        </div>
      </div>
      <div v-if="oghat" class="weather-section mb-3">
        <div class="flex justify-between">
          <div>
            نماز ظهر:
          </div>
          <div>
            {{ oghat.azan_zohre }}
          </div>
        </div>
      </div>
      <div v-if="oghat" class="weather-section mb-3">
        <div class="flex justify-between">
          <div>
            نماز مغرب:
          </div>
          <div>
            {{ oghat.azan_maghreb }}
          </div>
        </div>
      </div>
      <div v-if="ayaMidanestid" class="weather-section mb-3">
        <div class="flex justify-between">
          <div>
            {{ ayaMidanestid.Content }}
          </div>
        </div>
      </div>
      <div class="weather-section mb-3">
        <div class="flex justify-between">
          <div>
            فالت بگیرم؟
          </div>
          <div style="color: green;" @click="fetchFall()">
            نیت کردی اینجا کلیک کن
          </div>
        </div>
      </div>

      <v-dialog v-model="fall_popup">
        <div v-if="fall" class="divide-y-4 divide-dashed bg-white p-4 rounded-card-popup migmig-popup">
          <div class="flex justify-center my-3" style="font-size: 15px;color: #535353;">
            {{ fall.TITLE }}
          </div>
          <div class="my-4">
            {{ fall.RHYME }}
          </div>
          <div class="my-4">
            {{ fall.MEANING }}
          </div>
        </div>
      </v-dialog>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProfileServicesPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      data: '',
      tempData: null,
      oghat: null,
      ayaMidanestid: null,
      fall: null,
      fall_popup: false
    }
  },
  computed: {
    temp () {
      let x = ''
      // x = (this.tempData.main.temp - 32) / 1.8
      x = parseFloat(this.tempData.main.temp) - 273.15
      return Math.round(x)
    }
  },
  mounted () {
    this.fetchW()
    this.fetchOghat()
    this.fetchAyaMidanestid()
  },
  methods: {
    fetchW () {
      fetch('https://api.openweathermap.org/data/2.5/weather?lat=36.696320&lon=53.543621&appid=a828b658b78e9727001a5c2721957945')
        .then(response => response.json())
        .then((data) => {
          this.tempData = data
        })
      // fetch('https://one-api.ir/weather/?token=226515:621394cb9e4e19.35012639&action=now&city=بهشهر')
      //   .then(response => response.json())
      //   .then((data) => {
      //     this.tempData = data.result
      //   })
    },
    fetchOghat () {
      fetch('https://one-api.ir/owghat/?token=226515:621394cb9e4e19.35012639&city=بهشهر')
        .then(response => response.json())
        .then((data) => {
          this.oghat = data.result
        })
    },
    fetchAyaMidanestid () {
      fetch('https://one-api.ir/danestani/?token=226515:621394cb9e4e19.35012639')
        .then(response => response.json())
        .then((data) => {
          this.ayaMidanestid = data.result
        })
    },
    fetchFall () {
      fetch('https://one-api.ir/hafez/?token=226515:621394cb9e4e19.35012639')
        .then(response => response.json())
        .then((data) => {
          this.fall = data.result
          this.fall_popup = true
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.weather-section {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding: 19px;
}
</style>
