<template>
  <div class="pt-6">
    <Header class="px-6 mb-7" route="/profile">
      <div slot="right-content" class="flex items-center">
        <div style="min-width: 45px;" />
        <div class="flex justify-center w-full">
          <span class="page-title">اعتبار حساب کاربری</span>
        </div>
      </div>
    </Header>

    <div class="flex justify-center items-center mt-3 mb-4 amount-box">
      <div class="total-amount">
        <Price class-name="total-amount" :value="credit" />
      </div>
    </div>

    <div class="categories-section mt-5 px-6">
      <div class="header">
        <span class="label">
          وضعیت تراکنش ها
        </span>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-5 mb-6">
        <TransactionMini v-for="item in transfers" :key="item.transfer_id" :item="item" />
        <scroll-loader :loader-method="fetchData" :loader-disable="disable" loader-color="#D81726" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProfileWalletPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      disable: false,
      page: 1,
      pageSize: 10,
      transfers: []
    }
  },
  computed: {
    credit () {
      return this.$auth.user.credit.amount
    }
  },
  mounted () {
    this.$auth.fetchUser()
  },
  methods: {
    fetchData () {
      this.$axios
        .get('transfer?transfer_id={"type":"sort","value":"DESC"}', {
          params: {
            page: this.page++,
            limit: this.pageSize
          }
        })
        .then((response) => {
          if (!response.data.error) {
            this.transfers = [...this.transfers, ...response.data.data]
            this.disable = response.data.data.length < this.pageSize
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.categories-section {
  .header {
    .label {
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 23px;
      color: #535353;
    }
  }
  .body {
    .category-title {
      margin-top: 8px;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 17px;
      text-align: center;
      color: #474747;
    }
  }
}
.amount-box {
  height: 57px;
  background: #FCFCFC;
  padding: 20px;
}
</style>

<style>
.total-amount {
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #D81726;
}
</style>
