<template>
  <div class="pt-6">
    <Header class="px-6 mb-7" route="/panel">
      <div slot="right-content" class="flex items-center">
        <div style="min-width: 45px;">
          <SvgIcon icon="add-red" @click.native="()=>{$router.push({path: '/panel/shippings/add'})}" />
        </div>
        <div class="flex justify-center w-full">
          <span class="page-title">مشاهده روش های ارسال</span>
        </div>
      </div>
    </Header>

    <div class="mb-6 px-6">
      <div v-for="item in shippings" :key="item.shipping_id" class="flex my-3">
        <div class="delivery-mini-box w-full mr-4 p-4 shadow-drop">
          <div class="mb-2">
            <span>
              {{ item.title }}
            </span>
            -
            <span>
              {{ item.description }}
            </span>
          </div>
          <div class="mb-2">
            <span>
              هزینه ارسال: <Price :value="item.price" />
            </span>
          </div>
          <div class="mb-2">
            <span>
              حداقل مبلغ سفارش: <Price :value="item.minOrderAmount" />
            </span>
          </div>
          <div class="actions">
            <SvgIcon icon="edit" @click.native="$router.push({ path: '/panel/shippings/' + item.shipping_id })" />
            <SvgIcon icon="close-red" class="mr-2" @click.native="confirmRemove(item)" />
          </div>
        </div>
      </div>
      <!-- <ProductManage v-for="item in shippings" :key="item.shipping_id" :shipping="item" class="mb-3">
        <SvgIcon icon="edit" @click.native="$router.push({ path: '/panel/shippings/' + item.shipping_id })" />
        <SvgIcon icon="close-red" class="mr-2" @click.native="confirmRemove(item)" />
      </ProductManage> -->
      <scroll-loader ref="scrollLoader" :loader-method="fetchData" :loader-disable="disable" loader-color="#D81726" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'PanelShippingsListPage',
  layout: 'full',
  middleware: 'auth',
  data () {
    return {
      disable: false,
      page: 1,
      pageSize: 10,
      filterModel: null,
      shippings: []
    }
  },
  mounted () {
    this.$store.commit('filter/reset')
  },
  methods: {
    fetchData () {
      this.$axios
        .get('/shipping?shipping_id={"type":"sort","value":"DESC"}' + this.filterModel, {
          params: {
            page: this.page++,
            limit: this.pageSize
          }
        })
        .then((response) => {
          if (!response.data.error) {
            this.shippings = [...this.shippings, ...response.data.data]
            this.disable = response.data.data.length < this.pageSize
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
        })
    },
    filterRequest (filters) {
      console.log(filters)
      this.filterModel = filters
      this.page = 1
      this.shippings = []
      this.$refs.scrollLoader.loaderMethod()
    },
    async confirmRemove (item) {
      try {
        await this.$confirmModal(
          {
            title: 'حذف محصول',
            // eslint-disable-next-line quotes
            message: `آیا از حذف ${item.title} مطمعن هستید؟`,
            button: {
              no: 'لغو',
              yes: 'حذف'
            },
            callback: (confirm) => {
              if (confirm) {
                this.remove(item)
              }
            }
          }
        )
      } catch (e) {
        this.$toasted.show(e)
        return false
      }
    },
    remove (item) {
      this.$axios
        .delete('shipping/' + item.shipping_id)
        .then((response) => {
          if (!response.data.error) {
            this.shippings = this.shippings.filter(category => category.shipping_id !== item.shipping_id)
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.delivery-mini-box {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  text-align: right;
  position: relative;
  span {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #474747;
  }
  .actions {
    position: absolute;
    top: 12px;
    left: 12px;
  }
}
</style>
