<template>
  <div class="pt-6">
    <Header class="px-6 mb-7">
      <div slot="right-content" class="flex items-center">
        <div style="min-width: 45px;" />
        <div class="flex justify-center w-full">
          <span class="page-title">شماره پیگیری: {{ order.order_id }} </span>
        </div>
      </div>
    </Header>

    <InvoiceInfo :item="order" />

    <div class="my-6 px-6">
      <ProductOrder
        v-for="item in products"
        :key="item.product_id"
        :product="item"
        class="mb-3"
        invoice
      />
    </div>

    <InvoiceDetails :info="invoiceDetail" class="my-6" />

    <div class="px-6 my-6">
      <CustomMap :marker-coordinates="coordinates" :map-center="coordinates" map-height="283px" map-width="100%" />
    </div>

    <div v-if="order.status !== 'cancelled'" class="flex justify-center px-8">
      <!-- <FormButton name="مرجوعی کالا" :disabled="false" :on-click="()=>{changeStatus('cancelled')}" /> -->
    </div>

    <OrderComments v-if="comments.length != 0" :items="comments" class="px-6 my-6" />
  </div>
</template>

<script>
export default {
  name: 'OrderInformationPage',
  layout: 'full',
  middleware: 'auth',
  async asyncData ({ $axios, route }) {
    let order = null
    const response = await $axios.get('order/' + route.params.id + '?admin=true')
    if (!response.data.error) {
      order = response.data.data
    }
    return { order }
  },
  computed: {
    invoice () {
      return this.order.invoice
    },
    products () {
      const list = []
      if (this.invoice) {
        this.invoice.items.forEach((item, index) => {
          if (item.products) {
            // eslint-disable-next-line prefer-const
            let xxx = item.products[0]
            xxx.length = item.count
            list.push(xxx)
          }
        })
      }
      return list
    },
    totalProductsPrice () {
      let price = 0
      price = this.invoice.amount - this.shipping
      return price
    },
    shipping () {
      let obj = []
      if (this.invoice) {
        this.invoice.items.forEach((item, index) => {
          if (item.shipping) {
            obj = item.price
          }
        })
      }
      return obj
    },
    productsLength () {
      return this.products.length
    },
    coordinates () {
      const arr = []
      arr.push(this.order.address.longitude)
      arr.push(this.order.address.latitude)
      return arr
    },
    invoiceDetail () {
      return {
        productsCount: this.productsLength,
        beforPayment: this.invoice.amount,
        profit: 0,
        afterPayment: this.invoice.total_amount,
        totalProductsPrice: this.totalProductsPrice,
        totalPrice: this.invoice.total_amount,
        shipingPrice: this.shipping ? this.shipping : null
      }
    },
    comments () {
      const list = this.order.note ? this.order.note : []
      // list.push(
      //   {
      //     text: 'سلام لطفا تعداد دونات ها را 3 عدد قرار دهید. باتشکر',
      //     user: true
      //   }
      // )
      // list.push(
      //   {
      //     text: 'سپاس از سفارش شما. درخواست شما برای تعداد اقلام محصول دونات انجام شد. سفارش شما در حال بسته بندی است.',
      //     user: false
      //   }
      // )
      return list
    }
  },
  methods: {
    changeStatus (state) {
      const bodyFormData = new FormData()
      bodyFormData.append('action', state)
      bodyFormData.append('order_id', this.order.order_id)
      bodyFormData.append('description', 'کالا توسط کاربر مرجوع شد')
      this.formLoading = true
      this.$axios
        .post('order/transitions', bodyFormData)
        .then((response) => {
          if (response.data.error) {
            this.$toast.warning(response.data.error.message)
          } else {
            // eslint-disable-next-line no-lonely-if
            if (state === 'verify') {
              this.order.status = 'verify'
              // this.change_state_popup = false
            } else {
              this.order.status = 'cancelled'
              // this.change_state_popup = false
            }
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.formLoading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
</style>
