<template>
  <v-app dark>
    <div>
      <div class="px-6 payment-content">
        <div class="flex justify-center mb-3">
          <img src="@/assets/images/others/payment-failed.png">
        </div>
        <h2 class="mb-4">
          مشکلی به وجود آمده است
        </h2>
        <h4 class="mb-4">
          مشکلی در روند سفارش به وجود آمده است ارتباط با کارشناس فروش
        </h4>
      </div>

      <div class="navigation-bottom-mobile-box">
        <FormButton name="فرار از این صفحه" :on-click="()=>{$router.push({path: '/' })}" />
        <div class="flex justify-center mt-6">
          <div @click="$router.push({path: '/' })">
            <div>
              <SvgIcon icon="home" />
            </div>
            <div class="home-label">
              خانه
            </div>
          </div>
        </div>
      </div>
    </div>
  </v-app>
</template>

<script>
export default {
  name: 'EmptyLayout',
  layout: 'full',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      pageNotFound: '404 Not Found',
      otherError: 'An error occurred'
    }
  },
  head () {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title
    }
  }
}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>

<style lang="scss" scoped>
.navigation-bottom-mobile-box {
  position: fixed;
  bottom: 17px;
  width: 100%;
  padding: 0 20px 0 20px;
}
.home-label {
  font-size: 11px;
  line-height: 17px;
  color: #000000;
}
.payment-content {
  margin-top: 25vh;
  h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #727272;
    text-align: center;
  }
  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    color: #000000;
    text-align: center;
  }
}
</style>
