<template>
  <v-app>
    <PopUpPwaInstall />
    <div style="direction: rtl;">
      <div>
        <Nuxt />
      </div>
    </div>
    <ConfirmModal />
  </v-app>
</template>

<script>
export default {
  name: 'FullLayout'
}
</script>
