<template>
  <v-app>
    <PopUpPwaInstall />
    <div style="direction: rtl;" class="pb-32">
      <div class="flex justify-center my-3">
        <img src="@/assets/images/logo/icon.png" class="binko-logo-header" alt="بینکو">
      </div>
      <div>
        <Nuxt />
      </div>
      <NavigationBottomMenu />
    </div>
  </v-app>
</template>

<script>
export default {
  name: 'IndexLayout'
}
</script>

<style lang="scss">
.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.2s;
}
.layout-enter,
.layout-leave-to {
  opacity: 0;
}
.binko-logo-header {
  width: 75px;
  height: 29px;
}
</style>
