<template>
  <div style="direction: rtl;">
    <PopUpPwaInstall />
    <div class="bg-section">
      <Nuxt keep-alive />
    </div>
  </div>
</template>

<script>
export default {
  name: 'LoginLayout'
}
</script>

<style lang="scss" scoped>

.bg-section {
  height: 100vh;
  width: 100vw;
  background: url('~/assets/images/others/login-bg.png') no-repeat center bottom fixed;
  background-size: 100% auto;
  // background-repeat: no-repeat;
  // background-position: 0px bottom;
  // background-size: initial;
}
</style>
