<template>
  <v-app>
    <div class="layout" style="direction: rtl;">
      <DesktopSidebar />
      <main class="layout__main">
        <Nuxt />
      </main>
    </div>
    <ConfirmModal />
  </v-app>
</template>

<script>
export default {
  name: 'PanelDesktop'
}
</script>

<style lang="scss" scoped>
$main-basis: 600px;

.layout {
  display: flex;
  flex-wrap: wrap;

  p {
    padding: 20px;
  }
}

.layout__main {
  flex: 20 1 $main-basis;
}

</style>
