<template>
  <div class="grid grid-cols-12 gap-2 relative product-order-item">
    <div class="col-span-4 flex justify-center items-center image">
      <!-- <img src="@/assets/images/demo/products/6.png" alt=""> -->
      <img v-if="product.images.length != 0" :src="product.images[0].file" :alt="product.title">
      <img v-else src="@/assets/images/others/no_image.jpg">
    </div>
    <div class="col-span-8">
      <div class="flex justify-start">
        <span class="label">
          نام کالا:
        </span>
        <span class="value">
          {{ product.title }}
        </span>
      </div>
      <div class="flex justify-start">
        <span class="label">
          دسته بندی:
        </span>
        <span class="value">
          {{ product.category ? product.category.title : '---' }}
        </span>
      </div>
      <div class="flex justify-start">
        <span class="label">
          قیمت:
        </span>
        <span class="value">
          <Price :value="product.price" />
        </span>
      </div>
      <div class="flex justify-start">
        <span class="label">
          تخفیف:
        </span>
        <span class="value">
          {{ product.discount ? product.discount + '%' : 'ندارد' }}
        </span>
      </div>
    </div>
    <div class="actions">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductManageComponent',
  props: {
    product: {
      type: Object,
      default: null
    }
  }
}
</script>

<style lang="scss" scoped>
.product-order-item {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding: 9px;
  .actions {
    position: absolute;
    bottom: 12px;
    left: 12px;
  }
  .image {
    img {
      width: 85px;
      height: 85px;
    }
  }
  .label {
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    color: #474747;
    margin-left: 5px;
  }
  .value {
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    color: #727272;
  }
}
</style>
