<template>
  <div class="product-item">
    <div class="flex justify-center items-center image" @click="$router.push({path: '/product/' + product.product_id})">
      <!-- <img src="@/assets/images/demo/products/1.png" alt=""> -->
      <img v-if="product.images.length != 0" :src="product.images[0].file" :alt="product.title">
      <img v-else src="@/assets/images/others/no_image.jpg">
    </div>
    <div class="product-title truncate mt-2" @click="$router.push({path: '/product/' + product.product_id})">
      {{ product.title }}
    </div>
    <div class="flex justify-between items-center footer mt-6">
      <div class="add-icon">
        <!-- <SvgIcon v-if="quantity" icon="shopping-cart-green" :size="24" /> -->
        <div v-if="quantity" class="flex items-center justify-between action-plus-minus">
          <SvgIcon :size="13" icon="add-red" @click.native="plus()" />
          <span class="count">{{ quantity ? quantity : product.quantity }}</span>
          <SvgIcon :size="13" icon="minus" @click.native="minus()" />
        </div>
        <SvgIcon v-else icon="add-red" :size="26" @click.native="add" />
      </div>
      <div>
        <div class="flex justify-between items-center">
          <Price :class-name="product.discount != 0 ? 'overlay-price' : ''" :value="product.price" :overline="product.discount != 0" />
          <div v-if="product.discount != 0" class="discount-badge mr-2">
            <span>
              {{ product.discount }}%
            </span>
          </div>
        </div>
        <div><Price v-if="product.discount" class-name="product-price" :value="product.price - product.price_discount" /></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductMini',
  props: {
    product: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      quantity: false
    }
  },
  mounted () {
    this.getProductQuantityInCart()
  },
  methods: {
    add () {
      this.product.quantity = 1
      this.$store.commit('cart/add', this.product)
      this.$toast.success('محصول به سبد خرید اضافه شد')
      this.quantity = 1
    },
    getProductQuantityInCart () {
      const products = this.$store.state.cart.products
      products.forEach((item) => {
        if (item.product_id === this.product.product_id) {
          this.product.quantity = item.quantity
          this.quantity = item.quantity
        }
      })
    },
    minus () {
      if (this.product.quantity === 1) {
        this.$store.commit('cart/remove', this.product)
        this.quantity = 0
      } else { this.$store.commit('cart/minus', this.product) }
      this.getProductQuantityInCart()
    },
    plus () {
      if (this.product.quantity === this.product.count) {
        this.$toast.warning(`موجودی این کالا در انبار ${this.product.count} عدد میباشد`)
      } else {
        this.$store.commit('cart/plus', this.product)
        this.getProductQuantityInCart()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.product-item {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  min-width: 157px;
  height: 215px;
  padding: 14px;
  .image {
    img {
      width: 103px;
      height: 103px;
      border-radius: 13px;
    }
  }
  .product-title {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    color: #474747;
  }
  .footer {
    .add-icon {}
    .price-detail {
      .price {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 19px;
        color: #000000;
      }
    }
  }
}
</style>

<style lang="scss">
  .overlay-price {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #939393;
  }
  .product-price {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    color: #000000;
  }
  .discount-badge {
    width: 22px;
    height: 15px;
    background: #38B000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-style: normal;
      font-weight: 400;
      font-size: 9px;
      line-height: 11px;
      color: #FFFFFF;
    }
  }
  .action-plus-minus {
    width: 50px;
    max-width: 80px;
    max-height: 20px;
    border: 1px solid #F6F6F6;
    box-sizing: border-box;
    border-radius: 20px;
  }
</style>
