<template>
  <div class="grid grid-cols-12 gap-2 product-order-item">
    <div class="col-span-3 flex justify-center items-center image">
      <!-- <img src="@/assets/images/demo/products/1.png" alt=""> -->
      <img v-if="product.images.length != 0" :src="product.images[0].file" :alt="product.title">
      <img v-else src="@/assets/images/others/no_image.jpg">
    </div>
    <div class="col-span-9">
      <div class="flex justify-between">
        <span class="product-title">
          {{ product.title }} {{ invoice ? '* (' + product.length + ')' : '' }}
        </span>
        <SvgIcon v-if="hasActions" :size="7" icon="close-red" @click.native="remove()" />
      </div>
      <div class="mt-5 flex" :class="hasActions ? 'justify-between' : 'justify-end'">
        <div v-if="hasActions" class="flex items-center justify-between action-plus-minus">
          <SvgIcon :size="13" icon="add-red" @click.native="plus()" />
          <span class="count">{{ quantity ? quantity : product.quantity }}</span>
          <SvgIcon :size="13" icon="minus" @click.native="minus()" />
        </div>
        <div>
          <div class="flex justify-between items-center">
            <Price :class-name="product.discount != 0 ? 'overlay-price' : ''" :value="product.price" :overline="product.discount != 0" />
            <div v-if="product.discount != 0" class="discount-badge mr-2">
              <span>
                {{ product.discount }}%
              </span>
            </div>
          </div>
          <div><Price v-if="product.discount" class-name="product-price" :value="product.price - product.price_discount" /></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductOrderComponent',
  props: {
    product: {
      type: Object,
      default: null
    },
    hasActions: {
      type: Boolean,
      default: false
    },
    invoice: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      quantity: null
    }
  },
  methods: {
    remove () {
      this.$store.commit('cart/remove', this.product)
      this.$emit('change')
    },
    minus () {
      if (this.product.quantity === 1) {
        this.$store.commit('cart/remove', this.product)
      } else { this.$store.commit('cart/minus', this.product) }
      this.getProductQuantityInCart()
    },
    plus () {
      if (this.product.quantity === this.product.count) {
        this.$toast.warning(`موجودی این کالا در انبار ${this.product.count} عدد میباشد`)
      } else {
        this.$store.commit('cart/plus', this.product)
        this.getProductQuantityInCart()
      }
    },
    getProductQuantityInCart () {
      const products = this.$store.state.cart.products
      products.forEach((item) => {
        if (item.product_id === this.product.product_id) {
          this.product.quantity = item.quantity
          this.quantity = item.quantity
        }
      })
      this.$emit('change')
    }
  }
}
</script>

<style lang="scss" scoped>
.product-order-item {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  height: 89px;
  padding: 9px;
  .image {
    img {
      width: 71px;
      height: 71px;
      border-radius: 12px;
    }
  }
  .product-title {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #474747;
  }
  .footer {
    .price-detail {
      .price {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 19px;
        color: #000000;
      }
    }
  }
  .action-plus-minus {
    width: 80px;
    max-width: 80px;
    max-height: 20px;
    border: 1px solid #F6F6F6;
    box-sizing: border-box;
    border-radius: 20px;
  }
}
</style>

<style lang="scss">
  .overlay-price {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #939393;
  }
  .product-price {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    color: #000000;
  }
  .discount-badge {
    width: 22px;
    height: 15px;
    background: #38B000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-style: normal;
      font-weight: 400;
      font-size: 9px;
      line-height: 11px;
      color: #FFFFFF;
    }
  }
</style>
