<template>
  <div>
    <FilterModal class="px-6" index @filter="searchInProducts" />

    <div v-if="vipProductList.length !== 0" class="products-vip-section">
      <div class="flex justify-between header px-6">
        <span class="label">ویژه ها </span>
        <span class="action" @click="$router.push({path: '/category/8'})">نمایش همه</span>
      </div>
      <div v-if="!isLoadingProducts" class="flex body">
        <ProductMini v-for="item in vipProductList" :key="item.product_id" :product="item" style="margin-left: 14px;" />
      </div>
      <div v-else class="flex body">
        <v-sheet
          v-for="sk in 4"
          :key="sk"
          style="min-width: 157px;margin-left: 14px;border-radius: 20px;"
        >
          <v-skeleton-loader
            class="mx-auto"
            type="image"
            style="border-radius: 20px;width: 100%;"
          />
        </v-sheet>
      </div>
    </div>

    <div class="categories-section mt-6 px-6">
      <div class="header">
        <span class="label">
          دسته بندی ها
        </span>
      </div>
      <div v-if="!isLoadingCategories" class="grid gap-4 grid-cols-3 body">
        <div v-for="item in categoriesList" :key="item.category_id" class="category-item mb-2" @click="$router.push({path: '/category/' + item.category_id})">
          <div class="flex justify-center items-center image" :style="`background-image: url(${item.icon ? item.icon.file : require('@/assets/images/others/no_image.jpg')});`">
            <!-- <img v-if="item.icon" :src="item.icon.file" :alt="item.title" style="width:40px;height: 40px;"> -->
            <!-- <img v-else src="@/assets/images/others/no_image.jpg" style="width:40px;height: 40px;"> -->
          </div>
          <div class="category-title">
            {{ item.title }}
          </div>
        </div>
      </div>
      <template v-else>
        <div class="grid grid-cols-3 mt-2 gap-4 text-center">
          <v-sheet
            v-for="sk in 6"
            :key="sk"
            style="min-width: 100%;"
          >
            <v-skeleton-loader
              class="mx-auto"
              type="image"
              style="border-radius: 20px;height: 110px;width: 100%;"
            />
          </v-sheet>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  layout: 'index',
  data () {
    return {
      products: [],
      isLoadingProducts: true,
      categories: [],
      isLoadingCategories: true
    }
  },
  computed: {
    vipProductList () {
      return this.$store.state.content.vipProduct
    },
    categoriesList () {
      return this.$store.state.content.categories
    }
  },
  mounted () {
    this.fetchProducts()
    this.fetchCategories()
  },
  methods: {
    fetchProducts () {
      if (this.vipProductList.length !== 0) {
        this.isLoadingProducts = false
        return
      }
      this.isLoadingProducts = true
      this.$axios
        .get('/product?limit=12&category_id={"type":"exec","condition":"=","value":"8"}')
        .then((response) => {
          if (!response.data.error) {
            this.products = response.data.data
            this.$store.commit('content/updateVipProduct', response.data.data)
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.isLoadingProducts = false
        })
    },
    fetchCategories () {
      if (this.categoriesList.length !== 0) {
        this.isLoadingCategories = false
        return
      }
      this.isLoadingCategories = true
      this.$axios
        .get('/category?limit=30&updated_at={"type":"sort","value":"DESC"}')
        .then((response) => {
          if (!response.data.error) {
            this.categories = response.data.data
            this.$store.commit('content/updateCategories', this.categories)
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.isLoadingCategories = false
        })
    },
    arrayChunk (array, chunkSize) {
      let arrayOfArrays = []
      arrayOfArrays = array.slice(0, 9)
      return arrayOfArrays
    },
    searchInProducts (item) {
      this.$router.push({ path: '/search' })
    }
  }
}
</script>

<style lang="scss" scoped>
.filter-btn {
  min-width: 49px;
  height: 46px;
  background: #D81726;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-vip-section {
  .header {
    margin-bottom: 11px;
    .label {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      text-align: right;
      color: #000000;
    }
    .action {
      font-weight: normal;
      font-size: 11px;
      line-height: 17px;
      color: #DF303D;
    }
  }
  .body {
    padding: 16px;
    background: url('~/assets/images/others/product-section-bg.png');
    background-size: cover;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

.categories-section {
  .header {
    margin-bottom: 22px;
    .label {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #000000;
    }
  }
  .body {
    .image {
      height: 102px;
      border-radius: 20px;
      background-size: cover;
      img {
        width: 85px;
        height: 57px;
      }
    }
    .category-title {
      margin-top: 8px;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 17px;
      text-align: center;
      color: #474747;
    }
  }
}
</style>
