<template>
  <div>
    <!-- <div class="px-6 mb-7 flex">
      <div class="filter-btn ml-3" @click="dialog=true">
        <SvgIcon icon="filter" :size="25" />
      </div>
      <FormInput :vModel.sync="title" @enter="searchInProducts" placeholder="جستجو کنید..." search-icon />
    </div> -->
    <FilterModal class="px-6" ref="filterModal" @filter="searchInProducts" />

    <div v-if="!isLoading" class="grid gap-2 grid-cols-2 mt-4 px-6">
      <ProductMini v-for="item in products" :key="item.product_id" :product="item" />
    </div>
    <div v-else class="grid gap-2 grid-cols-2 mt-4 px-6">
      <v-sheet
        v-for="sk in 8"
        :key="sk"
        style="min-width: 100%;"
      >
        <v-skeleton-loader
          class="mx-auto"
          type="image"
          style="border-radius: 20px;height: 196px;width: 100%;"
        />
      </v-sheet>
    </div>

    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <div class="flex justify-between items-center p-6">
          <div />
          <div class="dialog-header">
            <span>فیلترهای جستجو</span>
          </div>
          <div>
            <SvgIcon icon="close" :size="23" @click.native="dialog=false" />
          </div>
        </div>

        <div class="section-filters px-6">
          <div class="filters-title">
            دسته بندی
          </div>
          <div class="block">
            <v-radio-group v-model="categorySelect">
              <v-radio
                v-for="n in categories"
                :key="n.id"
                :label="n.title"
                :value="n.id"
                color="#D81726"
              />
            </v-radio-group>
          </div>
        </div>

        <div class="section-filters px-6">
          <div class="filters-title">
            نمایش
          </div>
          <div class="grid gap-2 grid-cols-2">
            <v-radio-group v-model="filterSelect">
              <v-radio
                v-for="n in filtersFirstPart"
                :key="n.id"
                :label="n.title"
                :value="n.id"
                color="#D81726"
              />
            </v-radio-group>
            <v-radio-group v-model="filterSelect">
              <v-radio
                v-for="n in filtersSecondPart"
                :key="n.id"
                :label="n.title"
                :value="n.id"
                color="#D81726"
              />
            </v-radio-group>
          </div>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'SearchPage',
  layout: 'index',
  data () {
    return {
      title: '',
      products: [],
      isLoading: true,
      dialog: false,
      notifications: false,
      sound: true,
      widgets: false,
      categorySelect: null,
      categories: [
        {
          id: 1,
          title: 'لبنیات'
        },
        {
          id: 2,
          title: ' آجیل و خشکبار'
        },
        {
          id: 3,
          title: 'پروتئین'
        },
        {
          id: 4,
          title: 'کنسرو'
        },
        {
          id: 5,
          title: 'تنقلات'
        },
        {
          id: 6,
          title: 'ادویه جات'
        },
        {
          id: 7,
          title: 'نوشیدنی گرم'
        }
      ],
      filterSelect: null,
      filters: [
        {
          id: 1,
          title: 'ارزانترین ها'
        },
        {
          id: 2,
          title: 'گرانترین ها'
        },
        {
          id: 3,
          title: 'پرتخفیف ترین ها'
        },
        {
          id: 4,
          title: 'پرفروش ترین ها'
        },
        {
          id: 5,
          title: 'جدیدترین ها'
        },
        {
          id: 6,
          title: 'نتایج جستجو'
        }
      ]
    }
  },
  computed: {
    filtersFirstPart () {
      const list = this.filters
      const middleIndex = Math.ceil(list.length / 2)

      const firstHalf = list.slice().splice(0, middleIndex)

      return firstHalf
    },
    filtersSecondPart () {
      const list = this.filters
      const middleIndex = Math.ceil(list.length / 2)
      const secondHalf = list.slice().splice(-middleIndex)

      return secondHalf
    }
  },
  mounted () {
    // this.searchInProducts()
    this.$refs.filterModal.filterRequest()
  },
  methods: {
    searchInProducts (filters = '') {
      this.isLoading = true
      this.$axios
        .get(`product?limit=150${filters}`)
        .then((response) => {
          if (!response.data.error) {
            this.products = response.data.data
          }
        })
        .catch((error) => {
          console.log(error)
        })
        .then(() => {
          this.isLoading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.filter-btn {
  min-width: 49px;
  height: 46px;
  background: #D81726;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-header span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
.section-filters {
  .filters-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #023047;
  }
}
</style>
