<template>
  <div class="content">
    <div class="flex justify-center items-center h-full">
      <div>
        <div class="flex justify-center items-center mb-5">
          <img src="@/assets/images/logo/icon.png" alt="">
        </div>
        <div class="flex justify-center items-center">
          <span>بینکو, بزرگترین بازار آنلاین مازندران</span>
        </div>
      </div>
    </div>
    <div class="flex justify-center navigation-bottom-mobile-box">
      <FormButton name="بزن بریم :)" bg-color="#4caf50e3" bg-color-hover="#4caf50e3" text-color="#fff" :on-click="()=>{$router.push({path: '/'})}" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'SplashScreen',
  layout: 'full'
}
</script>

<style lang="scss" scoped>
.content {
  height: 100vh;
  width: 100vw;
  // background: linear-gradient(169.89deg, #D81726 49.49%, #AF191F 99.14%);
  background-color: #FFFFFF;
  img {
    width: 200px;
  }
  span {
    font-size: 18px;
    font-weight: 900;
  }
}
.navigation-bottom-mobile-box {
  position: fixed;
  bottom: 27px;
  width: 100%;
  padding: 0 20px 0 20px;
}
</style>
