<template>
  <div>
    <div class="px-6 payment-content">
      <div class="flex justify-center mb-3">
        <img src="@/assets/images/others/payment-success.png">
      </div>
      <h2 class="mb-4">
        سفارش شما با موفقیت ثبت شد
      </h2>
      <h4 class="mb-4">
        کد تحویل جهت دریافت سفارش:
      </h4>
      <h2 class="mb-4">
        {{ invoiceId }}
      </h2>
    </div>

    <div class="navigation-bottom-mobile-box">
      <FormButton name="پیگیری سفارش" :on-click="()=>{$router.push({path: '/profile/orders' })}" />
      <div class="flex justify-center mt-6">
        <div @click="$router.push({path: '/' })">
          <div>
            <SvgIcon icon="home" />
          </div>
          <div class="home-label">
            خانه
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PaymentSuccessPage',
  layout: 'full',
  data () {
    return {
      status: '',
      reason: '',
      tranId: '',
      invoiceId: '',
      amount: ''
    }
  },
  mounted () {
    // eslint-disable-next-line camelcase
    const url_string = window.location.href
    const url = new URL(url_string)
    this.status = url.searchParams.get('status')
    this.reason = url.searchParams.get('reason')
    this.tranId = url.searchParams.get('tranId')
    this.invoiceId = url.searchParams.get('invoiceId')
    this.tranId = url.searchParams.get('tranId')
    this.amount = url.searchParams.get('amount')
  }
}
</script>

<style lang="scss" scoped>
.navigation-bottom-mobile-box {
  position: fixed;
  bottom: 17px;
  width: 100%;
  padding: 0 20px 0 20px;
}
.home-label {
  font-size: 11px;
  line-height: 17px;
  color: #000000;
}
.payment-content {
  margin-top: 25vh;
  h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #727272;
    text-align: center;
  }
  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    color: #000000;
    text-align: center;
  }
}
</style>
