<template>
  <div class="flex justify-between items-center transaction-item">
    <div class="state">
      <span v-if="item.status === 'deposit'" class="greeen">+ واریز</span>
      <span v-else class="reed">- برداشت</span>
    </div>
    <div>
      <span class="date">
        <JalaliDate :date="item.created_at" class-name="date" />
      </span>
    </div>
    <div>
      <Price class-name="price" :value="item.amount" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'TransactionMini',
  props: {
    item: {
      type: Object,
      default: null
    }
  }
}
</script>

<style lang="scss" scoped>
.transaction-item {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  height: 54px;
  padding: 14px;
  .state {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 17px;
    .greeen {
      color: #38B000;
    }
    .reed {
      color: #D81726;
    }
  }
  .date {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 4px;
    color: #727272;
  }
  .price {
    font-weight: 500;
    font-size: 11px;
    line-height: 17px;
    color: #000000;
  }
}
</style>
