<template>
  <div class="order-message-box">
    <div
      v-for="(note, index) in messages"
      :key="index"
      class="flex mb-4"
      :class="note.user ? 'justify-start' : 'justify-end'"
    >
      <div
        :class="note.user ? 'bg-grey-light me p-3' : 'bg-orange operator p-3'"
        style="width: 70%"
      >
        <div class="text-base comment-text">
          {{ note.text }}
        </div>
      </div>
    </div>
    <div v-if="false" class="flex justify-center items-center my-6">
      <FormInput name="نظر" :v-model.sync="text" :validate="{required: true}" placeholder="پیام ..." class="pl-4" />
      <SvgIcon icon="paper-plane" :size="27" @click.native="send()" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'OrderItemComponent',
  props: {
    items: {
      type: Array,
      default: null
    }
  },
  data () {
    return {
      text: '',
      formLoading: false
    }
  },
  computed: {
    messages () {
      // eslint-disable-next-line prefer-const
      let list = []
      this.items.forEach((item) => {
        if (item.text) {
          list.push(item)
        }
      })
      return list
    }
  },
  methods: {
    send () {
      if (this.formLoading) {
        return
      }
      this.formLoading = true
    }
  }
}
</script>

<style lang="scss" scoped>
.order-message-box {
  .comment-text {
    color: #474747;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
  }
  .me {
    width: 70%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .operator {
    width: 70%;
    background: #FFB6B6;
    border-radius: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
</style>
