<template>
  <div class="flex mt-2">
    <div class="order-mini-box p-4 shadow-drop relative" style="width: 100%;">
      <div class="mb-1 flex justify-start">
        <b>شماره پیگیری:</b>
        <span>{{ item.order_id }}</span>
      </div>
      <div class="mb-1 flex justify-start">
        <b>مبلغ سفارش:</b>
        <span><Price :value="item.amount" /></span>
      </div>
      <div class="mb-1 flex justify-start">
        <b>نام تحویل گیرنده:</b>
        <span>{{ item.address ? item.address.recipient : '' }}</span>
      </div>
      <div class="mb-1 flex justify-start">
        <b>تاریخ خرید:</b>
        <span><JalaliDate :date="item.created_at" /></span>
      </div>
      <div class="mb-1 flex justify-start">
        <b>نحوه پرداخت:</b>
        <span>{{ paymentType }}</span>
      </div>
      <div class="mb-1 flex justify-start">
        <b>آدرس:</b>
        <span>{{ item.address ? item.address.mainStreet : '' }}</span>
      </div>
      <div class="mb-1 flex justify-start">
        <b>وضعیت سفارش:</b>
        <span>{{ status }}</span>
      </div>
      <div class="actions">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'OrderItemComponent',
  props: {
    item: {
      type: Object,
      default: null
    }
  },
  computed: {
    status () {
      switch (this.item.status) {
        case 'pending':
          return this.pendingState(this.item.state)
        case 'verify':
          return this.verifyState(this.item.state)
        case 'cancelled':
          return this.cancelledState(this.item.state)
        default:
          return 'نامعلوم'
      }
    },
    paymentType () {
      let type
      switch (this.item.transaction.type) {
        case 'online':
          type = 'پرداخت آنلاین'
          break
        case 'offline':
          type = 'پرداخت در محل'
          break
        case 'credit':
          type = 'پرداخت از کیف پول'
          break
        default:
          type = 'نا معلوم'
          break
      }
      return type
    }
  },
  methods: {
    pendingState (key) {
      switch (key) {
        case 'operator':
          return 'در انتظار تایید اپراتور'
        case 'packaging':
          return 'در انتظار بسته بندی'
        case 'delivery':
          return 'در انتظار تحویل'
        case 'delivered':
          return 'در انتظار تحویل'
        case 'admin':
          return 'admin'
        default:
          return 'نامعلوم'
      }
    },
    verifyState (key) {
      switch (key) {
        case 'operator':
          return 'تایید شده توسط اپراتور'
        case 'packaging':
          return 'تایید شده توسط بسته بندی'
        case 'delivery':
          return 'تایید شده توسط مامور تحویل'
        case 'delivered':
          return 'به دست مشتری رسیده'
        case 'admin':
          return 'admin'
        default:
          return 'نامعلوم'
      }
    },
    cancelledState (key) {
      switch (key) {
        case 'operator':
          return 'رد شده توسط اپراتور'
        case 'packaging':
          return 'رد شده توسط مامور بسته بندی'
        case 'delivery':
          return 'رد شده توسط تحویل دهنده'
        case 'delivered':
          return 'رد شده توسط کاربر'
        case 'admin':
          return 'admin'
        default:
          return 'نامعلوم'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.order-mini-box {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  .actions {
    position: absolute;
    top: 12px;
    left: 12px;
  }
  b {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 25px;
    color: #474747;
    margin-left: 6px;
  }
  span {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 25px;
    color: #727272;
  }
}
</style>
