<template>
  <div class="notifications-item mb-4">
    <div class="message">
      {{ item.request.message }}
    </div>
    <div class="flex justify-end mt-5 date">
      <JalaliDate :date="item.created_at" class-name="date" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'NotificationsMini',
  props: {
    item: {
      type: Object,
      default: null
    }
  }
}
</script>

<style lang="scss" scoped>
.notifications-item {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  // height: 111px;
  padding: 14px;
  .message {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #023047;
  }
  .date {
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 17px;
    color: #C3C3C3;
  }
}
</style>
